<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Item updated successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Required Fields. <br />
            (Item type, Tag(must not be duplicate))
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            Please Enter Required Item Attribute Fields(Attributes with * beside them). <br />
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="form-group col-sm-12 text-right">
                  <button type="button" (click)="print()" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Click to Print this Page" class="btn btn-outline-danger btn-sm btn-right btn-top btn-group">
                    Print
                  </button>
                  <button type="button" (click)="help()" data-bs-placement="bottom" data-bs-toggle="tooltip" title=" Instructions" class="btn btn-outline-danger btn-sm btn-top btn-group">
                    Help
                  </button>
                  <div style="text-align: left; border: 1px solid; width: fit-content; background-color: whitesmoke;" *ngIf="helpFlag">
                    Note: Mandatory Fields are required.<br />
                    *To add a new item:<br />
                    1.Enter the data for the new item.<br />
                    2.Click the 'Save' button.<br />
                    *To edit an existing item: <br />
                    1.Enter the tag number and click 'Search' or click the 'Edit' button.<br />
                    2.If more than one item type is found for the tag number, select the desired type in the 'Select Type' drop down list.<br />
                    3.Make the necessary changes.<br />
                    4.Click the 'Save' button.
                  </div>
                </div>
                <div class="card-header">
                  <div class="col-12 p-0">
                    <div class="row">
                      <div class="col-12 col-md-3 margin-bottom-mobile">
                        <strong>Editing "{{ itemType }}" '{{ itemTag }}'</strong>
                      </div>
                      <div class="col-12 col-md-9 col-padding">
                        <button [routerLink]="['../../cloneItem/' + itemId]" [disabled]="itemRank < 3" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Clone Item" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          Clone
                        </button>
                        <button type="button" class="btn btn-primary margin-bottom-mobile btn-group" [routerLink]="['../../itemRepairs/' + itemId]" *ngIf="itemRank > 0" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Item Repairs" placement="top" style="margin-right: 3px">
                          Item Repairs
                        </button>
                        <button [routerLink]="['../../itemNotes/' + itemId + '/' + 0]" *ngIf="itemRank > 0" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Notes" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          Notes
                        </button>
                        <button [routerLink]="['../../attachments/' + itemId + '/' + currentAttachmentId]" *ngIf="itemRank > 0" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Click here to see Item Pictures" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          Pictures/Prints
                        </button>
                        <button (click)="GoToWareHousetag()" *ngIf="itemRank > 0" data-bs-placement="bottom" data-bs-toggle="tooltip" title="WarehouseTag" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          WarehouseTag
                        </button>
                        <button data-bs-placement="bottom" data-bs-toggle="tooltip" title="Find Replacement" [routerLink]="['/items/advancedSearch/' + itemId + '/' + model.typeId]" *ngIf="itemRank > 0" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          Find Replacement
                        </button>
                        <button data-bs-placement="bottom" data-bs-toggle="tooltip" title="Item Service" (click)="goToItemService()" *ngIf="itemRank > 3" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px">
                          Service
                        </button>
                        <button type="button" [disabled]="itemRank < 5 || highestRankNum == 9" class="btn btn-primary margin-bottom-mobile btn-group" style="margin-right: 3px" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Delete Item" (click)="openModal(confirmtemplate, itemId)">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <form #f="ngForm" novalidate>
                  <div class="card-body mobile-padding">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="type">Type Of Item <strong class="text-danger">*</strong></label>
                        <div class="custom-dropdown-wrapper">
                        <app-dropdown-treeview-select [items]="itemTypeItems" id="type" [(value)]="model.typeId"
                          (valueChange)="getItemTypeAttributes(model.typeId)">
                        </app-dropdown-treeview-select>
                        <span class="custom-dropdown-arrow"></span>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="tag">Item Tag# <strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control form-color" (change)="openModalForChangeTag(confirmtemplateforTag)" [(ngModel)]="model.tag" name="tag" #tag="ngModel" id="tag" placeholder="Enter Item Tag" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6"></div>
                      <div class="form-group col-sm-6">
                        <label for="name">Tag Check:</label>
                        <label for="name" style="color: red" *ngIf="model.typeId == null">select type before entering tag# </label><br />
                        <span class="form-control form-color" style="color: red" *ngIf="isDuplicateTag && model.typeId != null && model.tag != ''">
                          Tag already exists
                        </span>
                        <span class="form-control form-color" style="color: blue" *ngIf="!isDuplicateTag && model.typeId != null && model.tag != null && model.tag != ''">
                          Tag Available
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-12 col-md-6" *ngIf="itemRank > 1">
                        <p style="color: #002a64; font-size: 18px; font-weight: bold;">Changes Log Feed:</p>
                        <div style="height: auto; border: 3px red solid">
                          <br />
                          <ul *ngFor="let journal of journals | slice : 0 : 3; let i = index">
                            <li>
                              {{ journal.entry }} on {{ journal.enteredOn | date : 'MM/dd/yyyy' }} by {{ journal.enteredBy }}...........
                              <a [routerLink]="['../../../items/changeLog/', journal.entityId, journal.journalId]" (click)="modalRef.hide()">details</a>
                            </li>
                          </ul>
                          <button type="button" (click)="openMoreChanges()" data-bs-placement="bottom" data-bs-toggle="tooltip" title="click here for More Changes Log Feed" class="btn btn-primary more-changes btn-group">
                            More Changes
                          </button>
                        </div>
                      </div>
                      <div id="image" class="form-group col-12 col-md-6" *ngIf="itemRank > 0">
                        <div class="row">
                          <div class="col-sm-9" style="padding: 100px" *ngIf="model.defaultImageAttachmentId == null || model.defaultImageAttachmentId == 0; else showImage">
                            <div id="box">No Image for this Item</div>
                          </div>
                          <ng-template #showImage>
                            <div class="form-group col-sm-12">
                              <a (click)="openImage()" style="cursor: pointer">
                                <img class="img-fluid pull-right" [src]="imageSource" style="width: 500px; height: 300px" />
                              </a>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control form-color" [(ngModel)]="model.name" name="name" #name="ngModel" id="name" placeholder="Enter Item Name" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="status">Status <strong class="text-danger">*</strong></label>
                        <input type="text" readonly class="form-control" [(ngModel)]="model.status" name="status" #status="ngModel" id="status" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="price">Purchase price</label>
                        <input type="number" class="form-control form-color" [(ngModel)]="model.purchasePrice" id="price" name="purchasePrice" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="date">Purchase Date</label>
                        <input type="text" class="form-control form-color" [(ngModel)]="model.purchaseDate" id="date" name="critical" bsDatepicker />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="mtbs">MTBS</label>
                        <input type="number" class="form-control form-color" [(ngModel)]="model.meanTimeBetweenService" id="mtbs" name="mtbs" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="spareratio">Desired Spare Ratio</label>
                        <input type="number" class="form-control form-color" [(ngModel)]="model.desiredSpareRatio" id="spareratio" name="spareratio" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="mtbs">Days in "{{ model.status }}" status: {{ model.daysInService }}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="warranty">Warranty Type</label>
                        <select class="form-control form-color custom-dropdown" [(ngModel)]="model.warrantyTypeId" name="warranty" #warranty="ngModel" id="warranty">
                          <option [ngValue]="0" selected="true">Select Warranty Type</option>
                          <option [ngValue]="type.warrantyTypeId" *ngFor="let type of warrantyTypes">
                            {{ type.warrantyType }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="exp">Warranty Exp.</label>
                        <input type="text" class="form-control form-color" [(ngModel)]="model.warrantyExpiration" id="exp" name="exp" bsDatepicker />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-10">
                        <label for="location">Location <strong class="text-danger">*</strong></label>
                        <input type="text" readonly class="form-control" [(ngModel)]="model.locationName" name="locationName" #location="ngModel" id="locationName" />
                      </div>
                      <div class="form-group col-sm-2">
                        <label for="location"><strong class="text-danger"></strong></label>
                        <br />
                        <button type="button" style="padding: 6px, 30px; margin-top: 8px; margin-left: -30px;" data-bs-placement="bottom" data-bs-toggle="tooltip" title=" Click here for Item Transfer " class="btn btn-primary btn-group" [routerLink]="['../../transferItem/' + itemId]">
                          Item Transfer
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="description">Description</label>
                        <input type="text" class="form-control form-color" [(ngModel)]="model.description" name="description" #description="ngModel" id="description" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" *ngFor="let eachAttr of typeAttributes; let i = index">
                        <div>
                          <label *ngIf="eachAttr.isRequired">{{ eachAttr.name }}<span style="color: red"><strong>*</strong></span></label>
                          <label *ngIf="!eachAttr.isRequired">{{ eachAttr.name }}</label>
                          <div>
                            <input *ngIf="eachAttr.attributeType.attributeTypeId == 1" type="number" class="form-control" [(ngModel)]="eachAttr.value" name="number{{ i }}" />
                            <input *ngIf="eachAttr.attributeType.attributeTypeId == 2" type="text" class="form-control" [(ngModel)]="eachAttr.value" name="text{{ i }}" />
                            <input *ngIf="eachAttr.attributeType.attributeTypeId == 6" type="text" class="form-control" [(ngModel)]="eachAttr.value" name="multiValue{{ i }}" />
                            <input *ngIf="eachAttr.attributeType.attributeTypeId == 3" type="date" class="form-control" [(ngModel)]="eachAttr.value" name="radio{{ i }}" #state="ngModel" />
                            <select *ngIf="eachAttr.attributeType.attributeTypeId == 4" class="form-control custom-dropdown" [(ngModel)]="eachAttr.value" name="select{{ i }}" #type="ngModel">
                              <option [ngValue]="''">Choose..</option>
                              <option [ngValue]="list.listItem" *ngFor="let list of eachAttr.attributeListItemResource">
                                {{ list.listItem }}
                              </option>
                            </select>
                            <div class="form-check d-flex align-items-center gap-3" *ngIf="eachAttr.attributeType.attributeTypeId == 5">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="eachAttr.value" name="radios{{ i }}" id="radio1" [value]="'True'" checked />
                                <label class="form-check-label" for="radio1">Y</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="eachAttr.value" name="radios{{ i }}" id="radio2" [value]="'False'" />
                                <label class="form-check-label" for="radio2">N</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="eachAttr.value" name="radios{{ i }}" id="radio3" [value]="'N/A'" />
                                <label class="form-check-label" for="radio3">N/A</label>
                              </div>
                            </div>
                            <textarea *ngIf="eachAttr.attributeType.attributeTypeId == 7" name="textarea{{ i }}" rows="2" cols="4" class="form-control" [(ngModel)]="eachAttr.value" placeholder="Enter Value"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Add after Warranty section and before Item Attributes section -->

<div *ngIf="itemMMS && mmsData" class="mt-3">
  <h6 style="color:red">MMS Data</h6>
  
  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>MMS Item ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.mmsItemID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Item ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.itemId || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Customer Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.customerNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Group Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.groupNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Disposition Employee ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.dispositionEmployeeID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Add Reason Code:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.addReasonCode || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>File:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.file || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>QC Fail:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.qcFail || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Critical:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.critical || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Critical Last Test Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.criticalLastTestDate ? (mmsData.criticalLastTestDate | date:'MM/dd/yyyy') : 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Dept Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.deptNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Process ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.processID || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Driven Machine ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.drivenMachineID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Dept Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.reservedForDeptNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved Only For:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.reservedOnlyFor || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Replaced Tag:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.replacedTag || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Replaced By Tag:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.replacedByTag || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Obtained Under Warranty:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.obtainedUnderWarranty || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR From Work Order:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrFromWorkOrder || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Customer Work Order Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrCustomerWorkOrderNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Req Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrReqNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR RFQ Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrRfqNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR PO Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrPoNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Vendor Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrVendorNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Received Back Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrReceivedBackDate ? (mmsData.lrReceivedBackDate | date:'MM/dd/yyyy') : 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Warranty End Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.lrWarrantyEndDate ? (mmsData.lrWarrantyEndDate | date:'MM/dd/yyyy') : 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR From Work Order Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purFromWorkOrderNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR From Cus Work Order Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purFromCusWorkOrderNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Req Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purReqNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR RFQ Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purRfqNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR PO Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purPoNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Vendor Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purVendorNumber || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR List Price:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purListPrice || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Net Price:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purNetPrice || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Purchase Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purPurchaseDate ? (mmsData.purPurchaseDate | date:'MM/dd/yyyy') : 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Warranty Length OEM:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purWarrantyLengthOem || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Warranty Start Date OEM:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.purWarrantyStartDateOem | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Warranty End Date OEM:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.purWarrantyEndDateOem | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>PUR Purchased By Dept Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.purPurchasedByDeptNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Sold To:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.soldTo || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Sold Price:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.soldPrice || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrap Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.scrapDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrap Location:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.scrapLocation || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrapper Name:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.scrapperName || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrap Value:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.scrapValue || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Create Employee ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.createEmployeeID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Create Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.createDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Updated Employee ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.updatedEmployeeID || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Updated Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.updatedDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Comments:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.comments || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Location Change Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.locationChangeDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>LR Date On Repair Tag:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.lrDateOnRepairTag | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Process ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.reservedForProcessID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Driven Machine ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.reservedForDrivenMachineID || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Last Run Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.lastRunDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Shaft Rotate Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.shaftRotateDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Shaft Position:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.shaftPosition || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Recommend Replace:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.recommendReplace || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Recommend Replace Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.recommendReplaceDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Recommend Replace From Field Test:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.recommendReplaceFromFieldTest || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Recommend Replace Removed Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.recommendReplaceRemovedDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Recommend Replace Removed Comment:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.recommendReplaceRemovedComment || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Stamp ID Plant ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.stampIdPlantID || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Stamp ID Part Stamp ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.stampIdPartStampID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Stamp ID Part Model ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.stampIdPartModelID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>CVTPL Loc Type:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.cvtplLocType || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>CVTPL Dept:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.cvtplDept || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>CVTPL Process:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.cvtplProcess || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>CVTPL Driven Machine:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.cvtplDrivenMachine || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>CVTPL Updated Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.cvtplUpdatedDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Stamp ID Part ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.stampIdPartID || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Imported Not Reviewed:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.importedNotReviewed || 'N/A' }}</span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Inventoried Date:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ (mmsData.inventoriedDate | date:'MM/dd/yyyy') || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrap Pedat Vendor:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.scrapPedatVendor || 'N/A' }}</span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Scrap Bol Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span>{{ mmsData.scrapBolNumber || 'N/A' }}</span></div>
      </div>
    </div>
  </div>
</div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button data-bs-placement="bottom" data-bs-toggle="tooltip" title="Update this Item" (click)="updateItem()" class="btn btn-primary btn-right btn-group">
                          Update
                        </button>
                        <button type="button" (click)="back()" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Back to ViewItem" class="btn btn-primary btn-group">
                          Back
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Item Pictures</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-image-viewer [src]="images"></ngx-image-viewer>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" [routerLink]="['../../attachments/' + itemId + '/' + currentAttachmentId]">Manage Pictures</a>
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this item or Click(No) to discard This action.
    </p>
    <button type="button" class="btn btn-primary btn-right" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
<ng-template #confirmtemplateforTag>
  <div class="modal-body text-center">
    <p>
      The Tag Number Has been changed.Click OK if you are sure that you want to change Tag number.
    </p>
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="checkItemTag()">
      OK
    </button>
    <button type="button" class="btn btn-primary" (click)="CancelItemTagChange()">
      Cancel
    </button>
  </div>
</ng-template>
<div *ngIf="loader" style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 2; cursor: pointer; -ms-transform: translate(-50%, -50%); transform: translate(-1%, -1%);">
  <div _ngcontent-c0 class="loader"></div>
</div>
<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }
  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
