<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
            title="Click to Print this Page"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            class="btn btn-outline-danger btn-sm btn-top"
            title=" Instructions"
          >
            Help
          </button>
          <div
            *ngIf="helpFlag"
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.<br />
            *For Items, a default image can be supplied:<br />
            1.The Default Image is highlighted yellow in the Attachment list.<br />
            2.Only Image type files may be designated as the Default Image
            (.jpg, .gif, etc.).<br />
            3.Only one Image may be designated as the Default Image.<br />
          </div>
        </div>
        <div class="card-body">
          <alert *ngIf="msg === 2" type="success" [dismissible]="dismissible">
            Image is saved as Default Image for this Item.
          </alert>
          <div>
            <strong>Item: "{{ itemType }}" '{{ itemTag }}'</strong>
          </div>
          <p class="card-text">
            Manage Pictures
            <button
              type="button"
              [disabled]="itemRank < 3 || itemRank === 4 || itemRank === 5"
              class="btn btn-primary float-right"
              (click)="addItemDocument()"
              title="Add Item Attachment."
              style="border-radius: 6px;"
            >
              Add Document
            </button>
          </p>
          <div class="select-pagination-option">
            <div class="float-left">
              <span>
                Show
                <select [(ngModel)]="itemsForPagination">
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select>
                entries
              </span>
            </div>
          </div>
          <div class="float-right div-search">
            <span>Search : </span>
            <input [(ngModel)]="documentFilter" />
          </div>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th
                  [class.active]="order === 'description'"
                  (click)="setOrder('description')"
                >
                  Description
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'dateAdded'"
                  (click)="setOrder('dateAdded')"
                >
                  Added
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'addedBy'"
                  (click)="setOrder('addedBy')"
                >
                  By
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let document of documents
                    | orderBy : reverse + order
                    | filterBy : ['description', 'dateAdded', 'addedBy'] : documentFilter
                    | paginate : { itemsPerPage: itemsForPagination, currentPage: p }
                "
                [class.color]="currentAttachmentId === document.attachmentId"
              >
                <td [innerHTML]="document.description"></td>
                <td [innerHTML]="document.dateAdded | date : 'MM/dd/yyyy'"></td>
                <td [innerHTML]="document.addedBy"></td>
                <td>
                  <button
                    type="button"
                    [disabled]="itemRank < 6 || !document.show"
                    *ngIf="itemRank > 0"
                    class="btn btn-outline-danger btn-sm"
                    (click)="setActiveCompany(document)"
                    title="View Picture and Set As Default"
                  >
                    View and SetAsDefault
                  </button>
                  <button
                    type="button"
                    *ngIf="itemRank > 0"
                    class="btn btn-outline-danger btn-sm"
                    (click)="downloadDocuments(document)"
                    title="Download File"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    [disabled]="itemRank < 6"
                    class="btn btn-outline-danger btn-sm"
                    (click)="editItemDocument(document)"
                    title="Edit Item Attachment"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    [disabled]="itemRank < 6 || highestRank === 9"
                    class="btn btn-outline-danger btn-sm"
                    (click)="openModal(confirmtemplate, document.attachmentId)"
                    title="Delete Item Attachment"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 text-center">
      <button
        type="button"
        (click)="backToViewItem()"
        class="btn btn-primary"
        style="border-radius: 6px;"
        title="Back to View Item"
      >
        Back To Item
      </button>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this ItemAttachments or Click(No) to
      discard This action.
    </p>
    <button type="button" class="btn btn-primary btn-right" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div
  bsModal
  #myModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Set Default Image</h4>
        <button
          type="button"
          class="close"
          (click)="myModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img
          *ngIf="activeCompanyDocument"
          [src]="imageSource"
          style="height: 100%; width: 100%"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="myModal.hide()"
          title="Click here to Close"
        >
          Close
        </button>
        <button
          type="button"
          [disabled]="itemRank < 3 || itemRank === 4 || itemRank === 5"
          class="btn btn-primary"
          (click)="setAsDefault(activeCompanyDocument)"
          title="Click here to SetAsDefault Image"
        >
          Set As Default
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    transform: translate(-1%, -1%);
  "
>
  <div class="loader"></div>
</div>

<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-bottom {
    position: relative;
    animation: animatebottom 1s;
  }
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }
  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
