.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}
.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}
.color {
  background-color: rgb(234, 241, 133);
}
