.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

.color {
  background-color: rgb(234, 241, 133);
}

.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.card-body {
  padding: 20px;
}

.card-header {
  padding: 12px 20px;
}

.form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

.select-pagination-option {
  height: 0;
}

.float-right {
  float: right;
}

.card,
button {
  border-radius: 0;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}
