<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            Note: Mandatory Fields are required.<br />
            * To create a new Company:<br />
            1.Click the 'Add Company' button.<br />
            1.Enter the Company information below.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing Company:<br />
            1.Click on 'Edit' button. <br />
            2.Make necessary changes.<br />
            3.Click the 'Save' button.<br />
            * To delete an existing Company:<br />
            1. Click on 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Company details updated successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Company Name and Required Attributes
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            Entered Company Name already present
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-sm-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Editing Company '{{ model.name }}'</strong>
                </div>
                <form name="form" #f="ngForm" novalidate>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="name"
                          >Name <span style="color: red">*</span></label
                        >
                        <input
                          type="text"
                          [(ngModel)]="model.comapnyid"
                          name="comapnyid"
                          #comapnyid="ngModel"
                          id="comapnyid"
                          hidden
                        />
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.name"
                          name="name"
                          #name="ngModel"
                          id="name"
                          placeholder="Enter Company Name"
                        />
                      </div>
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="url">URL</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.url"
                          name="url"
                          #url="ngModel"
                          id="url"
                          placeholder="Enter URL"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="phone">Phone</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="model.phone"
                          name="phone"
                          #phone="ngModel"
                          id="phone"
                          placeholder="Enter Phone"
                        />
                      </div>
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="fax">Fax</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.fax"
                          id="fax"
                          name="fax"
                          #fax="ngModel"
                          placeholder="Enter Fax"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="AddressLine1">Address Line1</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.address1"
                          name="address1"
                          #address1="ngModel"
                          id="AddressLine1"
                          placeholder="Enter Address 1"
                        />
                      </div>
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="AddressLine2">Address Line2</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.address2"
                          name="address2"
                          #address2="ngModel"
                          id="AddressLine2"
                          placeholder="Enter Address 2"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="city">City</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.city"
                          name="city"
                          #city="ngModel"
                          id="city"
                          placeholder="Enter City"
                        />
                      </div>
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="state">State</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.state"
                          name="state"
                          #state="ngModel"
                          id="state"
                          placeholder="Enter State"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="pcode">Postal Code</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="model.postalCode"
                          name="postalCode"
                          #postalCode="ngModel"
                          id="pcode"
                          placeholder="Enter Postal Code"
                        />
                      </div>

                      <div class="form-group col-sm-6 form-group-padding">
                        <label for="status">Status</label>
                        <select
                          class="form-control custom-dropdown"
                          [(ngModel)]="model.statusId"
                          name="status"
                          #status="ngModel"
                          id="status"
                        >
                          <option value="">Choose..</option>
                          <option
                            [ngValue]="stat.statusId"
                            *ngFor="let stat of statuses"
                          >
                            {{ stat.status }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 form-group-padding">
                        <label for="desc">Description</label>
                        <textarea
                          id="desc"
                          name="textarea-input"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="model.description"
                          name="description"
                          #description="ngModel"
                          placeholder="Enter Description"
                        ></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 form-group-padding">
                        <label for="logo">Add Company Logo: </label>
                        <label for="desc"
                          ><strong>{{ model.companyfileName }}</strong></label
                        >
                        <input
                          type="file"
                          class="form-control"
                          (change)="fileChangeListener($event)"
                          name="logo"
                          id="logo"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 form-group-padding">
                        <label for="companyType">Company Types</label>

                       <select
  #dropdown
  id="itemType"
  class="form-control custom-dropdown"
  [(ngModel)]="model.typeId"
  (change)="getAttributes(dropdown.value)"
>
  <option *ngFor="let item of items" [value]="item.value">
    {{ item.text }}
  </option>
</select>

                      </div>
                    </div>
                    <div class="row" *ngIf="isOwnerAdmin === 'true'">
                      <div class="form-group col-sm-12 form-group-padding">
                        <label for="tracratAnnouncements"
                          >Tracrat Announcements</label
                        >
                        <textarea
                          id="tracratAnnouncement"
                          name="textarea-input"
                          rows="2"
                          cols="4"
                          name="tracratAnnouncements"
                          #tracratAnnouncements="ngModel"
                          class="form-control"
                          [(ngModel)]="model.tracratAnnouncements"
                          placeholder="Enter Description"
                        ></textarea>
                        <button
                          (click)="saveMessage()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Save Message"
                          class="btn btn-primary"
                          style="border-radius: 6px;"
                        >
                          Save Message
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 form-group-padding">
                        <label for="companyAnnouncements"
                          >Company Announcements</label
                        >
                        <textarea
                          id="companyAnnouncements"
                          name="textarea-input"
                          rows="2"
                          cols="4"
                          name="companyAnnouncements"
                          #companyAnnouncements="ngModel"
                          class="form-control"
                          [(ngModel)]="model.announcement.announcementText"
                          placeholder="Enter announcement"
                        ></textarea>
                      </div>
                    </div>
                    <div
                      class="row"
                      *ngFor="let eachAttr of typeAttributes; let i = index"
                    >
                      <div class="form-group col-sm-12">
                        <label *ngIf="eachAttr.isRequired == true"
                          >{{ eachAttr.name
                          }}<span style="color: red">*</span></label
                        >
                        <label *ngIf="eachAttr.isRequired == false">{{
                          eachAttr.name
                        }}</label>
                        <div>
                          <input
                            *ngIf="eachAttr.attributeType.attributeTypeId == 1"
                            type="number"
                            class="form-control"
                            [(ngModel)]="eachAttr.value"
                            [tooltip]="eachAttr.tooltip"
                            name="number{{ i }}"
                            #state="ngModel"
                            placeholder="Enter Value"
                          />
                          <input
                            *ngIf="eachAttr.attributeType.attributeTypeId == 2"
                            type="text"
                            class="form-control"
                            [(ngModel)]="eachAttr.value"
                            name="text{{ i }}"
                          />
                          <input
                            *ngIf="eachAttr.attributeType.attributeTypeId == 6"
                            type="text"
                            class="form-control"
                            [(ngModel)]="eachAttr.value"
                            name="multiValue{{ i }}"
                          />
                          <input
                            *ngIf="eachAttr.attributeType.attributeTypeId == 3"
                            type="date"
                            class="form-control"
                            [(ngModel)]="eachAttr.value"
                            [tooltip]="eachAttr.tooltip"
                            triggers="focus"
                            placement="top"
                            name="state"
                            #state="ngModel"
                            placeholder="Select date"
                          />

                          <select
                            *ngIf="eachAttr.attributeType.attributeTypeId == 4"
                            class="form-control custom-dropdown"
                            [tooltip]="eachAttr.tooltip"
                            triggers="focus"
                            placement="top"
                            [(ngModel)]="eachAttr.value"
                            name="select{{ i }}"
                            name="type"
                            #type="ngModel"
                          >
                            <option value="">Choose..</option>
                            <option
                              [ngValue]="list.listitem"
                              *ngFor="
                                let list of eachAttr.attributeListItemResource
                              "
                            >
                              {{ list.listitem }}
                            </option>
                          </select>
                          <div
                            class="form-check"
                            [tooltip]="eachAttr.tooltip"
                            triggers="focus"
                            placement="top"
                            *ngIf="eachAttr.attributeType.attributeTypeId == 5"
                          >
                            <label
                              class="form-check-label margin-right"
                              for="radio1"
                              >&nbsp;
                              <input
                                class="form-check-input"
                                type="radio"
                                [(ngModel)]="eachAttr.value"
                                name="radios"
                                id="radio1"
                                value="Y"
                                checked
                              />Y&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label
                              class="form-check-label margin-right"
                              for="radio2"
                              >&nbsp;
                              <input
                                class="form-check-input"
                                type="radio"
                                [(ngModel)]="eachAttr.value"
                                name="radios"
                                id="radio2"
                                value="N"
                              />N&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label class="form-check-label" for="radio3"
                              >&nbsp;&nbsp;
                              <input
                                class="form-check-input"
                                type="radio"
                                [(ngModel)]="eachAttr.value"
                                name="radios"
                                id="radio3"
                                value="N/A"
                              />N/A
                            </label>
                          </div>
                          <textarea
                            *ngIf="eachAttr.attributeType.attributeTypeId == 7"
                            [tooltip]="eachAttr.tooltip"
                            triggers="focus"
                            placement="top"
                            name="textarea-input"
                            rows="2"
                            cols="4"
                            name="companyAnnouncements"
                            #companyAnnouncements="ngModel"
                            class="form-control"
                            [(ngModel)]="eachAttr.value"
                            placeholder="Enter Value"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          (click)="updateCompany()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Update this Company"
                          class="btn btn-primary btn-right"
                        >
                          Update
                        </button>
                        <button
                          type="button"
                          (click)="cancel()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel Updating Company"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
