  .help-box {
    border: 1px solid;
    width: fit-content;
    background-color: whitesmoke;
  }

  .scroll-box {
    overflow: auto;
  }

  .rounded-btn {
    border-radius: 6px;
  }

.form-control {
  background-color: #fff !important;
}

