<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top btn-group"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top btn-group"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
          >
            Help
          </button>

          <!-- Inline style kept (no Bootstrap replacement for fit-content + border) -->
          <div
            *ngIf="helpFlag"
            style="text-align: left; border: 1px solid; width: fit-content; background-color: whitesmoke;"
          >
            *To add an attachment:<br />
            1. Click the 'Choose File' button to locate the desired file.<br />
            2. Enter a description for the file.<br />
            3. Click the 'Save' button.<br />
            *To edit an attachment:<br />
            1. Click the 'Edit' button.<br />
            2. Make necessary changes.<br />
            3. Click on 'Update' button.<br />
            *To delete an attachment:<br />
            1. Click the 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">Edit Company Documents</p>

          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Company Documents Updated successfully.
          </alert>

          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <form
                  #f="ngForm"
                  name="form"
                  novalidate
                  (ngSubmit)="f.form.valid && updateCompanyDocument()"
                >
                  <div class="card-body">
                    <!-- Hidden fields -->
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input type="file" class="form-control" id="logo" name="logo" hidden />

                        <input
                          type="text"
                          [(ngModel)]="model.dateAdded"
                          name="added"
                          id="added"
                          #added="ngModel"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.addedBy"
                          name="by"
                          id="by"
                          #by="ngModel"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.attachmentId"
                          name="_id"
                          id="_id"
                          #_id="ngModel"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.entityId"
                          name="companyId"
                          id="companyId"
                          #companyId="ngModel"
                          hidden
                        />
                      </div>
                    </div>

                    <!-- Description -->
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Description</label>
                        <textarea
                          id="desc"
                          name="description"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="model.description"
                          #description="ngModel"
                          placeholder="Enter Description"
                        ></textarea>
                      </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          class="btn btn-primary btn-right btn-group"
                          title="Update this Company Document"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"                       
                        >
                          Update
                        </button>
                        <button
                          type="button"
                          (click)="cancelCompanyDocument()"
                          class="btn btn-primary btn-group"
                          title="Cancel"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"                         
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loader Overlay -->
<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>
