.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}
.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}
thead th {
  cursor: pointer;
  span {
    visibility: hidden;
  }
  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
.float-right {
  float: right;
}
.div-search {
  margin-bottom: 1%;
  margin-top: 1%;
}
.align-center {
  text-align: center;
}

.type-header {
  padding: 0.3rem;
  background-color: lightgrey;
}

.card {
  margin-bottom: 0rem;
}
