<div class="animated fadeIn" *ngIf="highestRank > 5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="help()"
            tooltip=" Instructions"
            class="btn btn-outline-danger btn-sm"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            * To create a new status:<br />
            1.Click the 'Add Status' button.<br />
            2.Enter the new status data.<br />
            3.Click the 'Save' button.<br />
            * To edit an existing status:<br />
            1.Click 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Save' button.<br />
            * To delete an existing status:<br />
            1.Click the 'Delete' button.<br />
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            Manage {{ globalCompany.name }} Location Status
            <button
              type="button"
              class="btn btn-primary float-right"
              (click)="addStatus()"
              tooltip="Add new Status."
              placement="top"
            >
              Add Status
            </button>
          </p>
          <div>
            <div class="float-left">
              <span
                >Show
                <select [(ngModel)]="itemsForPagination">
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select>
                entries
              </span>
            </div>
          </div>
          <div class="float-right div-search">
            <span>Search : </span>
            <input [(ngModel)]="statusFilter" />
          </div>
          <table
            class="table table-responsive-sm table-hover table-outline mb-0 mt-2"
          >
            <thead class="thead-light">
              <tr>
                <th
                  [class.active]="order === 'status'"
                  (click)="setOrder('status')"
                >
                  Status<span [hidden]="reverse == ''">▼</span
                  ><span [hidden]="reverse != ''">▲</span>
                </th>

                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let company of statuses
                    | orderBy : reverse + order
                    | filterBy : ['status', 'added', 'by'] : statusFilter
                    | paginate
                      : { itemsPerPage: itemsForPagination, currentPage: p }
                "
              >
                <td>{{ company.status }}</td>

                <td>
                  <button
                    type="button"
                    *ngIf="highestRank > 5"
                    class="btn btn-outline-danger btn-sm"
                    tooltip="Update this Status"
                    (click)="editStatus(company)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    *ngIf="highestRank > 5"
                    class="btn btn-outline-danger btn-sm"
                    tooltip="Delete this Status"
                    (click)="openModal(confirmtemplate, company.statusid)"
                    [disabled]="highestRank == 9"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this status or Click(No) to discard This
      action.
    </p>
    <button type="button" class="btn btn-primary" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
