<div class="animated fadeIn" *ngIf="highestRank > 6">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-end">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
            style="border-radius: 6px;"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
            style="border-radius: 6px;"
          >
            Help
          </button>

          <div
            class="p-2 mb-2"
            [ngStyle]="{
              textAlign: 'left',
              border: '1px solid',
              width: 'fit-content',
              backgroundColor: 'whitesmoke'
            }"
            *ngIf="helpFlag"
          >
            Note: Mandatory Fields are required.<br />
            * To add new Attributes:<br />
            1.Select the Type from the 'Select a Type' pop-up for the new Attribute or Click the 'Add' button.<br />
            2.Enter the information for the Attribute.<br />
            3.Click the 'Save' button.<br />
            * To edit an Attribute:<br />
            1.Select the Type from the 'Select a Type' pop-up for the Attribute.<br />
            2.Select the Attribute from the 'Select an Attribute' list.<br />
            3.Make necessary changes to the Attribute.<br />
            4.Click the 'Save' button.<br />
            * To delete an Attribute:<br />
            1.Click on 'Remove' button.
          </div>
        </div>

        <div class="card-body p-3">
          <div class="modal-body p-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <strong>Manage {{ companyName }} Attributes</strong>
                </div>
                <form name="form">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-10">
                        <alert
                          *ngIf="index === -1"
                          type="danger"
                          [dismissible]="dismissible"
                        >
                          Please Enter Required Fields
                        </alert>
                        <alert
                          *ngIf="index === 1"
                          type="success"
                          [dismissible]="dismissible"
                        >
                          Company Attribute saved successfully.
                        </alert>
                        <alert
                          *ngIf="index === 2"
                          type="success"
                          [dismissible]="dismissible"
                        >
                          Company Attribute Updated successfully.
                        </alert>
                        <alert
                          *ngIf="index === 3"
                          type="success"
                          [dismissible]="dismissible"
                        >
                          Company Attribute Deleted successfully.
                        </alert>
                        <alert
                          *ngIf="index === 4"
                          type="success"
                          [dismissible]="dismissible"
                        >
                          Company Attributes Order Saved successfully.
                        </alert>
                      </div>

                      <div class="col-sm-3">Select Company Type</div>
                      <div class="col-sm-4 company-type-dropdown">
                        <app-dropdown-treeview-select
                          [items]="items"
                          [(value)]="value"
                          (valueChange)="onValueChange($event)"
                        ></app-dropdown-treeview-select>
                        <span class="custom-dropdown-arrow"></span>
                      </div>
                      <div class="col-sm-8"></div>
                    </div>

                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 col-md-4">
                          Select Attribute
                          <ngx-sortable
                            [items]="typeAttributes"
                            [name]="'attributesList'"
                            [listStyle]="listStyle"
                          >
                            <ng-template let-item="item">
                              <ul
                                (click)="
                                  setSelectedAttribute(item);
                                  model = item;
                                  selectedAttrType = item.attributeType;
                                  index = 0;
                                  getSearchTypes(item.attributeType?.attributeTypeId);
                                  addEditFlag = true
                                "
                              >
                                <a>{{ item.name }}</a>
                              </ul>
                            </ng-template>
                          </ngx-sortable>
                          <div class="text-center mt-2">
                            <button
                              type="button"
                              *ngIf="addEditFlag"
                              class="btn btn-primary btn-top"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="Save Order Attribute"
                              (click)="saveAttributeListOrder(typeAttributes)"
                              style="border-radius: 6px;"
                            >
                              Save Order
                            </button>
                          </div>
                        </div>

                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="name">Name <strong class="text-danger">*</strong></label>
                              <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="model.name"
                                name="name"
                                #name="ngModel"
                                id="name"
                                placeholder="Enter Name"
                              />
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="Toa">Type of Attribute <strong class="text-danger">*</strong></label>
                              <select
                                class="form-control custom-dropdown"
                                [(ngModel)]="model.attributeType.attributeTypeId"
                                name="Toa"
                                id="Toa"
                                (change)="getSearchTypes(model.attributeType.attributeTypeId)"
                              >
                                <option [value]="null">Select attribute Type</option>
                                <option *ngFor="let type of attributeTypes" [ngValue]="type.attributeTypeId">
                                  {{ type.typeName }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="aToolTip">Attribute Tooltip</label>
                              <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="model.toolTip"
                                name="aTp"
                                #aTp="ngModel"
                                id="aToolTip"
                                placeholder="Enter Attribute Tooltip"
                              />
                            </div>
                          </div>

                          <div class="row" *ngIf="model.attributeType.attributeTypeId == 4">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="listValues">List Values</label>
                              <div class="row">
                                <div class="col-sm-5">
                                  <input
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="listItem"
                                    name="lItem"
                                    #lItem="ngModel"
                                    id="listValues"
                                    placeholder="Enter List value"
                                  />
                                </div>
                                <div class="col-sm-5">
                                  <select name="listItems" class="form-control custom-dropdown ms-1">
                                    <option *ngFor="let addedItem of model.attributeListItemResource">
                                      {{ addedItem.listItem }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <button type="button" class="btn btn-primary btn-list mt-2 btn-group" (click)="addListItem()">Add to List</button>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="sType">Search Type</label>
                              <select
                                class="form-control custom-dropdown"
                                [(ngModel)]="model.searchType.attributeSearchTypeId"
                                id="sType"
                                name="sType"
                              >
                                <option [value]="null">Select Search Type</option>
                                <option *ngFor="let searchType of searchTypes" [ngValue]="searchType.attributeSearchTypeId">
                                  {{ searchType.searchType }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-12 mb-3">
                              <label for="rField" class="btn-right">Required Field</label>
                              <input
                                type="checkbox"
                                id="rField"
                                name="rField"
                                #rField="ngModel"
                                [(ngModel)]="model.isRequired"
                              />
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-12 text-center add-form mb-3">
                              <button
                                type="button"
                                *ngIf="!addEditFlag && highestRank > 6"
                                [disabled]="typeId == 0"
                                class="btn btn-primary btn-right"
                                (click)="createAttribute()"
                                title="Add New Attribute"
                                style="border-radius: 6px;"
                              >
                                Add
                              </button>
                              <button
                                type="button"
                                *ngIf="addEditFlag && highestRank > 6"
                                class="btn btn-primary btn-right"
                                (click)="editAttribute()"
                                title="Edit this Attribute"
                                style="border-radius: 6px;"
                              >
                                Update
                              </button>
                              <button
                                type="button"
                                *ngIf="addEditFlag && highestRank > 6"
                                class="btn btn-primary btn-right"
                                (click)="newAttribute()"
                                title="Add New Attribute"
                                style="border-radius: 6px;"
                              >
                                New
                              </button>
                              <button
                                type="button"
                                *ngIf="addEditFlag && highestRank > 6"
                                [disabled]="highestRank == 9"
                                class="btn btn-primary btn-right"
                                (click)="openModal(confirmtemplate)"
                                title="Delete this Attribute"
                                style="border-radius: 6px;"
                              >
                                Remove
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary"
                                (click)="cancelCompanyAttributes()"
                                title="Back"
                                style="border-radius: 6px;"
                              >
                                Back
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title">Second modal</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    This is nested modal.
    <br />
    <button *ngIf="modalRef" type="button" class="btn btn-danger" (click)="closeFirstModal()">Close first modal</button>
  </div>
</ng-template>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>Click(Yes) to permanently delete this Attribute or Click(No) to discard This action.</p>
    <button type="button" class="btn btn-primary btn-right btn-group" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary btn-group" (click)="decline()">No</button>
  </div>
</ng-template>

<div *ngIf="loader" class="loader-backdrop">
  <div class="loader"></div>
</div>
