<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.<br />
            *For Items, a default image can be supplied:<br />
            1.The Default Image is highlighted yellow in the Attachment list.<br />
            2.Only Image type files may be designated as the Default Image
            (.jpg, .gif, etc.).<br />
            3.Only one Image may be designated as the Default Image.<br />
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">Edit Item Attachment</p>
          <div>
            <strong>Item: "{{ itemType }}" '{{ itemTag }}'</strong>
          </div>
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Item Attachment Updated successfully.
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && updateItemDocument()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input
                          type="file"
                          class="form-control"
                          name="logo"
                          id="logo"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.dateadded"
                          name="added"
                          #added="ngModel"
                          id="added"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.addedby"
                          name="by"
                          #by="ngModel"
                          id="by"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.attachmentid"
                          name="_id"
                          #_id="ngModel"
                          id="_id"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.entityid"
                          name="locationId"
                          #locationId="ngModel"
                          id="locationId"
                          hidden
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Description</label>
                        <textarea
                          id="desc"
                          name="textarea-input"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="model.description"
                          name="description"
                          #description="ngModel"
                          placeholder="Enter Description"
                        ></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label>Make the Image as Default</label>
                        <div class="form-check">
                          <label
                            class="form-check-label margin-right"
                            for="radio1"
                          >
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="model.defaultImage"
                              name="radios"
                              id="radio1"
                              value="true"
                              checked
                            />Yes
                          </label>
                          <label
                            class="form-check-label margin-right"
                            for="radio2"
                          >
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="model.defaultImage"
                              name="radios"
                              id="radio2"
                              value="false"
                            />No
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Update Item Attachment"
                          class="btn btn-primary"
                        >
                          Update
                        </button>
                        <button
                          type="button"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel"
                          (click)="cancelItemDocument()"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
