<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <p class="card-text" style="font-weight: bold; font-size: 22px">
            Item Notes:
          </p>
          <div class="form-group col-sm-12 text-right">
            <button
              type="button"
              (click)="print()"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title="Click to Print this Page"
              class="btn btn-outline-danger btn-sm btn-right btn-top"
            >
              Print
            </button>
            <button
              type="button"
              (click)="help()"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title=" Instructions"
              class="btn btn-outline-danger btn-sm btn-top"
            >
              Help
            </button>
            <div
              style="
                text-align: left;
                border: 1px solid;
                width: fit-content;
                background-color: whitesmoke;
              "
              *ngIf="helpFlag == true"
            >
              * To create a Note <br />
              1.Enter the information <br />
              2.Click the 'Save' button <br />
              * Pressing 'Cancel' will undo the changes you've made.
            </div>
          </div>
          <div *ngIf="newFlag == true">
            <div class="row">
              <div class="form-group col-sm-12 text-right">
                <p style="text-align: left">
                  <strong
                    >Adding new Note for Item: {{ itemType }} '{{
                      itemTag
                    }}'</strong
                  >
                </p>
                <button
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  class="btn btn-primary btn-right"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Add New ItemNote"
                  (click)="addNotes()"
                >
                  New
                </button>
                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Save Item Note"
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  (click)="saveItemNote()"
                  class="btn btn-primary btn-right"
                >
                  Save
                </button>

                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Cancel the Changes for this Note"
                  *ngIf="itemRank > 3 && itemRank != 4 && itemRank != 5"
                  (click)="cancelItemNotes()"
                  class="btn btn-primary btn-right"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-right"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Delete Item Note"
                  disabled
                  (click)="openModal(confirmtemplate)"
                >
                  Delete
                </button>
                <button
                  disabled
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title=" Add ItemNote Attachment"
                  class="btn btn-primary btn-right"
                  [routerLink]="['../../noteAttachments/' + model.journalid]"
                >
                  Attachments
                </button>
                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Back to View Item"
                  (click)="backToItem()"
                  class="btn btn-primary"
                >
                  Back To Item
                </button>
              </div>
            </div>
            <alert
              *ngIf="index == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Saved
            </alert>
            <alert
              *ngIf="index == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index == 4"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Deleted
            </alert>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  [(ngModel)]="model._id"
                  name="journalid"
                  #_id="ngModel"
                  id="_id"
                  hidden
                />
                <input
                  class="form-control"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.entityname"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >

                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.effectiveon"
                  name="date"
                  #date="ngModel"
                  id="date"
                  placeholder="Enter Date"
                  bsDatepicker
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.jobnumber"
                  name="job"
                  #job="ngModel"
                  id="job"
                  placeholder="Enter JOB Number"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.ponumber"
                  id="po"
                  name="po"
                  #po="ngModel"
                  placeholder="Enter PO Number"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  id="details"
                  name="textarea-input"
                  rows="5"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control"
                  [(ngModel)]="model.entry"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="viewFlag == true">
            <div class="row">
              <div class="form-group col-sm-12 text-right">
                <p style="text-align: left">
                  <strong
                    >Viewing Note for Item: {{ itemType }} '{{
                      itemTag
                    }}'</strong
                  >
                </p>
                <button
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  class="btn btn-primary btn-right"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Add New ItemNote"
                  (click)="addNotes()"
                >
                  New
                </button>
                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Save Item Note"
                  (click)="saveItemNote()"
                  disabled
                  class="btn btn-primary btn-right"
                >
                  Save
                </button>
                <button
                  type="button"
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  class="btn btn-primary btn-right"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Edit Item Note"
                  (click)="editNote()"
                >
                  Edit
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-right"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Delete Item Note"
                  disabled
                  (click)="openModal(confirmtemplate)"
                >
                  Delete
                </button>
                <button
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title=" Add ItemNote Attachment"
                  class="btn btn-primary btn-right"
                  (click)="goToAttachments(model.journalid, model.entityname)"
                >
                  Attachments
                </button>

                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Back to View Item"
                  (click)="backToItem()"
                  class="btn btn-primary"
                >
                  Back To Item
                </button>
              </div>
            </div>
            <alert
              *ngIf="index == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Saved
            </alert>
            <alert
              *ngIf="index == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index == 4"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Deleted
            </alert>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  [(ngModel)]="model._id"
                  name="journalid"
                  #_id="ngModel"
                  id="_id"
                  hidden
                />
                <input
                  readonly
                  class="form-control"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.entityname"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >

                <input
                  readonly
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.effectiveon"
                  name="date"
                  #date="ngModel"
                  id="date"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.jobnumber"
                  name="job"
                  #job="ngModel"
                  id="job"
                  placeholder="Enter JOB Number"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.ponumber"
                  id="po"
                  name="po"
                  #po="ngModel"
                  placeholder="Enter PO Number"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  readonly
                  id="details"
                  name="textarea-input"
                  rows="5"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control"
                  [(ngModel)]="model.entry"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="editFlag == true">
            <div class="row">
              <div class="form-group col-sm-12 text-right">
                <p style="text-align: left">
                  <strong
                    >Editing Note for Item: {{ itemType }} '{{
                      itemTag
                    }}'</strong
                  >
                </p>
                <button
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  class="btn btn-primary"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Add New ItemNote"
                  (click)="addNotes()"
                >
                  New
                </button>
                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Save Item Note"
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  (click)="updateItemNotes()"
                  class="btn btn-primary"
                >
                  Save
                </button>

                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Cancel the Changes for this Note"
                  *ngIf="itemRank > 3"
                  (click)="cancelItemNotes()"
                  class="btn btn-primary"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  [disabled]="itemRank < 6 || highestRank == 9"
                  class="btn btn-primary"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Delete Item Note"
                  (click)="openModal(confirmtemplate)"
                >
                  Delete
                </button>
                <button
                  [disabled]="itemRank < 3 || itemRank == 4 || itemRank == 5"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title=" Add ItemNote Attachment"
                  class="btn btn-primary"
                  (click)="goToAttachments(model.journalid, model.entityname)"
                >
                  Attachments
                </button>
                <button
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Back to View Item"
                  (click)="backToItem()"
                  class="btn btn-primary"
                >
                  Back To Item
                </button>
              </div>
            </div>
            <alert
              *ngIf="index == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Saved
            </alert>
            <alert
              *ngIf="index == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index == 4"
              [dismissible]="dismissible"
            >
              Note for 'Item: {{ itemType }} "{{ itemTag }} " ' was successfully
              Deleted
            </alert>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  [(ngModel)]="model._id"
                  name="journalid"
                  #_id="ngModel"
                  id="_id"
                  hidden
                />
                <input
                  readonly
                  class="form-control"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.entityname"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >

                <input
                  readonly
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.effectiveon"
                  name="date"
                  #date="ngModel"
                  id="date"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.jobnumber"
                  name="job"
                  #job="ngModel"
                  id="job"
                  placeholder="Enter JOB Number"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.ponumber"
                  id="po"
                  name="po"
                  #po="ngModel"
                  placeholder="Enter PO Number"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  id="details"
                  name="textarea-input"
                  rows="5"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control"
                  [(ngModel)]="model.entry"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="animated fadeIn" *ngIf="itemRank > 0">
            <div class="row">
              <div class="col-lg-12 col-padding">
                <p class="card-text" style="font-weight: bold; font-size: 18px">
                  Current Notes:
                </p>
                <div class="card-body">
                  <div>
                    <div class="float-left">
                      <span
                        >Show
                        <select [(ngModel)]="itemsForPagination">
                          <option>5</option>
                          <option>10</option>
                          <option>25</option>
                          <option>showAll</option>
                        </select>
                        entries
                      </span>
                    </div>
                  </div>
                  <div class="float-right div-search">
                    <span>Search : </span>
                    <input [(ngModel)]="itemNotesFilter" />
                  </div>
                  <table
                    class="table table-responsive-sm table-hover table-outline mb-0"
                  >
                    <thead class="thead-light">
                      <tr>
                        <th
                          [class.active]="order === 'enteredon'"
                          (click)="setOrder('enteredon')"
                        >
                          Date<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <th
                          [class.active]="order === 'entityname'"
                          (click)="setOrder('entityname')"
                        >
                          Title<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <th
                          [class.active]="order === 'jobnumber'"
                          (click)="setOrder('jobnumber')"
                        >
                          Job#<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <th
                          [class.active]="order === 'ponumber'"
                          (click)="setOrder('ponumber')"
                        >
                          PO#<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <th>By</th>
                        <th>Attachments</th>
                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        *ngFor="
                          let note of notes
                            | orderBy : reverse + order
                            | filterBy
                              : [
                                  'enteredon',
                                  'entityname',
                                  'jobnumber',
                                  'ponumber',
                                  'enteredby'
                                ]
                              : itemNotesFilter
                            | paginate
                              : {
                                  itemsPerPage: itemsForPagination,
                                  currentPage: p
                                }
                        "
                      >
                        <td>{{ note.effectiveon | date : "MM/dd/yyyy" }}</td>

                        <td>{{ note.entityname }}</td>
                        <td>{{ note.jobnumber }}</td>
                        <td>{{ note.ponumber }}</td>
                        <td>{{ note.enteredby }}</td>
                        <td>
                          <ng-container
                            *ngFor="let attachment of note.attachmentList"
                          >
                            <br /><a
                              href="javascript:void(0)"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="Click here to View this NoteAttachment"
                              (click)="download(attachment)"
                              >{{ attachment.fileName }}</a
                            >
                          </ng-container>
                        </td>

                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-danger btn-sm"
                            data-bs-placement="bottom"
                            data-bs-toggle="tooltip"
                            title="Click here to View this Note"
                            (click)="viewItemNotes(note.journalid)"
                          >
                            View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    class="my-pagination"
                    (pageChange)="p = $event"
                    [autoHide]="true"
                  >
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this Note or Click(No) to discard this
      action.
    </p>
    <button type="button" class="btn btn-primary btn-right" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>


