<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Reset Password</h1>
            <p class="text-muted">TracRat User Reset Password</p>
            <p class="alert-danger" *ngIf="index == -2">
              Password and Confirm password should be same
            </p>
            <p class="alert-danger" *ngIf="index == -1">
              Password and Confirm password should be between 8 to 15 characters
              which contain at least one lowercase letter, one uppercase letter,
              one numeric digit, and one special character
            </p>
            <p class="alert-danger" *ngIf="loginError == true">
              Link Expired or this link is already used to reset the password.
            </p>
            <div
              class="container_resetPasswordForm"
              *ngIf="resetPasswordForm_show"
            >
              <form
                #resetPasswordForm="ngForm" 
                (ngSubmit)="resetPassword(resetPasswordForm)"
              >
                <div
                  class="input-group mb-3 form-group"
                  [class.has-error]="password.invalid && password.touched"
                  [class.has-success]="password.valid"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                    placeholder="Enter New Password"
                    ngModel
                    passwordToggle
                    required
                  />
                </div>
                <div
                  class="input-group mb-3 form-group"
                  [class.has-error]="repassword.invalid && repassword.touched"
                  [class.has-success]="repassword.valid"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    name="repassword"
                    [(ngModel)]="user.repassword"
                    #repassword="ngModel"
                    placeholder="Re Enter Password"
                    ngModel
                    passwordToggle
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-block btn-primary"
                  [disabled]="resetPasswordForm.invalid"
                >
                  Reset Account
                </button>
              </form>
            </div>
            <div
              class="container_resetPasswordSubmitted"
              *ngIf="!resetPasswordForm_show"
            >
              <div class="card text-white bg-primary py-5 d-md-down-none">
                <div class="card-body text-center">
                  <div>
                    <a class="navbar-brand" href="#"></a>
                    <h2>Mail Sent Successfully</h2>
                    <p>
                      Mail along with password reset email link sent to your
                      mail <br />
                      {{ email }} <br />
                      sent successfully ... please check your Mail Inbox
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
