<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            tooltip="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            tooltip=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            Note: Mandatory Fields are required.<br />
            * To create a new user:<br />
            1.Click the 'Add User' button.<br />
            2.Enter the Information to add new user.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing user:<br />
            1.Click the 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Update' button.<br />
            * To delete an existing user:<br />
            1.Click the 'Delete' button.
          </div>
        </div>
        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            User saved successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Required fields
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            Password and Confirm password should be same
          </alert>
          <alert type="danger" *ngIf="index == -3" [dismissible]="dismissible">
            You have entered an invalid email address!
          </alert>
          <alert type="danger" *ngIf="index == -4" [dismissible]="dismissible">
            Password and Confirm password should be between 8 to 15 characters
            which contain at least one lowercase letter, one uppercase letter,
            one numeric digit, and one special character
          </alert>
          <alert type="danger" *ngIf="index == -5" [dismissible]="dismissible">
            Please Select the Vendor
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Adding New User</strong>
                </div>
                <form name="form" (ngSubmit)="saveUser()" #addUserForm="ngForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="lType">User Name</label
                        ><strong class="text-danger"> *</strong>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.name"
                          (change)="checkUserName($event)"
                          name="lType"
                          #name="ngModel"
                          id="lType"
                          placeholder="Enter User Name"
                          required
                          minlength="4"
                        />
                      </div>

                      <div
                        class="form-group col-sm-6"
                        *ngIf="isNameCheckVisible == true"
                      >
                        <label for="name">User Name Check:</label> <br />
                        <span
                          class="form-control"
                          style="color: red"
                          *ngIf="isMinLength == false"
                        >
                          User Name cannot be empty or minimum lengh should be 4
                        </span>
                        <span
                          class="form-control"
                          style="color: red"
                          *ngIf="isDuplicateTag == true"
                        >
                          User Name already exists
                        </span>
                        <span
                          class="form-control"
                          style="color: blue"
                          *ngIf="isDuplicateTag == false && isMinLength == true"
                        >
                          User Name Available
                        </span>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="email">E-mail</label
                        ><strong class="text-danger"> *</strong>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.email"
                          (change)="checkEmail($event)"
                          name="email"
                          #email="ngModel"
                          id="email"
                          placeholder="Enter Email"
                          required
                          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        />
                      </div>
                      <div
                        class="form-group col-sm-6"
                        *ngIf="isEmailCheckVisible == true"
                      >
                        <label for="name">Email Check:</label> <br />

                        <span
                          class="form-control"
                          style="color: red"
                          *ngIf="
                            isDuplicate == true &&
                            model.email != null &&
                            model.email != ''
                          "
                        >
                          Email already exists
                        </span>
                        <span
                          class="form-control"
                          style="color: blue"
                          *ngIf="
                            isDuplicate == false &&
                            model.email != null &&
                            model.email != ''
                          "
                        >
                          Email Available
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="password">Password</label
                        ><strong class="text-danger"> *</strong>
                        <div class="input-group">
                        <input
                          [type]="showPassword.password ? 'text' : 'password'"
                          class="form-control"
                          [(ngModel)]="model.password"
                          name="password"
                          #password="ngModel"
                          id="password"
                          pattern=" /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/"
                          ngModel
                          required
                        />
                        <div class="input-group-append">
                          <button
                            type="button"
                            class="btn btn-outline-secondary"
                            (click)="togglePasswordVisibility('password')"
                        >
                            <i class="fa" [ngClass]="showPassword.password ? 'fa-eye-slash' : 'fa-eye'"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                      <div class="form-group col-md-6">
                        <label for="cPassword">Confirm Password</label
                        ><strong class="text-danger"> *</strong>
                        <div class="input-group">
                        <input
                          [type]="showPassword.confirmPassword ? 'text' : 'password'"
                          class="form-control"
                          [(ngModel)]="model.confirmPassword"
                          name="cPassword"
                          #cPassword="ngModel"
                          id="cPassword"
                          ngModel
                          required
                        />
                        <div class="input-group-append">
                          <button
                            type="button"
                            class="btn btn-outline-secondary"
                            (click)="togglePasswordVisibility('confirmPassword')"
                        >
                            <i class="fa" [ngClass]="showPassword.confirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="fname">First Name</label
                        ><strong class="text-danger"> *</strong>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.firstname"
                          name="fname"
                          #fname="ngModel"
                          id="fname"
                        />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="lName">Last Name</label
                        ><strong class="text-danger"> *</strong>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.lastname"
                          name="lName"
                          #lName="ngModel"
                          id="lName"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="company">Select Company</label
                        ><strong class="text-danger"> *</strong>
                        <select
                          class="form-control custom-dropdown"
                          [(ngModel)]="model.companyid"
                          name="commpanyid"
                          #companyid="ngModel"
                          id="company"
                        >
                          <!-- <option value="0" selected="true">Select Company</option>-->
                          <option
                            [ngValue]="company.companyid"
                            *ngFor="let company of allCompanies"
                          >
                            {{ company.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="dept">Department</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.department"
                          name="dept"
                          #dept="ngModel"
                          id="dept"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="job">Job Title</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.jobtitle"
                          name="job"
                          #job="ngModel"
                          id="job"
                        />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="phone">Phone</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="model.phone"
                          name="phone"
                          #phone="ngModel"
                          id="phone"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="fax">Fax</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.fax"
                          name="fax"
                          #fax="ngModel"
                          id="fax"
                        />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="mobile">Mobile</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="model.mobile"
                          name="mobile"
                          #mobile="ngModel"
                          id="mobile"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="req" class="me-1">Vendor</label>
                        <input
                          type="checkbox"
                          [(ngModel)]="model.isVendor"
                          name="req"
                          #req="ngModel"
                          id="req"
                        />
                      </div>
                      <div *ngIf="model.isVendor" class="form-group col-sm-6">
                        <label for="vendor">
                          Select Vendor<strong class="text-danger"> *</strong>
                        </label>
                        <app-dropdown-treeview-select
                          [items]="vendorItems"
                          [(value)]="model.vendorId"
                          (valueChange)="onVendorChange($event)"
                        >
                        </app-dropdown-treeview-select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="req" class="me-1"
                          >Receive RFQ Notification</label
                        >
                        <input
                          type="checkbox"
                          [(ngModel)]="model.sendreceiverfq"
                          name="req"
                          #req="ngModel"
                          id="req"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="submit"
                          tooltip="Save this User"
                          class="btn btn-primary btn-right"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          tooltip="Cancel"
                          (click)="cancelUser()"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
