.border-charts {
  width: 100%; /* Ensure it takes the full width of the parent */
  height: auto; /* Let height adjust dynamically */
  display: flex;
  align-items: center;
}

.btn-danger,
.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-danger:hover {
  color: #fff;
  background-color: #f64846;
  border-color: #f63c3a;
}

canvas {
  flex-grow: 1; /* Allows the chart to grow and fill the space */
}

.form-control {
  background-color: #fff !important;
}
