<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            * To create a new status:<br />
            1.Click the 'Add Status' button.<br />
            2.Enter the new status data.<br />
            3.Click the 'Save' button.<br />
            * To edit an existing status:<br />
            1.Click 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Save' button.<br />
            * To delete an existing status:<br />
            1.Click the 'Delete' button.<br />
          </div>
        </div>
        <div class="card-body">
          <alert *ngIf="index == 1" type="success" [dismissible]="dismissible">
            Item Status saved successfully.
          </alert>
          <alert *ngIf="index == -1" type="danger" [dismissible]="dismissible">
            Please enter Status.
          </alert>
          <alert *ngIf="index == 2" type="danger" [dismissible]="dismissible">
            Status size should be less than 100 characters.
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding modal-body-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Add Status</strong>
                </div>
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && saveStatus()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input
                          type="text"
                          [(ngModel)]="model.added"
                          name="added"
                          #added="ngModel"
                          id="added"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.by"
                          name="by"
                          #by="ngModel"
                          id="by"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model._id"
                          name="_id"
                          #_id="ngModel"
                          id="_id"
                          hidden
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="Status"
                          >Status<strong class="text-danger">*</strong></label
                        >
                        <input
                          id="status"
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.status"
                          name="status"
                          #status="ngModel"
                          placeholder="Enter Status"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-3">
                        <label for="inservice">
                          <input
                            id="inservice"
                            type="checkbox"
                            [(ngModel)]="model.inService"
                            name="inservice"
                            #inservice="ngModel"
                            placeholder="Enter Status"
                          />In Service</label
                        >
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="repair">
                          <input
                            id="repair"
                            type="checkbox"
                            [(ngModel)]="model.underRepair"
                            name="underRepair"
                            #underRepair="ngModel"
                            placeholder="Enter Status"
                          />Under Repair</label
                        >
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="spare">
                          <input
                            id="spare"
                            type="checkbox"
                            [(ngModel)]="model.spare"
                            name="spare"
                            #spare="ngModel"
                            placeholder="Enter Status"
                          />Spare</label
                        >
                      </div>
                      <div class="form-group col-sm-3">
                        <label for="destroyed">
                          <input
                            id="destroyed"
                            type="checkbox"
                            [(ngModel)]="model.destroyed"
                            name="destroyed"
                            #destroyed="ngModel"
                            placeholder="Enter Status"
                          />Destroyed</label
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Save Item Status"
                          class="btn btn-primary btn-right"
                          style="border-radius: 6px;"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel"
                          (click)="cancelAddStatus()"
                          class="btn btn-primary"
                          style="border-radius: 6px;"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
