<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <!-- Top Buttons -->
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top btn-radius-6"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top btn-radius-6"
          >
            Help
          </button>

          <!-- Help Notes -->
          <div *ngIf="helpFlag === true" class="help-note-box">
            Note: Mandatory Fields are required.<br />
            * To add a new Type of Failure: <br />
            1.Select the Item type.<br />
            2.Click the 'New' button.<br />
            3.Enter the new Type in the 'Primary Findings' text box.<br />
            4.Add causes in the 'Causes' text box.<br />
            5.Click the 'Save' button.<br />
            * To edit an existing Type of Failure:<br />
            1.Select the Item type.<br />
            2.Select the Failure Type in the 'Primary Findings List'.<br />
            3.Click the 'Edit' button.<br />
            4.Make the necessary changes to the 'Primary Findings' or 'Causes'.<br />
            5.Click the 'Update' button.<br />
            * To delete an existing Type of Failure:<br />
            1.Select the Item type.<br />
            2.Select the Failure Type in the 'Primary Findings List'.<br />
            3.Click the 'Delete' button.
          </div>
        </div>

        <!-- Alerts -->
        <div class="card-body">
          <div class="col-sm-12 col-padding">
            <alert type="danger" *ngIf="index === -1" [dismissible]="dismissible">
              Please Enter Primary Finding..
            </alert>
            <alert *ngIf="index === 1" type="success" [dismissible]="dismissible">
              Primary Findings and Causes Added successfully.
            </alert>
            <alert *ngIf="index === 2" type="success" [dismissible]="dismissible">
              Primary Findings and Causes Updated successfully.
            </alert>
            <alert *ngIf="index === 3" type="success" [dismissible]="dismissible">
              Primary Findings and Causes Deleted successfully.
            </alert>
          </div>

          <!-- Body -->
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobmile-padding col-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Primary Findings Management</strong>
                </div>

                <form #form="ngForm">
                  <div class="card-body">

                    <!-- Select Item Type inline -->
                    <div class="row form-group align-items-center g-0">
                      <div class="col-auto">
                        <label class="mb-0" style="padding-left :16px; padding-right: 16px;">
                          Select Item Type : <strong class="text-danger">*</strong>
                        </label>
                      </div>
                      <div class="col-auto">
                        <div
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Select ItemType to add Primary Findings & causes"
                        >
                          <div class="custom-dropdown-wrapper d-flex align-items-center" style="width: 300px;">
                            <app-dropdown-treeview-select
                              [items]="items"
                              [(value)]="value"
                              (valueChange)="onValueChange($event)"
                            >
                            </app-dropdown-treeview-select>
                            <span class="custom-dropdown-arrow"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Primary Finding + Causes side by side -->
                    <div class="row form-group">
                      <!-- Primary Finding -->
                      <div class="col-md-6 col-12">
                        <label for="failureType">
                          Primary Finding: <strong class="text-danger">*</strong>
                        </label>
                        <input
                          *ngIf="addFailure === 1"
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.failureType"
                          name="failureType"
                          id="failureType"
                          placeholder="Enter Primary Finding"
                        />
                        <span *ngIf="addFailure !== 1" class="primary-finding-badge">
                          {{ failureType }}
                        </span>
                      </div>

                      <!-- Causes -->
                      <div class="col-md-6 col-12">
                        <label for="causes">Failure Causes:</label>
                        <p class="small">
                          Type each cause on a separate line. Add or remove causes as needed.
                        </p>
                      </div>
                    </div>

                    <!-- Select Primary Finding & Causes side by side -->
                    <div class="row form-group" *ngIf="addFailure === 0">
                      <div class="col-md-6 col-12">
                        <label>Select Primary Finding</label>
                        <div class="scrollable-primary-list">
                          <ul class="unstyled-list" *ngFor="let failureType of failureTypes">
                            <li
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              title="Select PrimaryFinding to Edit"
                              (click)="getCausesForFailureType(failureType); editDeleteFlag = true"
                            >
                              <a>{{ failureType.split('_')[0] }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-6 col-12">
                        <label for="causesList">Causes:</label>
                        <div class="scrollable-causes-list custom-causes-box">
                          <ul class="unstyled-list" *ngFor="let cause of failureCauses">
                            <li><a>{{ cause }}</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="col-sm-12 col-padding button-padding pt-10">
                      <button
                        type="button"
                        class="btn btn-primary btn-right btn-radius-6"
                        *ngIf="editEnable === 1"
                        (click)="updateFailureTypeAndCauses()"
                      >
                        Update
                      </button>

                      <button
                        type="button"
                        class="btn btn-primary btn-right btn-radius-6"
                        [disabled]="newFlag === false"
                        (click)="addFailureTypeAndCauses()"
                      >
                        New
                      </button>

                      <button
                        type="button"
                        class="btn btn-primary btn-right btn-radius-6"
                        *ngIf="addEditFlag"
                        (click)="saveFailureTypeAndCauses()"
                      >
                        Save
                      </button>

                      <button
                        type="button"
                        class="btn btn-primary btn-right btn-radius-6"
                        [disabled]="highestRank < 7"
                        *ngIf="editDeleteFlag === true"
                        (click)="editFailureType(failureType)"
                      >
                        Edit
                      </button>

                      <button
                        type="button"
                        class="btn btn-primary btn-radius-6"
                        [disabled]="highestRank < 7 || highestRank === 9"
                        *ngIf="editDeleteFlag === true"
                        (click)="openModal(confirmtemplate, failureTypeId)"
                      >
                        Delete
                      </button>

                      <button
                        type="button"
                        class="btn btn-primary btn-radius-6"
                        *ngIf="addFailure === 1"
                        (click)="cancelAdd()"
                      >
                        Cancel
                      </button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this PimaryFindings or Click(No) to discard This action.
    </p>
    <button type="button" class="btn btn-primary btn-right" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<!-- Loader -->
<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>
