<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div
            class="form-group col-sm-12 d-flex justify-content-end gap-1 mb-2"
          >
            <button
              type="button"
              (click)="print()"
              tooltip="Click to Print this Page"
              class="btn btn-outline-danger btn-sm"
            >
              Print
            </button>
            <button
              type="button"
              (click)="help()"
              tooltip=" Instructions"
              class="btn btn-outline-danger btn-sm"
            >
              Help
            </button>
            <div
              style="
                text-align: left;
                border: 1px solid;
                width: fit-content;
                background-color: whitesmoke;
              "
              *ngIf="helpFlag == true"
            >
              * To create a Note <br />
              1.Enter the information <br />
              2.Click the 'Save' button <br />
              * Pressing 'Cancel' will undo the changes you've made.
            </div>
          </div>
          <p class="card-text" style="font-weight: bold; font-size: 22px">
            Part Notes:
          </p>

          <div *ngIf="newFlag == true">
            <div class="row">
              <div
                class="form-group col-sm-12 d-flex justify-content-end gap-1 mb-2"
              >
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  tooltip="Save Part Note"
                  (click)="savePartNotes()"
                  class="btn btn-primary"
                >
                  Save
                </button>
                <button
                  *ngIf="highestRank > 5"
                  type="button"
                  tooltip="Cancel the Changes for this Note"
                  (click)="addNotes()"
                  class="btn btn-primary"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  tooltip="Delete Part Note"
                  disabled
                  (click)="openModal(confirmtemplate, model.id)"
                >
                  Delete
                </button>
                <button
                  type="button"
                  tooltip="Part Note Attachment"
                  class="btn btn-primary"
                  disabled
                  (click)="goToAttachments(model.partNoteId)"
                >
                  Attachments
                </button>
                <button
                  type="button"
                  tooltip="Back"
                  (click)="backToParts()"
                  class="btn btn-primary"
                >
                  Back
                </button>
              </div>
            </div>
            <alert
              *ngIf="index1 == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note was successfully Saved
            </alert>
            <alert
              *ngIf="index1 == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note was successfully Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index1 == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index1 == 4"
              [dismissible]="dismissible"
            >
              Note was successfully Deleted
            </alert>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  class="form-control bg-white"
                  [(ngModel)]="model.name"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  class="form-control bg-white"
                  [(ngModel)]="model.createdDate"
                  name="date"
                  #date="ngModel"
                  id="date"
                  placeholder="Enter Date"
                  bsDatepicker
                />
              </div>
            </div>

            <!-- <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input type="text" class="form-control bg-white" [(ngModel)]="model.jobnumber" name="job" #job="ngModel" id="job"
                  placeholder="Enter JOB Number">
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input type="text" class="form-control bg-white" [(ngModel)]="model.ponumber" id="po" name="po" #po="ngModel"
                  placeholder="Enter PO Number">
              </div>
            </div> -->

            <div class="row mt-2">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  id="details"
                  name="textarea-input"
                  rows="2"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control bg-white"
                  [(ngModel)]="model.details"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="viewFlag == true">
            <div class="row">
              <p style="text-align: left">
                <strong>Viewing Part Note'</strong>
              </p>
              <div
                class="form-group col-sm-12 d-flex justify-content-end gap-1 mb-2"
              >
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  class="btn btn-primary"
                  tooltip="Add Part Note"
                  (click)="addNotes()"
                >
                  New
                </button>
                <button
                  type="button"
                  tooltip="Save Location Note"
                  (click)="savePartNotes()"
                  disabled
                  class="btn btn-primary"
                >
                  Save
                </button>
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  class="btn btn-primary"
                  tooltip="Edit Part Note"
                  (click)="editNote()"
                >
                  Edit
                </button>

                <button
                  type="button"
                  class="btn btn-primary"
                  tooltip="Delete Part Note"
                  disabled
                  (click)="openModal(confirmtemplate, model.id)"
                >
                  Delete
                </button>
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  tooltip="Part Note Attachments"
                  class="btn btn-primary"
                  (click)="goToAttachments(model.partNoteId)"
                >
                  Attachments
                </button>
                <button
                  type="button"
                  tooltip="Back"
                  (click)="backToParts()"
                  class="btn btn-primary"
                >
                  Back
                </button>
              </div>
            </div>
            <alert
              *ngIf="index1 == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note for Part was successfully Saved
            </alert>
            <alert
              *ngIf="index1 == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Part' was successfully Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index1 == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index1 == 4"
              [dismissible]="dismissible"
            >
              Note for Part was successfully Deleted
            </alert>

            <div class="row mt-2">
              <div class="form-group col-sm-6 gap-1">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <!-- <input type="text" [(ngModel)]="model.vendorNoteId" name="vendorNoteId" #vendorNoteId="ngModel" id="_id" hidden> -->
                <input
                  disabled
                  class="form-control bg-color"
                  type="text"
                  [(ngModel)]="model.name"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >
                <!-- <input  class="form-control bg-white"  type="text"  [(ngModel)]="model.effectiveon" name="date" #date="ngModel" id="date"> -->
                <input
                  disabled
                  type="text"
                  class="form-control bg-color"
                  [(ngModel)]="model.createdDate"
                  name="date"
                  #date="ngModel"
                  id="date"
                />
              </div>
            </div>

            <!-- <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input readonly type="text" class="form-control bg-white" [(ngModel)]="model.jobnumber" name="job" #job="ngModel"
                  id="job" placeholder="Enter JOB Number">
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input readonly type="text" class="form-control bg-white" [(ngModel)]="model.ponumber" id="po" name="po"
                  #po="ngModel" placeholder="Enter PO Number">
              </div>
            </div> -->

            <div class="row mt-2">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  disabled
                  id="details"
                  name="textarea-input"
                  rows="2"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control bg-color"
                  [(ngModel)]="model.details"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="editFlag == true">
            <div class="row">
              <p style="text-align: left">
                <strong>Editing Vendor Note</strong>
              </p>
              <div
                class="form-group col-sm-12 d-flex justify-content-end gap-1 mb-2"
              >
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  class="btn btn-primary"
                  tooltip="Add New LocationNote"
                  (click)="addNotes()"
                >
                  New
                </button>
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  tooltip="Update Location Note"
                  (click)="updatePartNotes()"
                  class="btn btn-primary"
                >
                  Update
                </button>

                <button
                  *ngIf="highestRank > 5"
                  type="button"
                  tooltip="Cancel the Changes for this Note"
                  (click)="addNotes()"
                  class="btn btn-primary"
                >
                  Cancel
                </button>
                <button
                  [disabled]="highestRank < 6 || highestRank == 9"
                  type="button"
                  class="btn btn-primary"
                  tooltip="Delete Location Note"
                  (click)="openModal(confirmtemplate, model.id)"
                >
                  Delete
                </button>
                <button
                  [disabled]="highestRank < 6"
                  type="button"
                  tooltip=" Add LocationNote Attachment"
                  class="btn btn-primary"
                  (click)="goToAttachments(model.partNoteId)"
                >
                  Attachments
                </button>
                <button
                  type="button"
                  tooltip="Back"
                  (click)="backToParts()"
                  class="btn btn-primary"
                >
                  Back
                </button>
              </div>
            </div>
            <alert
              *ngIf="index1 == 1"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Part:' was successfully Saved
            </alert>
            <alert
              *ngIf="index1 == 2"
              type="success"
              [dismissible]="dismissible"
            >
              Note for 'Part:' was successfully Updated
            </alert>

            <alert
              type="danger"
              *ngIf="index1 == -1"
              [dismissible]="dismissible"
            >
              Please Enter Title and Date
            </alert>

            <alert
              type="success"
              *ngIf="index1 == 4"
              [dismissible]="dismissible"
            >
              Note for 'Part:' was successfully Deleted
            </alert>

            <div class="row mt-2">
              <div class="form-group col-sm-6 gap-1">
                <label for="title"
                  >Title <strong class="text-danger">*</strong></label
                >
                <input
                  type="text"
                  [(ngModel)]="model.vendorNoteId"
                  name="vendorNoteId"
                  #vendorNoteId="ngModel"
                  id="_id"
                  hidden
                />
                <input
                  class="form-control bg-color"
                  type="text"
                  [(ngModel)]="model.name"
                  name="title"
                  #title="ngModel"
                  id="title"
                  placeholder="Enter Title"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="date"
                  >Date <strong class="text-danger">*</strong></label
                >

                <input
                  type="text"
                  class="form-control bg-white"
                  [(ngModel)]="model.createdDate"
                  name="date"
                  #date="ngModel"
                  id="date"
                  bsDatepicker
                />
              </div>
            </div>

            <!-- <div class="row">
              <div class="form-group col-sm-6">
                <label for="job">JOB Number</label>
                <input type="text" class="form-control bg-white" [(ngModel)]="model.jobnumber" name="job" #job="ngModel" id="job"
                  placeholder="Enter JOB Number">
              </div>
              <div class="form-group col-sm-6">
                <label for="po">PO Number</label>
                <input type="text" class="form-control bg-white" [(ngModel)]="model.ponumber" id="po" name="po" #po="ngModel"
                  placeholder="Enter PO Number">
              </div>
            </div>
 -->

            <div class="row mt-2">
              <div class="form-group col-sm-12">
                <label for="details">Details</label>
                <textarea
                  id="details"
                  name="textarea-input"
                  rows="2"
                  cols="4"
                  name="details"
                  #details="ngModel"
                  class="form-control bg-white"
                  [(ngModel)]="model.details"
                  placeholder="Enter Description"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="animated fadeIn" *ngIf="highestRank > 4">
            <!--/.row-->
            <div class="row">
              <div class="col-lg-12">
                <p
                  class="card-text"
                  style="font-weight: bold; font-size: 18px; margin-top: 10px"
                >
                  Current Notes:
                </p>
                <!-- Large modal -->
                <div class="card-body">
                  <div>
                    <div class="float-start">
                      <span
                        >Show
                        <select [(ngModel)]="itemsForPagination">
                          <option>5</option>
                          <option>10</option>
                          <option>25</option>
                          <option>50</option>
                        </select>
                        entries
                      </span>
                    </div>
                  </div>
                  <div class="float-end div-search">
                    <span>Search : </span>
                    <input [(ngModel)]="vendorNotesFilter" />
                  </div>
                  <table
                    class="table table-responsive-sm table-hover table-outline mb-0"
                  >
                    <thead class="bg-danger">
                      <tr>
                        <th
                          [class.active]="order === 'createdDate'"
                          (click)="setOrder('createdDate')"
                        >
                          Date<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <th
                          [class.active]="order === 'name'"
                          (click)="setOrder('name')"
                        >
                          Title<span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>
                        <!-- <th [class.active]="order === 'jobnumber'" (click)="setOrder('jobnumber')">Job<span
                            [hidden]="reverse==''">▼</span><span [hidden]="reverse!=''">▲</span></th>
                        <th [class.active]="order === 'ponumber'" (click)="setOrder('ponumber')">PO<span
                            [hidden]="reverse==''">▼</span><span [hidden]="reverse!=''">▲</span></th> -->
                        <th
                          [class.active]="order === 'createdBy'"
                          (click)="setOrder('createdBy')"
                        >
                          By <span [hidden]="reverse == ''">▼</span
                          ><span [hidden]="reverse != ''">▲</span>
                        </th>

                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        *ngFor="
                          let note of notes
                            | orderBy : reverse + order
                            | filterBy
                              : [
                                  'createdDate',
                                  'name',
                                  'jobnumber',
                                  'ponumber',
                                  'createdBy'
                                ]
                              : vendorNotesFilter
                            | paginate
                              : {
                                  itemsPerPage: itemsForPagination,
                                  currentPage: p
                                }
                        "
                      >
                        <td>{{ note.createdDate | date : "MM/dd/yyyy" }}</td>
                        <td>{{ note.name }}</td>
                        <!-- <td>{{note.jobnumber}}</td>
                        <td>{{note.ponumber}}</td> -->
                        <td>{{ note.createdBy }}</td>
                        <!-- <td>
                          <ng-container *ngFor="let attachment of note.attachmentList">
                            <br><a href="javascript:void(0)" tooltip="Click here to View this NoteAttachment"
                              (click)="download(attachment)">{{attachment.fileName}}</a>
                          </ng-container>
                        </td> -->

                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-danger btn-sm"
                            tooltip="Click here to View this Note"
                            (click)="viewPartNote(note.partNoteId)"
                          >
                            View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    class="my-pagination"
                    (pageChange)="p = $event"
                    [autoHide]="true"
                  >
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #confirmtemplate>
    <div class="modal-body text-center">
      <p>
        Click(Yes) to permanently delete this Note or Click(No) to discard this
        action.
      </p>
      <button type="button" class="btn btn-primary me-2" (click)="confirm()">
        Yes
      </button>
      <button type="button" class="btn btn-primary" (click)="decline()">
        No
      </button>
    </div>
  </ng-template>
</div>
