/* .ng-select.disabled .ng-arrow-wrapper .ng-arrow {
    display: none;
 }
 
 .ng-select.disabled ng-dropdown-panel {
   display: none;
 }
 
 .ng-select.disabled .ng-clear-wrapper {
  display: none;
 } */

 .margin-tag{
  margin-left:-10px;
  margin-top:2px;
}

.height{
  height:34px;
}


.img-side-logo{
   /* margin-right: 10px;  */
   /* margin-top: -16px; */
   max-width:160px;
}


bs-tooltip-container{
  z-index: 99999;
}



 @media (min-width: 400px) and (max-width: 520px) {
  
  .margin-tag{
    margin-left:0px;
    margin-top:4px;
    text-align: center;
    
  }

 

  /* .margin-mobile{
    margin-left: 30px;
  } */


 
  .mobile-padding{
    padding:0px;
}

  .breadcrumb{
    margin-bottom: 0px;
  }

  .pr-2{
    padding-right: 4px !important;
  }

  .dropdown-menu{
    left:-85px !important;
  }

  .ml-15{
    margin-left:-17px;
  }

  /* .margin-mobile{
    margin-left: 90px;
  } */
  .margin-new-top{
    margin-top:5px;
  }

  .img-side-logo{
    /* margin-right: 10px;  */
    /* margin-top: -16px; */
    max-width:180px;
 }

 .mobile-new-padding{
  padding-right:15px !important;
  padding-left: 65px !important;
 }

  
}


@media (min-width: 300px) and (max-width: 390px) {
  
  .margin-tag{
    margin-left:0px;
    margin-top:4px;
    text-align: center;
    
  }


  .margin-mobile{
    margin-left:90px;
  }
  .margin-new-top{
    margin-top:5px;
  }

  .img-side-logo{
    /* margin-right: 10px;  */
    /* margin-top: -16px; */
    max-width:180px;
 }

 .mobile-new-padding{
  padding-right:15px !important;
  padding-left: 30px !important;
 }
 
  .mobile-padding{
    padding:0px;
}

  .breadcrumb{
    margin-bottom: 0px;
  }

  .pr-2{
    padding-right: 4px !important;
  }

  .dropdown-menu{
    left:-85px !important;
  }

  .ml-15{
    margin-left:7px;
  }
  
}


