/* .ng-select.disabled .ng-arrow-wrapper .ng-arrow {
    display: none;
 }
 
 .ng-select.disabled ng-dropdown-panel {
   display: none;
 }
 
 .ng-select.disabled .ng-clear-wrapper {
  display: none;
 } */

.margin-tag {
  margin-left: -10px;
  margin-top: 2px;
}

.height {
  height: 34px;
}

.img-side-logo {
  /* margin-right: 10px;  */
  /* margin-top: -16px; */
  max-width: 160px;
}

.ngx-dropdown-container[_ngcontent-yxf-c7]
  .ngx-dropdown-list-container[_ngcontent-yxf-c7] {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999999999;
  width: auto !important;
  background-clip: padding-box;
  background: white;
  position: absolute;
  box-shadow: 5px 5px 5px #00000036;
}

.text-overflow-button {
  background-color: #f86c6b;
}

bs-tooltip-container {
  z-index: 99999;
}

@media (min-width: 400px) and (max-width: 520px) {
  .margin-tag {
    margin-left: 0px;
    margin-top: 4px;
    text-align: center;
  }

  /* .margin-mobile{
    margin-left: 30px;
  } */

  .mobile-padding {
    padding: 0px;
  }

  .breadcrumb {
    margin-bottom: 0px;
  }

  .pr-2 {
    padding-right: 4px !important;
  }

  .dropdown-menu {
    left: -85px !important;
  }

  .ml-15 {
    margin-left: -17px;
  }

  /* .margin-mobile{
    margin-left: 90px;
  } */
  .margin-new-top {
    margin-top: 5px;
  }

  .img-side-logo {
    /* margin-right: 10px;  */
    /* margin-top: -16px; */
    max-width: 180px;
  }

  .mobile-new-padding {
    padding-right: 15px !important;
    padding-left: 65px !important;
  }
}

@media (min-width: 300px) and (max-width: 390px) {
  .margin-tag {
    margin-left: 0px;
    margin-top: 4px;
    text-align: center;
  }

  .margin-mobile {
    margin-left: 90px;
  }
  .margin-new-top {
    margin-top: 5px;
  }

  .img-side-logo {
    /* margin-right: 10px;  */
    /* margin-top: -16px; */
    max-width: 180px;
  }

  .mobile-new-padding {
    padding-right: 15px !important;
    padding-left: 30px !important;
  }

  .mobile-padding {
    padding: 0px;
  }

  .breadcrumb {
    margin-bottom: 0px;
  }

  .pr-2 {
    padding-right: 4px !important;
  }

  .dropdown-menu {
    left: -85px !important;
  }

  .ml-15 {
    margin-left: 7px;
  }
}

.main {
  /* margin-top: 55px; */
  flex: 1;
}

.side-bar-margin {
  margin-top: 55px;
}


/* Add these styles for the dropdown */
:host ::ng-deep .ngx-dropdown-container {
  width: auto !important;
  min-width: 200px;
}

:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-list-container {
  width: auto !important;
  min-width: 100%;
}

/* Remove dropdown arrow */
:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button::after {
  display: none !important;
}

:host ::ng-deep .dropdown-toggle::after {
  display: none !important;
}
