<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            * To create a new type:<br />
            1.Enter the information for the new type.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing type:<br />
            1.Click the 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Update' button.<br />
            * To delete an existing type:<br />
            1.Click the 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            User Type Updated successfully.
          </alert>

          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Name of Type
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            ParentType and Existing User Type must not be the same
          </alert>

          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Editing User Type</strong>
                </div>
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && updateUserType()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="lType"
                          >Name of User Type
                          <strong class="text-danger">*</strong></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.name"
                          name="lType"
                          #name="ngModel"
                          id="lType"
                          placeholder="Enter User Type Name"
                        />
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="hostingFee">Hosting Fee</label>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="model.hostingfee"
                          name="hostingFee"
                          #hostingFee="ngModel"
                          id="hostingFee"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="parentType">Select Parent Type</label>

                        <app-dropdown-treeview-select
                          [items]="items"
                          [(value)]="value"
                          (valueChange)="onValueChange($event)"
                        >
                        </app-dropdown-treeview-select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="description">Description</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="model.description"
                          name="description"
                          #description="ngModel"
                          id="description"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Update this UserType"
                          class="btn btn-primary btn-right"
                        >
                          Update
                        </button>
                        <button
                          type="button"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel"
                          [routerLink]="['../../../types']"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
