.help-box {
  text-align: left;
  border: 1px solid;
  width: fit-content;
  background-color: whitesmoke;
}

.table-wrapper {
  overflow: auto;
}

.rounded-button {
  border-radius: 6px;
}
.form-control {
  background-color: #fff !important;
}