.margin-right {
  margin-right: 10%;
}

.add-loc {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.margin-top {
  margin-top: 1%;
}

.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}
