.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

thead th {
  padding: 12px;
  cursor: pointer;
  span {
    visibility: hidden;
  }
  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}

tbody td {
  padding: 12px;
}

.float-right {
  float: right;
}

.div-search {
  margin-bottom: 1%;
  margin-top: 1%;
}

.warranty-table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.no-border {
  border-top: 0px;
  padding: 0;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}

.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

button,
.card {
  border-radius: 0;
}

::ng-deep modal-container .modal-content {
  border-radius: 0;
}

::ng-deep .modal-header .close {
  padding: 1rem;
  border: 0;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

::ng-deep .modal-body .form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

::ng-deep .modal-body .form-group label {
  margin-bottom: 8px;
}

::ng-deep .modal-body .form-control {
  background-color: #fff;
}

.card-body {
  padding: 20px;
}

.select-pagination-option {
  height: 0;
}

.form-group label {
  margin-bottom: 8px;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

::ng-deep .row .alert-danger {
  padding: 12px 20px;
  color: #813838;
  background-color: #fee2e1;
  border-color: #fdd6d6;
  border-radius: 0;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

::ng-deep .alert-dismissible .btn-close {
  opacity: 0;
}
