<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <ng-container *ngIf="!isExpandAdvancedSearch">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            (click)="isExpandAdvancedSearch = !isExpandAdvancedSearch"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Click here to Show/Change the Search Fields"
          >
            Show/Change Search Fields Criteria
          </button>
        </ng-container>

        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm btn-right btn-top btn-group"
            (click)="print()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Click to Print this Page"
          >
            Print
          </button>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm btn-top btn-group"
            (click)="help()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Instructions"
          >
            Help
          </button>
          <div
            *ngIf="helpFlag"
            style="text-align:left; border:1px solid; width:fit-content; background-color:whitesmoke;"
          >
            Note: Mandatory Fields are required.<br />
            *To add a new item:<br />
            1.Enter the data for the new item.<br />
            2.Click the 'Save' button.<br />
            *To edit an existing item:<br />
            1.Enter the tag number and click 'Search' or click the 'Edit' button.<br />
            2.If more than one item type is found for the tag number, select the desired type in the 'Select Type' drop down list.<br />
            3.Make the necessary changes.<br />
            4.Click the 'Save' button.
          </div>
        </div>

        <div class="card-body">
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please enter Tag
          </alert>

          <ng-container *ngIf="isExpandAdvancedSearch">
            <p class="card-text btn-group">Master Search</p>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="form-group col-sm-5">
                <label for="tag">Item Tag# <strong class="text-danger">*</strong></label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.tag"
                  name="Tag"
                  #Tag="ngModel"
                  id="tag"
                  placeholder="Enter Item Tag"
                />
              </div>
              <div class="form-group col-sm-5">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.name"
                  name="Name"
                  #Name="ngModel"
                  id="name"
                  placeholder="Enter Item Name"
                />
              </div>
              <div class="col-sm-1"></div>
            </div>

            <div class="row">
              <div class="col-sm-1"></div>
              <div class="form-group col-sm-5">
                <label for="locationName">LocationName</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.locationName"
                  name="LocationName"
                  #LocationName="ngModel"
                  id="locationName"
                  placeholder="Enter Item Location"
                />
              </div>
              <div class="form-group col-sm-5">
                <label for="typeName">TypeName</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.typeName"
                  name="TypeName"
                  #typeName="ngModel"
                  id="typeName"
                  placeholder="Enter Item Type"
                />
              </div>
              <div class="col-sm-1"></div>
            </div>

            <div class="row">
              <div class="col-sm-1"></div>
              <div class="form-group col-sm-5">
                <label for="statusName">Status Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.statusName"
                  name="StatusName"
                  #StatusName="ngModel"
                  id="statusName"
                  placeholder="Enter Item Status"
                />
              </div>
              <div class="col-sm-1"></div>
            </div>

            <div class="row">
              <div class="col-sm-5"></div>
              <div class="col-sm-4 d-flex gap-2 justify-content-center">
                <button
                  type="button"
                  class="btn btn-primary btn-group"
                  (click)="getSearchedItems()"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Search an item"
                >
                  Search
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-group"
                  (click)="clear()"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Clear searched Fields"
                >
                  Clear
                </button>
                <button
                  *ngIf="isExpandAdvancedSearch"
                  type="button"
                  class="btn btn-primary btn-group"
                  (click)="Hide()"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Hide searched Fields"
                >
                  Hide
                </button>
              </div>
              <div class="col-sm-3"></div>
            </div>
          </ng-container>

          <div *ngIf="flag === 0">
            <strong>Search Results:</strong>
          </div>

          <alert type="danger" *ngIf="flag === 1">
            No Results Found <br />
          </alert>

          <button
            *ngIf="flag === 0"
            type="button"
            class="btn btn-primary mb-2"
            (click)="exportAsExcelFileWithMultipleSheets()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Export results"
          >
            Export to Excel
          </button>

          <div *ngFor="let companyName of searchResultKeys; let s = index">
            <div class="card mb-2">
              <div class="type-header">
                <strong>{{ companyName }}</strong>
              </div>
            </div>

            <div *ngFor="let itemType of searchResults[companyName] | keys; let t = index" class="mb-2">
              <div class="card mb-1">
                <div class="type-header">
                  <strong>{{ itemType }}</strong>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th [class.active]="order === 'name'" (click)="setOrder('name')">
                        Tag # <span [hidden]="reverse === ''">▼</span><span [hidden]="reverse !== ''">▲</span>
                      </th>
                      <th [class.active]="order === 'phone'" (click)="setOrder('phone')">
                        Location <span [hidden]="reverse === ''">▼</span><span [hidden]="reverse !== ''">▲</span>
                      </th>
                      <th [class.active]="order === 'state'" (click)="setOrder('state')">
                        Status <span [hidden]="reverse === ''">▼</span><span [hidden]="reverse !== ''">▲</span>
                      </th>
                      <ng-container *ngIf="searchResults[companyName][itemType][0]?.attributeNameList">
                        <th *ngFor="let attr of searchResults[companyName][itemType][0].attributeNameList">
                          {{ attr.name }}
                        </th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of searchResults[companyName][itemType] | paginate:{itemsPerPage: dynLst[s][t].itemsForPagination, currentPage: dynLst[s][t].p, id: 'page'+t}">
                      <td>
                        <a href="javascript:void(0)" (click)="goToView(result.itemId,result.itemRank,result.tag,result.typeName,result.companyId)">
                          {{ result.tag }}
                        </a>
                      </td>
                      <td>{{ result.locationName }}</td>
                      <td>{{ result.statusname }}</td>
                      <ng-container *ngIf="result?.attributeNameList">
                        <td *ngFor="let attr of result.attributeNameList">{{ attr.value }}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls class="my-pagination" id="page{{ t }}" (pageChange)="dynLst[s][t].p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index:2; cursor:pointer; transform: translate(-1%, -1%);"
>
  <div class="loader"></div>
</div>

<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
</style>
