.type-header {
  padding: 0.3rem;
  background-color: lightgrey;
}

.card {
  margin-bottom: 0rem;
}

.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}

.card-body {
  padding: 20px;
}

.form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 8px;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.form-control {
  background-color: #fff;
}
