<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.<br />
            *To edit an attachment:<br />
            1.Click the 'Edit' button.<br />
            2.Make neccesary changes.<br />
            3.Click on 'Update' button.<br />
            *To delete an attachment:<br />
            1.Click the 'Delete' button.
          </div>
        </div>
        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="true">
            Company Documents saved successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="true">
            Please Upload the file.
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding modal-body-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Add Company Documents</strong>
                </div>
                <form
                  name="form"
                  (ngSubmit)="saveCompanyDocument()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input
                          type="text"
                          [(ngModel)]="model.added"
                          name="added"
                          #added="ngModel"
                          id="added"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.by"
                          name="by"
                          #by="ngModel"
                          id="by"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model._id"
                          name="_id"
                          #_id="ngModel"
                          id="_id"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.companyId"
                          name="companyId"
                          #companyId="ngModel"
                          id="companyId"
                          hidden
                        />
                      </div>
                    </div>
                    <div style="overflow: auto">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>File</th>
                            <th>Description</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of addedfiles; let i = index">
                            <td>
                              <input
                                type="file"
                                class="form-control"
                                (change)="fileChangeListener($event, i)"
                                id="file"
                              />
                            </td>
                            <td>
                              <textarea
                                id="desc"
                                rows="2"
                                cols="4"
                                class="form-control"
                                [(ngModel)]="item.description"
                                [name]="'description' + i"
                                placeholder="Enter Description"
                              ></textarea>
                            </td>
                            <td>
                              <button
                                *ngIf="i > 0"
                                type="button"
                                (click)="remove(i)"
                                data-bs-placement="bottom"
                                data-bs-toggle="tooltip"
                                title=" Click here to remove File"
                              >
                                Remove
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="button"
                          (click)="addNewAttachment()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title=" Click here to Add File"
                        >
                          Add File
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          class="btn btn-primary btn-right btn-top"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Save Document"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          (click)="cancelCompanyDocument()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel"
                          class="btn btn-primary btn-top"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
