.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #333333;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #e02725;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: black;
}

.row {
  margin: 0 -15px;
}

.col-padding,
.text-right,
.form-group {
  padding: 0 15px;
}

.text-right {
  text-align: right;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 8px;
}

.card,
.form-group button,
.btn-primary {
  border-radius: 0;
}

.card-body {
  padding: 20px;
}

.form-control {
  background-color: #fff;
}

.card-header {
  padding: 12px 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.table .thead-light th,
.table-outline td {
  padding: 12px;
}

.table-outline td a {
  color: #e02725;
  text-decoration: none;
  background-color: transparent;
}

.table-outline td a:hover {
  color: #a21817;
  text-decoration: underline;
}

a {
  text-decoration: none !important;
}
