<header class="app-header navbar">
  <div
    class="col-12"
    style="padding-left: 15px; padding-right: 15px; position: relative"
  >
    <div
      class="row"
      style="margin-left: -15px; margin-right: -15px; width: 1536px"
    >
      <div
        class="col-2 col-md-1 col-lg-2 col-sm-1 d-lg-none margin-name-0mobile iphone-1"
        style="
          padding-left: 15px;
          padding-right: 15px;
          width: 100%;
          position: relative;
        "
      >
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          appMobileSidebarToggler
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div
        class="col-5 col-md-2 col-sm-3 pr-0 iphone-2"
        style="padding-left: 15px; padding-right: 0px; position: relative"
      >
        <a
          class="navbar-brand"
          href="#"
          style="padding-left: 16px; padding-right: 16px"
        ></a>
        <button
          class="navbar-toggler d-md-down-none"
          type="button"
          appSidebarToggler
          style="
            padding: 0.25rem 0.75rem;
            font-size: 1.09375rem;
            border: 1px solid transparent;
          "
        >
          <span class="navbar-toggler-icon margin-new-top-one"></span>
        </button>
      </div>

      <div
        class="col-12 col-md-5 col-lg-7 margin-name-0mobile col-sm-4 r-106"
        style="padding-left: 15px; padding-right: 15px; position: relative"
      >
        <span style="color: black; font-weight: bold">Current Roles</span>:<span
          style="color: #e02725; font-weight: bold"
          [innerHTML]="roles | uppercase"
        ></span>
      </div>

      <div
        class="col-md-3 col-lg-2 col-10 margin-name col-sm-3 iphone-absolute"
        style="padding-left: 15px; padding-right: 15px; position: relative"
      >
        <ul class="nav navbar-nav ml-auto float-right" style="float: right">
          <li class="nav-item dropdown" dropdown placement="bottom right">
            <a
              class="nav-link bew"
              data-toggle="popover"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
            </a>
            <!-- add data-bs-toggle="popover" -->
          </li>

          <li class="nav-item">
            <span
              style="color: #e02725; font-weight: bold"
              [innerHTML]="userName | uppercase"
            >
            </span>
          </li>
        </ul>
      </div>

      <div
        class="col-2 col-md-1 col-sm-1 margin-name iphone-absolute r-0"
        style="padding-left: 15px; padding-right: 15px; position: relative"
      >
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown" dropdown placement="bottom right new">
            <a
              class="nav-link"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              dropdownToggle
              (click)="(false)"
            >
              <!-- add id="simple-dropdown"
              add data-bs-toggle="dropdown"
              remove (click)="(false)"-->
              <span class="navbar-toggler-icon"></span>
            </a>

            <div
              class="dropdown-menu dropdown-menu-right"
              style="margin-right: 5%; margin-top: 28%"
              *dropdownMenu
              aria-labelledby="simple-dropdown"
            >
              <!-- add appDropdown -->
              <div class="dropdown-header text-center">
                <strong>Settings</strong>
              </div>

              <div *ngIf="highestRank > 0">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [routerLink]="['/profile/myProfile']"
                >
                  <i class="fa fa-user"></i>My Profile</a
                >
              </div>

              <a class="dropdown-item gg" (click)="logout()">
                <i class="fa fa-lock"></i> Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <div
        class="dropdown-menu dropdown-menu-right"
        style="margin-right: 5%; margin-top: 28%"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center">
          <strong>Search</strong>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Find Tag#" type="text" />
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Item Type" type="text" />
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
          <button type="submit" class="btn btn-primary">Advanced Search</button>
        </form>
      </div>
    </li>
  </ul>
</header>
