.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%;
}

.app-header.navbar {
  position: fixed;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #a4b7c1;
  z-index: 1000;
}


/* Remove dropdown arrow */
:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button::after {
  display: none !important;
}

:host ::ng-deep .dropdown-toggle::after {
  display: none !important;
}
