<header class="app-header navbar">
  <div class="col-12">
    <div class="row">
      <div
        class="col-2 col-md-1 col-lg-2 col-sm-1 d-lg-none margin-name-0mobile iphone-1"
      >
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          appMobileSidebarToggler
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col-5 col-md-2 col-sm-3 pr-0 iphone-2">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler d-md-down-none"
          type="button"
          appSidebarToggler
        >
          <span class="navbar-toggler-icon margin-new-top-one"></span>
        </button>
      </div>

      <div class="col-12 col-md-5 col-lg-7 margin-name-0mobile col-sm-4">
        <span style="color: black; font-weight: bold">Current Roles:</span>
        <span style="margin-left: 3px; color: #e02725; font-weight: bold"
          [innerHTML]="roles | uppercase"
        ></span>
        <!-- <span style="color:black;font-weight: bold;">Current Roles</span>:<ng-container *ngFor="let role of userRoles"><span style="color: #e02725;font-weight: bold;">{{role.rolename}},</span> </ng-container> -->
        <!-- <span style="color:#e02725; font-weight: bold;margin-left: 450px;">GoTracRat Version:1.0</span>   -->
      </div>

      <div
        class="col-md-3 col-lg-2 col-10 margin-name col-sm-3 iphone-absolute"
        style="float: right;"

      >
        <ul class="nav navbar-nav d-flex justify-content-end">
          <li class="nav-item dropdown" dropdown placement="bottom right">
            <a
              class="nav-link bew"
              data-toggle="popover"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <!-- <span class="icon-magnifier"></span> -->
            </a>
          </li>

          <li class="nav-item">
            <span
              style="color: #e02725; font-weight: bold; "
              [innerHTML]="userName | uppercase"
            >
            </span>
          </li>
        </ul>
      </div>

      <div class="col-2 col-md-1 col-sm-1 margin-name iphone-absolute r-0">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a
              id="simple-dropdown"
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              (click)="toggleDropdown($event)"
            >
              <span class="navbar-toggler-icon"></span>
            </a>

            <div
              class="dropdown-menu dropdown-menu-right"
              [ngClass]="{ show: isDropdownOpen }"
            >
              <div class="dropdown-header text-center">
                <strong>Settings</strong>
              </div>

              <div *ngIf="highestRank > 0">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [routerLink]="['/profile/myProfile']"
                >
                  <i class="fa fa-user"></i>My Profile</a
                >
              </div>

              <a class="dropdown-item gg" (click)="logout()">
                <i class="fa fa-lock"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <!--     <li class="nav-item px-3">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Button dropdown <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
    </li> -->

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <!-- <a class="nav-link bew" data-toggle="popover" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="icon-magnifier"></span>
      </a> -->

      <div
        class="dropdown-menu dropdown-menu-right"
        style="margin-right: 5%; margin-top: 28%"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center">
          <strong>Search</strong>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Find Tag#" type="text" />
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Item Type" type="text" />
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
          <button type="submit" class="btn btn-primary">Advanced Search</button>
        </form>
      </div>
    </li>

    <!--     <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-list"></i>
      </a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-location-pin"></i>
      </a>
    </li> -->

    <!--     <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </ul>
</header>
