.text-right {
  text-align: right;
  padding: 0 15px;
  margin-bottom: 16px;
}

.btn-top {
  margin-top: 5px;
}

.btn-right {
  margin-right: 5px;
}

.btn-rounded {
  border-radius: 6px;
}

button {
  border-radius: 0;
}

.card {
  border-radius: 0;
  padding: 0;
}

.row {
  margin: 0 -15px;
}

.col-padding,
.modal-body-padding {
  padding: 0 15px;
}

.card-header {
  padding: 12px 20px;
  border-radius: 0;
}

.bg-danger-custom {
  background-color: #e02725;
  color: #fff;
}

.card-body {
  padding: 20px;
}

.modal-body {
  padding: 16px;
}

.form-control {
  background-color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}

.row .form-group label {
  margin-bottom: 8px;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

::ng-deep .row .alert-danger {
  padding: 12px 20px;
  color: #813838;
  background-color: #fee2e1;
  border-color: #fdd6d6;
  border-radius: 0;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

::ng-deep .alert-dismissible .btn-close {
  opacity: 0;
}

.help-box {
  text-align: left;
  border: 1px solid;
  width: fit-content;
  background-color: whitesmoke;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-1%, -1%);
}

.loader {
  position: fixed;
  left: 60%;
  top: 60%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.btn-link[routerLink="/forgot-password"] {
  color: red;
}

.cent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
