<div
  class="animated fadeIn"
  id="print-section"
  onload="window.print();window.close()"
>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="name">Effective Date</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.transfeDate"
                  name="transferDate"
                  #transferDate="ngModel"
                  id="transferDate"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="name">PO Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.ponumber"
                  name="PONumber"
                  #PONumber="ngModel"
                  id="PONumber"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="name">Job Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.jobNumber"
                  name="jobNumber"
                  #jobNumber="ngModel"
                  id="jobNumber"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="name">Shipping Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.shippingNumber"
                  name="shippingNumber"
                  #shippingNumber="ngModel"
                  id="shippingNumber"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="name">Tracking Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.trackingNumber"
                  name="trackingNumber"
                  #trackingNumber="ngModel"
                  id="trackingNumber"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="name">Previous Status</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.oldStatus"
                  id="oldStatus"
                  #oldStatus="ngModel"
                  name="oldStatus"
                />
              </div>
              <div class="form-group col-sm-6">
                <label for="name">Status</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.newStatusName"
                  id="newStatus"
                  #newStatus="ngModel"
                  name="newStatus"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="mtbs">Days in Previous Status</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="model.daysinOldStatus"
                  id="daysinOldStatus"
                  name="daysinOldStatus"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <label for="toLocation">To Location:</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.toLocation"
                  name="toLocation"
                  #toLocation="ngModel"
                  id="toLocation"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="description">Details</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.details"
                  name="details"
                  #details="ngModel"
                  id="details"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <table style="width: 85%">
          <tr>
            <th
              style="
                padding: 12px;
                text-align: right;
                font-size: 50px;
                color: darkblue;
                border: 1px solid black;
              "
            >
              Company Name :
            </th>
            <td>
              <u style="color: darkblue">
                <b style="font-size: 50px; color: darkblue">{{
                  this.companyName
                }}</b></u
              >
            </td>
          </tr>
        </table>
        <table style="width: 111%">
          <tr>
            <th
              style="
                padding: 12px;
                text-align: right;
                font-size: 50px;
                color: darkblue;
                border: 1px solid black;
              "
            >
              Tag :
            </th>
            <td>
              <u style="color: darkblue">
                <b style="font-size: 50px; color: darkblue">{{
                  item.tag
                }}</b></u
              >
            </td>
          </tr>
        </table>
        <table style="width: 60%">
          <tr *ngFor="let attribute of attributes">
            <th
              style="
                padding: 12px;
                text-align: right;
                font-size: 50px;
                color: darkblue;
                border: 1px solid black;
              "
            >
              {{ attribute.attributename }} :
            </th>
            <td>
              <u style="color: darkblue">
                <b style="font-size: 50px; color: darkblue">{{
                  attribute.attributevalue
                }}</b></u
              >
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 text-center">
          <button
            type="button"
            (click)="back()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Back to View Item Transfer "
            class="btn btn-primary"
          >
            Back To Item
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
