<div class="animated fadeIn" id="print-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <label for="transferDate">Effective Date</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.transfeDate"
                  id="transferDate"
                  name="transferDate"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <label for="PONumber">PO Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.poNumber"
                  id="PONumber"
                  name="PONumber"
                />
              </div>
              <div class="col-sm-6">
                <label for="jobNumber">Job Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.jobNumber"
                  id="jobNumber"
                  name="jobNumber"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <label for="shippingNumber">Shipping Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.shippingNumber"
                  id="shippingNumber"
                  name="shippingNumber"
                />
              </div>
              <div class="col-sm-6">
                <label for="trackingNumber">Tracking Number</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.trackingNumber"
                  id="trackingNumber"
                  name="trackingNumber"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <label for="oldStatus">Previous Status</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.oldStatus"
                  id="oldStatus"
                  name="oldStatus"
                />
              </div>
              <div class="col-sm-6">
                <label for="newStatus">Status</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.newStatusName"
                  id="newStatus"
                  name="newStatus"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <label for="daysinOldStatus">Days in Previous Status</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="model.daysinOldStatus"
                  id="daysinOldStatus"
                  name="daysinOldStatus"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <label for="toLocation">To Location</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.toLocation"
                  id="toLocation"
                  name="toLocation"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <label for="details">Details</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="model.details"
                  id="details"
                  name="details"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <table class="w-100 mb-2">
          <tr>
            <th class="text-end" style="font-size:50px; color:darkblue; border:1px solid black; padding:12px;">
              Company Name:
            </th>
            <td>
              <u style="color:darkblue">
                <b style="font-size:50px;">{{ companyName }}</b>
              </u>
            </td>
          </tr>
        </table>
        <table class="w-100 mb-2">
          <tr>
            <th class="text-end" style="font-size:50px; color:darkblue; border:1px solid black; padding:12px;">
              Tag:
            </th>
            <td>
              <u style="color:darkblue">
                <b style="font-size:50px;">{{ item.tag }}</b>
              </u>
            </td>
          </tr>
        </table>
        <table class="w-100">
          <tr *ngFor="let attribute of attributes">
            <th class="text-end" style="font-size:50px; color:darkblue; border:1px solid black; padding:12px;">
              {{ attribute.attributeName }}:
            </th>
            <td>
              <u style="color:darkblue">
                <b style="font-size:50px;">{{ attribute.attributevalue }}</b>
              </u>
            </td>
          </tr>
        </table>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" style="border-radius:6px;" (click)="back()">
            Back To Item
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loader" class="loader-backdrop">
  <div class="loader"></div>
</div>

<style>
  .loader-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 3;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
