.row {
  margin: 0 -15px;
}

.col-padding,
.text-right,
.form-group {
  padding: 0 15px;
}

.text-right {
  text-align: right;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 8px;
}

.card,
button {
  border-radius: 0;
}

.card-body {
  padding: 20px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}

.form-control {
  background-color: #fff;
}

.modal-body {
  padding: 16px;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

.card-header {
  padding: 12px 20px;
}

.btn-group{
  border-radius: 6px;
}

.custom-dropdown-arrow {
  position: absolute;
  top: 56%;
  right: 32px; /* adjust this value to move left/right */
  transform: translateY(-45%);
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid gray;
}
