<div class="animated fadeIn" *ngIf="highestRankNum > 2">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Item saved successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Required Fields. <br />
            (Item type, Tag, Status and Location)
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            Please Enter Required Attribute Fields (Attributes with * beside them are mandatory). <br />
          </alert>

          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="form-group col-sm-12 text-right">
                  <button
                    type="button"
                    (click)="print()"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Click to Print this Page"
                    class="btn btn-outline-danger btn-sm btn-right btn-top"
                    style="border-radius: 6px;"
                    >
                    
                    Print
                  </button>
                  <button
                    type="button"
                    (click)="help()"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title=" Instructions"
                    class="btn btn-outline-danger btn-sm btn-top"
                    style="border-radius: 6px;"
                    >
                    Help
                  </button>

                  <div
                    *ngIf="helpFlag"
                    style="text-align: left; border: 1px solid; width: fit-content; background-color: whitesmoke;">
                    Note: Mandatory Fields are required.<br />
                    *To add a new item:<br />
                    1. Enter the data for the new item.<br />
                    2. Click the 'Save' button.<br />
                    *To edit an existing item: <br />
                    1. Enter the tag number and click 'Search' or click the 'Edit' button.<br />
                    2. If more than one item type is found for the tag number,
                    select the desired type in the 'Select Type' drop down list.<br />
                    3. Make the necessary changes.<br />
                    4. Click the 'Save' button.
                  </div>
                </div>

                <div class="card-header">
                  <strong style="color: red">ADD ITEM </strong>
                </div>

                <form name="form" #f="ngForm" novalidate>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="type">Item Type <strong class="text-danger">*</strong></label>
                        <div class="custom-dropdown-wrapper1">
                        <app-dropdown-treeview-select
                          [items]="itemTypeItems"
                          [(value)]="model.typeId"
                          id="type"
                          (valueChange)="getItemTypeAttributes(model.typeId, $event)">
                        </app-dropdown-treeview-select>
                        <span class="custom-dropdown-arrow"></span>
                        </div>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="tag">Item Tag# <strong class="text-danger">*</strong></label>
                        <input
                          type="text"
                          class="form-control"
                          [readonly]="model.typeId == null"
                          (change)="checkItemTag($event)"
                          [(ngModel)]="model.tag"
                          [ngModelOptions]="{standalone: true}"
                          id="tag"
                          placeholder="Enter Item Tag" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6"></div>
                      <div class="form-group col-sm-6">
                        <label>Tag Check:</label>
                        <label style="color: red" *ngIf="model.typeId == null">
                          *Select Item type before entering tag#
                        </label><br />

                        <span
                          class="form-control"
                          style="color: red"
                          *ngIf="isDuplicateTag && model.typeId && model.tag">
                          Tag already exists
                        </span>
                        <span
                          class="form-control"
                          style="color: blue"
                          *ngIf="!isDuplicateTag && model.typeId && model.tag">
                          Tag Available
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="name">Name</label>
                        <input
                          type="text"
                          class="form-control add-item-background"
                          [(ngModel)]="model.name"
                          [ngModelOptions]="{standalone: true}"
                          id="name"
                          placeholder="Enter Item Name" />
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="status">Select Status <strong class="text-danger">*</strong></label>
                        <select
                          class="form-control add-item-background"
                          [(ngModel)]="model.statusId"
                          [ngModelOptions]="{standalone: true}"
                          id="status">
                          <option value="0" selected>Choose Status</option>
                          <option
                            [ngValue]="status.statusId"
                            *ngFor="let status of statuses">
                            {{ status.status }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="price">Purchase price</label>
                        <input
                          type="number"
                          class="form-control add-item-background"
                          [(ngModel)]="model.purchasePrice"
                          [ngModelOptions]="{standalone: true}"
                          id="price" />
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="date">Purchase Date</label>
                        <input
                          type="text"
                          class="form-control add-item-background"
                          [(ngModel)]="model.purchaseDate"
                          [ngModelOptions]="{standalone: true}"
                          id="date"
                          bsDatepicker />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="warranty">Warranty Type</label>
                        <select
                          class="form-control add-item-background custom-dropdown"
                          [(ngModel)]="model.warrantyTypeId"
                          [ngModelOptions]="{standalone: true}"
                          id="warranty">
                          <option value="0" selected>Select Warranty Type</option>
                          <option
                            [ngValue]="type.warrantyTypeId"
                            *ngFor="let type of warrantyTypes">
                            {{ type.warrantyType }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="exp">Warranty Exp.</label>
                        <input
                          type="text"
                          class="form-control add-item-background"
                          [(ngModel)]="model.warrantyExpiration"
                          [ngModelOptions]="{standalone: true}"
                          id="exp"
                          bsDatepicker />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="location">Location <strong class="text-danger">*</strong></label>
                        <div class="custom-dropdown-wrapper">
                        <app-dropdown-treeview-select
                          [items]="locationItems"
                          [(value)]="model.locationId"
                          (valueChange)="onValueChange($event)">
                        </app-dropdown-treeview-select>
                        <span class="custom-dropdown-arrow1"></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="description">Description</label>
                        <input
                          type="text"
                          class="form-control add-item-background"
                          [(ngModel)]="model.description"
                          [ngModelOptions]="{standalone: true}"
                          id="description" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          class="btn btn-primary btn-right"
                          (click)="saveItem()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Save Item"
                          style="border-radius: 6px;">
                          Save
                        </button>
                        <button
                          type="button"
                          [routerLink]="['../../items']"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          style="border-radius: 6px;"
                          title="Cancel"
                          class="btn btn-primary">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
