<div class="animated fadeIn" style="margin-top: -2%" *ngIf="highestRankNum > 0">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="form-group col-sm-12 text-right">
                  <button
                    type="button"
                    (click)="print()"
                    class="btn btn-outline-danger btn-sm btn-right btn-top btn-group"
                    title="Click to Print this Page"
                  >
                    Print
                  </button>
                  <button
                    type="button"
                    (click)="help()"
                    class="btn btn-outline-danger btn-sm btn-top btn-group"
                    title="Instructions"
                  >
                    Help
                  </button>
                  <div
                    *ngIf="helpFlag"
                    class="p-2"
                    style="text-align:left; border:1px solid; width:fit-content; background-color:whitesmoke;"
                  >
                    Note: Mandatory Fields are required.<br />
                    *To add a new item:<br />
                    1.Enter the data for the new item.<br />
                    2.Click the 'Save' button.<br />
                    *To edit an existing item:<br />
                    1.Enter the tag number and click 'Search' or click the 'Edit' button.<br />
                    2.If more than one item type is found for the tag number, select the desired type in the 'Select Type' drop down list.<br />
                    3.Make the necessary changes.<br />
                    4.Click the 'Save' button.
                  </div>
                </div>

                <div class="card-header">
                  <div class="row">
                    <div class="col-12 col-md-3 margin-bottom-mobile col-padding">
                      <strong>Viewing "{{ itemType }}" '{{ itemTag }}'</strong>
                    </div>
                    <div class="col-12 col-md-9 col-padding">
                      <button
                        [routerLink]="['../../cloneItem/' + itemId]"
                        [disabled]="itemRank < 3"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Clone
                      </button>
                      <button
                        *ngIf="itemRank > 0"
                        [routerLink]="['../../itemRepairs/' + itemId]"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Item Repairs
                      </button>
                      <button
                        *ngIf="itemRank > 0"
                        [routerLink]="['../../itemNotes/' + itemId + '/' + 0]"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Notes
                      </button>
                      <button
                        *ngIf="itemRank > 0"
                        [routerLink]="['../../attachments/' + itemId + '/' + currentAttachmentId]"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Pictures/Prints
                      </button>
                      <button
                        [routerLink]="['../../transferItem/' + itemId]"
                        [disabled]="itemRank < 4"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Item Transfer
                      </button>
                      <button
                        *ngIf="itemRank > 0"
                        (click)="GoToWareHousetag()"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        WarehouseTag
                      </button>
                      <button
                        *ngIf="itemRank > 0"
                        [routerLink]="['/items/advancedSearch/' + itemId + '/' + model.typeId]"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Find Replacement
                      </button>
                      <button
                        *ngIf="itemRank > 3 && !itemMMS"
                        (click)="goToItemService()"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                      >
                        Service
                      </button>
                      <button
                        type="button"
                        [disabled]="itemRank < 5 || highestRankNum == 9"
                        class="btn btn-primary margin-bottom-mobile btn-group"
                        (click)="openModal(confirmtemplate, itemId)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

                <form #f="ngForm" novalidate>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-12 col-md-4">
                        <label>Item Tag#</label>
                        <span [innerHTML]="model.tag"></span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label>Status:</label>
                        <span [innerHTML]="model.status"></span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label>Type Of Item:</label>
                        <span [innerHTML]="model.typeName"></span>
                      </div>
                    </div>
                    <div *ngIf="this.itemMMS==true && model.status == 'Customer In Service'" class="mt-3">
                      <div class="row">
                        <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Driven Machine Name:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.drivenMachineName"></span></div>
      </div>
    </div>
    
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Dept Name:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.deptName"></span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Process Name:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.processName"></span></div>
      </div>
    </div>
  </div>
                    </div>
                    
                    <div *ngIf="this.itemMMS==true" class="mt-3">
                      <div class="row">
                    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Dept Number:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.reservedForDeptNumber"></span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved Only For:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.reservedOnlyFor"></span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Process ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.reservedForProcessID"></span></div>
      </div>
    </div>
    <div class="col-sm-4 col-padding">
      <div class="row">
        <div class="col-6 col-md-5 col-padding"><label>Reserved For Driven Machine ID:</label></div>
        <div class="col-6 col-md-5 col-padding"><span [innerHTML]="mmsData.reservedForDrivenMachineID"></span></div>
      </div>
    </div>
    
    <ng-container *ngFor="let eachAttr of model.attributeValues">
      <div *ngIf="eachAttr.name === 'TYPE'" class="col-sm-4 col-padding">
        <div class="row">
          <div class="col-6 col-md-5 col-padding">
            <label>{{ eachAttr.name }}:</label>
          </div>
          <div class="col-6 col-md-5 col-padding">
            <span>{{ eachAttr.value }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    </div>
    </div>
                    <div class="row">
                      <div class="form-group col-12 col-md-6" *ngIf="itemRank > 1">
                        <p style="color:#002a64; font-size:18px; font-weight:bold;">Changes Log Feed:</p>
                        <div style="border:3px red solid; padding:10px;">
                          <ul *ngFor="let journal of journals | slice:0:3">
                            <li>
                              {{ journal.entry }} on {{ journal.enteredOn | date:'MM/dd/yyyy' }} by {{ journal.enteredBy }}
                              <a [routerLink]="['../../../items/changeLog/', journal.entityId, journal.journalId]" (click)="modalRef.hide()">details</a>
                            </li>
                          </ul>
                          <button type="button" (click)="openMoreChanges()" class="btn btn-primary more-changes btn-group">More Changes</button>
                        </div>
                      </div>

                      <div id="image" class="form-group col-12 col-md-6" *ngIf="itemRank > 0">
                        <div class="row">
                          <div class="col-sm-9" *ngIf="!model.defaultImageAttachmentId; else showImage" style="padding:100px">
                            <div id="box">No Image for this Item</div>
                          </div>
                          <ng-template #showImage>
                            <div class="col-sm-12">
                              <a (click)="openImage()" style="cursor:pointer">
                                <img class="img-fluid pull-right" [src]="imageSource" style="width:500px; height:300px" />
                              </a>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-2 col-padding"><label>Name:</label></div>
                      <div class="col-8 col-padding"><span [innerHTML]="model.name"></span></div>
                    </div>

                    <div class="row">
                      <div class="col-4 col-lg-2 col-padding"><label>Location:</label></div>
                   <div class="col-8 col-lg-8 col-padding">
   <span [innerHTML]="model.locationName == 'Customer Spare (CS)'
    ? (model.locationPath + '\\' + mmsData.deptName) 
    : model.locationPath">
  </span>
</div>     </div>

                    <div class="row">
                      <div class="col-4 col-lg-2 col-padding"><label>Description:</label></div>
                      <div class="col-8 col-lg-8 col-padding"><span [innerHTML]="model.description"></span></div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4 col-padding">
                        <div class="row">
                          <div class="col-6 col-md-5 col-padding"><label>Purchase price:</label></div>
                          <div class="col-6 col-md-5 col-padding"><span [innerHTML]="model.purchasePrice"></span></div>
                        </div>
                      </div>
                      <div class="col-sm-4 col-padding">
                        <div class="row">
                          <div class="col-6 col-padding"><label>Purchase Date:</label></div>
                          <div class="col-6 col-padding"><span [innerHTML]="model.purchaseDate | date:'MM/dd/yyyy'"></span></div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row">
                          <div class="col-6"><label>MTBS:</label></div>
                          <div class="col-6"><span [innerHTML]="model.meanTimeBetweenService"></span></div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div class="form-group col-12 col-md-4">
                        <label>Days in "{{ model.status }}" status:</label>
                        <span [innerHTML]="model.daysInService"></span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label>Next Service Date:</label>
                        <span>{{ model.serviceDate | date:'MM/dd/yyyy' }}</span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label>Days Due for next Service:</label>
                        <span>{{ model.daysDueForNextService }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4 col-padding">
                        <div class="row">
                          <div class="col-6 col-md-5 col-padding"><label>Warranty Type:</label></div>
                          <div class="col-6 col-padding"><span [innerHTML]="model.warrantyType"></span></div>
                        </div>
                      </div>
                      <div class="col-sm-4 col-padding">
                        <div class="row">
                          <div class="col-6 col-padding"><label>Warranty Exp:</label></div>
                          <div class="col-6 col-padding"><span [innerHTML]="model.warrantyExpiration | date:'MM/dd/yyyy'"></span></div>
                        </div>
                      </div>
                      <div class="col-sm-4 col-padding">
                        <div class="row">
                          <div class="col-6 col-padding"><label>Desired Spare Ratio:</label></div>
                          <div class="col-6 col-padding"><span [innerHTML]="model.desiredSpareRatio"></span></div>
                        </div>
                      </div>
                    </div>

<div  class ="mt-3">
<div class="row">
  <div class="col-12 col-padding">
    <label>MMS Comments:</label>
    <div>{{ mmsComments }}</div>
  </div>
</div>
</div>


                    <div class="mt-3">
                      <h6 style="color:red">Item Attributes</h6>
                    </div>

                    <div class="row">
                      <div class="col-sm-4 col-padding" *ngFor="let eachAttr of model.attributeValues">
                        <ng-container>
                          <div class="row">
                            <div class="col-6 col-padding"><label [innerHTML]="eachAttr.name">:</label></div>
                            <div class="col-6 col-padding"><span>{{ eachAttr.value }}</span></div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                   <div *ngIf="itemMMS" class="form-check mt-2">
  <input
  type="checkbox"
  class="form-check-input"
  id="mmsCheckbox"
  name="showMMSData"
  [(ngModel)]="showMMSData"
/>

  <label class="form-check-label" for="mmsCheckbox">
    Show MMS Data
  </label>
</div>

   <div *ngIf="itemMMS && showMMSData && mmsData" class="mt-3">

  <h6 style="color:red">MMS Data</h6>

  
  <div class="mb-2">
    <button class="btn btn-sm btn-outline-primary"
            (click)="toggleEditOrder()">
      {{ editingOrder ? 'Cancel Order Edit' : 'Edit MMS Data Order' }}
    </button>

    <button *ngIf="editingOrder"
            class="btn btn-sm btn-success ml-1"
            (click)="saveMmsOrder()">
      Save Order
    </button>
  </div>

  
  <div class="row">

    <ng-container *ngFor="let field of mmsItemsOrder; let i = index">

      <div *ngIf="mmsData[field] != null && mmsData[field] !== ''"
     class="col-sm-4 col-padding mb-4">

  <div class="d-flex justify-content-between align-items-center">

   
    <div>
      <label class="mb-0" style="font-size: 16px;">{{ getLabel(field) }}:</label>
      <span class="ml-1" style="font-size: 16px;">{{ mmsData[field] }}</span>
    </div>

   <div *ngIf="editingOrder" class="arrow-container">

 
  <button class="arrow-btn"
          (click)="moveLeft(i)"
          [disabled]="i % 3 === 0">
    <svg viewBox="0 0 24 24">
      <path d="M15 6l-6 6 6 6"/>
    </svg>
  </button>

  
  <button class="arrow-btn"
          (click)="moveTop(i)"
          [disabled]="i < 3">
    <svg viewBox="0 0 24 24">
      <path d="M6 15l6-6 6 6"/>
    </svg>
  </button>

 
  <button class="arrow-btn"
          (click)="moveBottom(i)"
          [disabled]="i + 3 >= mmsItemsOrder.length">
    <svg viewBox="0 0 24 24">
      <path d="M6 9l6 6 6-6"/>
    </svg>
  </button>

 
  <button class="arrow-btn"
          (click)="moveRight(i)"
          [disabled]="(i % 3 === 2) || i === mmsItemsOrder.length - 1">
    <svg viewBox="0 0 24 24">
      <path d="M9 6l6 6-6 6"/>
    </svg>
  </button>

</div>
  </div>

</div>

    </ng-container>

  </div>

</div>

                    <div class="row mt-3">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="button"
                          [routerLink]="['../../editItem/' + itemId]"
                          [disabled]="itemRank < 4"
                          class="btn btn-primary btn-right rounded"
                        >
                          Edit
                        </button>
                        <button type="button" (click)="back()" class="btn btn-primary rounded">Back</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="height:600px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Item Pictures</h4>
        <button type="button" class="close" (click)="myModal.hide()"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <ngx-image-viewer [src]="images"></ngx-image-viewer>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" [routerLink]="['../../attachments/' + itemId + '/' + currentAttachmentId]">Manage Pictures</a>
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title" style="color:#c31e1c">Change Log Feed Summary</h4>
    <button type="button" class="close" (click)="modalRef.hide()"><span>&times;</span></button>
  </div>
  <div class="modal-body scrollPopUp">
    <ul *ngFor="let journal of journals">
      <li *ngIf="journal.journaltypeId == 3">
        Item updated on {{ journal.enteredOn.split(' ')[0] }} by {{ journal.enteredBy }}
        <a [routerLink]="['../../viewChangeLogItem', journal.entityId, journal.journalId]" (click)="modalRef.hide()">details</a>
      </li>
      <li *ngIf="journal.journaltypeId == 4">
        Notes {{ journal.entry }} added on {{ journal.enteredOn.split(' ')[0] }} by {{ journal.enteredBy }}
        <a [routerLink]="['../../editItemNotes', journal.journalId, journal.entityId]" (click)="modalRef.hide()">details</a>
      </li>
      <li *ngIf="journal.journaltypeId == 7">
        {{ journal.entry }} by {{ journal.enteredBy }}
        <a [routerLink]="['../../transferItem', journal.entityId]" (click)="modalRef.hide()">details</a>
      </li>
      <li *ngIf="journal.journaltypeId == 6">
        Repair Data added on {{ journal.enteredOn.split(' ')[0] }} by 'justin'
        <a [routerLink]="['../../transferItem', journal.entityId]" (click)="modalRef.hide()">details</a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>Click(Yes) to permanently delete this item or Click(No) to discard this action.</p>
    <button type="button" class="btn btn-primary btn-right btn-group" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary btn-group" (click)="decline()">No</button>
  </div>
</ng-template>

<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>

<style>
  .loader-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
