<div class="animated fadeIn" style="margin-top: -2%" *ngIf="highestRank > 0">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="form-group col-sm-12 text-right">
                  <button
                    type="button"
                    (click)="print()"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Click to Print this Page"
                    class="btn btn-outline-danger btn-sm btn-right btn-top"
                  >
                    Print
                  </button>
                  <button
                    type="button"
                    (click)="help()"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Instructions"
                    class="btn btn-outline-danger btn-sm btn-top"
                  >
                    Help
                  </button>
                  <div
                    style="
                      text-align: left;
                      border: 1px solid;
                      width: fit-content;
                      background-color: whitesmoke;
                    "
                    *ngIf="helpFlag == true"
                  >
                    Note: Mandatory Fields are required.<br />
                    *To add a new item:<br />
                    1.Enter the data for the new item.<br />
                    2.Click the 'Save' button.<br />
                    *To edit an existing item: <br />
                    1.Enter the tag number and click 'Search' or click the
                    'Edit' button.<br />
                    2.If more than one item type is found for the tag number,
                    select the desired type in the 'Select Type' drop down
                    list.<br />
                    3.Make the necessary changes.<br />
                    4.Click the 'Save' button.
                  </div>
                </div>
                <div class="card-header">
                  <div class="col-12 p-0">
                    <div class="row">
                      <div
                        class="col-12 col-md-3 margin-bottom-mobile col-padding"
                      >
                        <strong
                          >Viewing "{{ itemType }}" '{{ itemTag }}'</strong
                        >
                      </div>
                      <div class="col-12 col-md-9 col-padding">
                        <button
                          [routerLink]="['../../cloneItem/' + itemId]"
                          [disabled]="itemRank < 3"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Clone Item"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Clone
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary margin-bottom-mobile"
                          [routerLink]="['../../itemRepairs/' + itemId]"
                          *ngIf="itemRank > 0"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Item Repairs"
                          placement="top"
                          style="margin-right: 5px"
                        >
                          Item Repairs
                        </button>
                        <button
                          [routerLink]="['../../itemNotes/' + itemId + '/' + 0]"
                          *ngIf="itemRank > 0"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Notes"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Notes
                        </button>
                        <button
                          [routerLink]="[
                            '../../attachments/' +
                              itemId +
                              '/' +
                              currentAttachmentId
                          ]"
                          *ngIf="itemRank > 0"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Click here to see Item Pictures"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Pictures/Prints
                        </button>
                        <button
                          [routerLink]="['../../transferItem/' + itemId]"
                          [disabled]="itemRank < 4"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Item Transfer"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Item Transfer
                        </button>
                        <button
                          (click)="GoToWareHousetag()"
                          *ngIf="itemRank > 0"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="WarehouseTag"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          WarehouseTag
                        </button>
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Find Replacement"
                          [routerLink]="[
                            '/items/advancedSearch/' +
                              itemId +
                              '/' +
                              model.typeId
                          ]"
                          *ngIf="itemRank > 0"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Find Replacement
                        </button>
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Item Service"
                          (click)="goToItemService()"
                          *ngIf="itemRank > 3"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                        >
                          Service
                        </button>
                        <button
                          type="button"
                          [disabled]="itemRank < 5 || highestRank == 9"
                          class="btn btn-primary margin-bottom-mobile"
                          style="margin-right: 5px"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Delete Item"
                          (click)="openModal(confirmtemplate, itemId)"
                        >
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <form name="form" #f="ngForm" novalidate>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-12 col-md-4">
                        <label for="tag" class="btn-right">Item Tag#</label>

                        <span
                          style="background: white"
                          [innerHTML]="model.tag"
                        ></span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label for="name" class="btn-right"> Status:</label>
                        <span
                          style="background: white"
                          [innerHTML]="model.status"
                        ></span>
                      </div>

                      <div class="form-group col-12 col-md-4">
                        <label for="type" class="btn-right"
                          >Type Of Item :</label
                        >
                        <span
                          style="background: white"
                          [innerHTML]="model.typeName"
                        ></span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="form-group col-12 col-md-6"
                        *ngIf="itemRank > 1"
                      >
                        <p
                          style="
                            color: #002a64;
                            font-size: 18px;
                            font-weight: bold;
                          "
                        >
                          Changes Log Feed:
                        </p>
                        <div style="height: auto; border: 3px red solid">
                          <br />
                          <ul
                            *ngFor="
                              let journal of journals | slice : 0 : 3;
                              let i = index
                            "
                          >
                            <li>
                              {{ journal.entry }} on
                              {{ journal.enteredon | date : "MM/dd/yyyy" }} by
                              {{ journal.enteredby }}...........<a
                                [routerLink]="[
                                  '../../../items/changeLog/',
                                  journal.entityid,
                                  journal.journalid
                                ]"
                                (click)="modalRef.hide()"
                                >details</a
                              >
                            </li>
                          </ul>

                          <button
                            type="button"
                            (click)="openMoreChanges()"
                            data-bs-placement="bottom"
                            data-bs-toggle="tooltip"
                            title="click here for More Changes Log Feed"
                            class="btn btn-primary more-changes"
                          >
                            More Changes
                          </button>
                        </div>
                      </div>
                      <div
                        id="image"
                        class="form-group col-12 col-md-6"
                        *ngIf="itemRank > 0"
                      >
                        <div class="row">
                          <div
                            class="col-sm-9"
                            style="padding: 100px"
                            *ngIf="
                              model.defaultImageAttachmentId == null ||
                                model.defaultImageAttachmentId == 0;
                              else showImage
                            "
                          >
                            <div id="box">No Image for this Item</div>
                          </div>
                          <ng-template #showImage>
                            <div class="col-sm-12">
                              <a
                                (click)="openImage()"
                                data-bs-placement="bottom"
                                data-bs-toggle="tooltip"
                                title="click here to see other Pictures"
                                style="cursor: pointer"
                              >
                                <img
                                  class="img-fluid pull-right"
                                  [src]="imageSource"
                                  style="width: 500px; height: 300px"
                                />
                              </a>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-2 col-padding">
                        <label for="name">Name:</label>
                      </div>
                      <div class="col-8 col-padding">
                        <span [innerHTML]="model.name"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 col-lg-2 col-padding">
                        <label for="location">Location:</label>
                      </div>
                      <div class="col-8 col-lg-8 col-padding">
                        <span [innerHTML]="model.locationPath"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 col-lg-2 col-padding">
                        <label for="description">Description:</label>
                      </div>
                      <div class="col-8 col-lg-8 col-padding">
                        <span [innerHTML]="model.description"></span>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                      >
                        <div class="row">
                          <div class="col-6 col-md-5 col-padding">
                            <label for="price">Purchase price:</label>
                          </div>
                          <div class="col-6 col-md-5 col-padding">
                            <span [innerHTML]="model.purchasePrice"></span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                      >
                        <div class="row">
                          <div class="col-6 col-padding">
                            <label for="date">Purchase Date:</label>
                          </div>
                          <div class="col-6 col-padding">
                            <span
                              [innerHTML]="
                                model.purchaseDate | date : 'MM/dd/yyyy'
                              "
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4" style="margin-bottom: 0px">
                        <div class="row">
                          <div class="col-6">
                            <label for="mtbs">MTBS:</label>
                          </div>
                          <div class="col-6">
                            <span
                              [innerHTML]="model.meanTimeBetweenService"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="form-group col-12 col-md-4">
                        <label for="mtbs"
                          >Days in "{{ model.status }}" status:</label
                        >

                        <span [innerHTML]="model.daysInService"></span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label for="serviceDate">Next Service Date:</label>

                        <span>
                          {{ model.serviceDate | date : "MM/dd/yyyy" }}
                        </span>
                      </div>
                      <div class="form-group col-12 col-md-4">
                        <label for="serviceDuration"
                          >Days Due for next Service:</label
                        >
                        <span> {{ model.daysDueForNextService }} </span>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                      >
                        <div class="row">
                          <div class="col-6 col-md-5 col-padding">
                            <label for="warranty">Warranty Type:</label>
                          </div>
                          <div class="col-6 col-padding">
                            <span [innerHTML]="model.warrantytype"></span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                      >
                        <div class="row">
                          <div class="col-6 col-padding">
                            <label for="exp">Warranty Exp:</label>
                          </div>
                          <div class="col-6 col-padding">
                            <span
                              [innerHTML]="
                                model.warrantyExpiration | date : 'MM/dd/yyyy'
                              "
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                      >
                        <div class="row">
                          <div class="col-6 col-padding">
                            <label for="spareratio">Desired Spare Ratio:</label>
                          </div>
                          <div class="col-6 col-padding">
                            <span [innerHTML]="model.desiredSpareRatio"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="companyId == 1806">
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="form-group col-12 col-md-4">
                              <label for="replacedTag">Replaced Tag_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.replacedTag"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="form-group col-12 col-md-4">
                              <label for="groupNumber">Group Number_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.groupNumber"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="form-group col-12 col-md-4">
                              <label for="replacedByTag"
                                >Replaced By Tag_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.replacedByTag"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="addReasonCode"
                                >Add Reason Code_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.addReasonCode"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="locationPath"
                                >Location Path_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.locationPath"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div>
                        <h6 style="color: red">Reserve</h6>
                        <br />
                      </div>
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="reservedOnlyFor"
                                >Reserved only for_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.reservedOnlyFor"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="reservedForDeptNumber"
                                >Reserved for Dept Number_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="model.reservedForDeptNumber"
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="QC Fail">QC Fail_MMS</label>
                              <input
                                type="checkbox"
                                [(ngModel)]="model.qcFail"
                                name="qcFail"
                                #complete="ngModel"
                                id="qcFail"
                              />
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="exp">Critical_MMS:</label>
                              <input
                                type="checkbox"
                                [(ngModel)]="model.critical"
                                name="critical"
                                #complete="ngModel"
                                id="critical"
                              />
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="exp">File_MMS:</label>
                              <input
                                type="checkbox"
                                [(ngModel)]="model.file"
                                name="file"
                                #complete="ngModel"
                                id="file"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="criticalLastTestDate"
                                >Critcal Last Date_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="
                                  model.criticalLastTestDate
                                    | date : 'MM/dd/yyyy'
                                "
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="inventoriedDate"
                                >Inventoried Date_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="
                                  model.inventoriedDate | date : 'MM/dd/yyyy'
                                "
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="importedNotReviewed"
                                >Imported Not Reviewed_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="model.importedNotReviewed"
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="dispositionEmployeeID"
                                >Disposition Employee Id_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="model.dispositionEmployeeID"
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="createDate">Created Date_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="
                                  model.createDate | date : 'MM/dd/yyyy'
                                "
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="updatedDate">Updated Date_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="
                                  model.updatedDate | date : 'MM/dd/yyyy'
                                "
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div>
                        <h6 style="color: red">Scrap</h6>
                        <br />
                      </div>
                      <div class="row">
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-md-5 col-padding">
                              <label for="scrapDate">Scrap Date_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span
                                [innerHTML]="
                                  model.scrapDate | date : 'MM/dd/yyyy'
                                "
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="scrapLocation"
                                >Scrap Location_MMS:</label
                              >
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.scrapLocation"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="scrapperName">Scrap Name_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.scrapperName"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-4 col-padding"
                          style="margin-bottom: 0px"
                        >
                          <div class="row">
                            <div class="col-6 col-padding">
                              <label for="scrapValue">Scrap Value_MMS:</label>
                            </div>
                            <div class="col-6 col-padding">
                              <span [innerHTML]="model.scrapValue"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br /><br />
                    <div>
                      <h6 style="color: red">Item Attributes</h6>
                      <br />
                    </div>

                    <div class="row">
                      <div
                        class="col-sm-4 col-padding"
                        style="margin-bottom: 0px"
                        *ngFor="
                          let eachAttr of model.attributeValues;
                          let i = index
                        "
                      >
                        <div class="row">
                          <div class="col-6 col-padding">
                            <label [innerHTML]="eachAttr.name">:</label>
                          </div>
                          <div class="col-6 col-padding">
                            <span>
                              <span>{{ eachAttr.value }}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="button"
                          [routerLink]="['../../editItem/' + itemId]"
                          [disabled]="itemRank < 4"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Edit Item"
                          class="btn btn-primary btn-right"
                        >
                          Edit
                        </button>

                        <button
                          type="button"
                          (click)="back()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Back"
                          class="btn btn-primary"
                        >
                          Back
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #myModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" style="height: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Item Pictures</h4>
        <button
          type="button"
          class="close"
          (click)="myModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-image-viewer [src]="images"> </ngx-image-viewer>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          data-bs-placement="bottom"
          data-bs-toggle="tooltip"
          title="Click here to Manage Pictures"
          [routerLink]="[
            '../../attachments/' + itemId + '/' + currentAttachmentId
          ]"
          >Manage Pictures</a
        >
        <button
          type="button"
          data-bs-placement="bottom"
          data-bs-toggle="tooltip"
          title="Click here to Close"
          class="btn btn-secondary"
          (click)="myModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="color: #c31e1c">
      Change Log Feed Summary
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scrollPopUp">
    <ul *ngFor="let journal of journals">
      <li *ngIf="journal.journaltypeid == 3">
        Item updated on {{ journal.enteredOn.split(" ")[0] }} by
        {{ journal.enteredby }}...........<a
          [routerLink]="[
            '../../viewChangeLogItem',
            journal.entityid,
            journal.journalid
          ]"
          (click)="modalRef.hide()"
          >details</a
        >
      </li>
      <li *ngIf="journal.journaltypeid == 4">
        Notes {{ journal.entry }} added on
        {{ journal.enteredOn.split(" ")[0] }} by
        {{ journal.enteredby }}..........<a
          [routerLink]="[
            '../../editItemNotes',
            journal.journalid,
            journal.entityid
          ]"
          (click)="modalRef.hide()"
          >details</a
        >
      </li>
      <li *ngIf="journal.journaltypeid == 7">
        {{ journal.entry }} by {{ journal.enteredby }} .........<a
          [routerLink]="['../../transferItem', journal.entityid]"
          (click)="modalRef.hide()"
          >details</a
        >
      </li>
      <li *ngIf="journal.journaltypeid == 6">
        Repair Data added on {{ journal.enteredOn.split(" ")[0] }} by
        'justin'..........<a
          [routerLink]="['../../transferItem', journal.entityid]"
          (click)="modalRef.hide()"
          >details</a
        >
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this item or Click(No) to discard This
      action.
    </p>
    <button type="button" class="btn btn-primary btn-right" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
