<div class="animated fadeIn" *ngIf="EditFlag">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            tooltip="Click to Print this Page"
            class="btn btn-outline-danger btn-sm"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            tooltip=" Instructions"
            class="btn btn-outline-danger btn-sm"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Edit ChangeLog Attachments</strong></p>

          <alert
            *ngIf="editIndex > 0"
            type="success"
            [dismissible]="dismissible"
          >
            ChangeLog Attachments Updated successfully.
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && updateCompanyDocument()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label for="desc">Description</label>
                        <textarea
                          id="desc"
                          name="textarea-input"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="editModel.description"
                          name="description"
                          #description="ngModel"
                          placeholder="Enter Description"
                        ></textarea>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          tooltip="Update this Document"
                          class="btn btn-primary"
                        >
                          Update
                        </button>
                        <button
                          type="button"
                          (click)="cancelEditDocument()"
                          tooltip="BackToAdd"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!EditFlag">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            tooltip="Click to Print this Page"
            class="btn btn-outline-danger btn-sm"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            tooltip=" Instructions"
            class="btn btn-outline-danger btn-sm"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.
          </div>
        </div>

        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Item Change Log Documents saved successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Upload the file.
          </alert>
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Add Item Change Log Attachments</strong>
                </div>
                <form
                  name="form"
                  (ngSubmit)="saveChangeLogAttachment()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input
                          type="text"
                          [(ngModel)]="model.added"
                          name="added"
                          #added="ngModel"
                          id="added"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.by"
                          name="by"
                          #by="ngModel"
                          id="by"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model._id"
                          name="_id"
                          #_id="ngModel"
                          id="_id"
                          hidden
                        />
                        <input
                          type="text"
                          [(ngModel)]="model.companyId"
                          name="companyId"
                          #companyId="ngModel"
                          id="companyId"
                          hidden
                        />
                      </div>
                    </div>
                    <div style="overflow: auto">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>File</th>
                            <th>Description</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of addedfiles; let i = index">
                            <td>
                              <input
                                type="file"
                                class="form-control"
                                (change)="fileChangeListener($event, i)"
                                id="file"
                              />
                            </td>
                            <td>
                              <textarea
                                id="desc"
                                rows="2"
                                cols="4"
                                class="form-control"
                                [(ngModel)]="item.description"
                                [name]="'description' + i"
                                placeholder="Enter Description"
                              ></textarea>
                            </td>
                            <td>
                              <button
                                *ngIf="i > 0"
                                type="button"
                                (click)="remove(i)"
                                tooltip=" Click here to remove File"
                              >
                                Remove
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="button"
                          (click)="addNewAttachment()"
                          tooltip=" Click here to Add File"
                        >
                          Add File
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          class="btn btn-primary"
                          tooltip="Save this Document"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          (click)="cancel()"
                          tooltip="BackToChangeLog"
                          class="btn btn-primary"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <strong>Current Attachments:</strong>
        <div>
          <div class="float-left">
            <span
              >Show
              <select
                [(ngModel)]="itemsForPagination"
                [ngModelOptions]="{ standalone: true }"
              >
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select>
              entries
            </span>
          </div>
        </div>
        <div class="float-right div-search">
          <span>Search : </span>
          <input
            [(ngModel)]="documentFilter"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th
                [class.active]="order === 'description'"
                (click)="setOrder('description')"
              >
                Description<span [hidden]="reverse == ''">▼</span
                ><span [hidden]="reverse != ''">▲</span>
              </th>
              <th
                [class.active]="order === 'dateadded'"
                (click)="setOrder('dateadded')"
              >
                Added<span [hidden]="reverse == ''">▼</span
                ><span [hidden]="reverse != ''">▲</span>
              </th>
              <th
                [class.active]="order === 'addedby'"
                (click)="setOrder('addedby')"
              >
                By<span [hidden]="reverse == ''">▼</span
                ><span [hidden]="reverse != ''">▲</span>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let document of documents
                  | orderBy : reverse + order
                  | filterBy
                    : ['description', 'dateaddedOn', 'addedby']
                    : documentFilter
                  | paginate
                    : { itemsPerPage: itemsForPagination, currentPage: p }
              "
            >
              <td>{{ document.description }}</td>
              <td>{{ document.dateadded | date : "MM/dd/yyyy" }}</td>
              <td>{{ document.addedby }}</td>
              <td>
                <button
                  type="button"
                  [disabled]="itemRank < 3"
                  class="btn btn-outline-danger btn-sm"
                  tooltip="View this Document"
                  (click)="download(document)"
                >
                  View
                </button>

                <button
                  tooltip="Edit this Document"
                  class="btn btn-outline-danger btn-sm"
                  (click)="editNoteDocument(document)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  [disabled]="itemRank < 4"
                  class="btn btn-outline-danger btn-sm"
                  tooltip="Delete this Document"
                  (click)="openModal(confirmtemplate, document.attachmentid)"
                  disabled="highestRank == 9"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          class="my-pagination"
          (pageChange)="p = $event"
          [autoHide]="true"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this ChangeLog Attachment or Click(No) to
      discard This action.
    </p>
    <button type="button" class="btn btn-primary" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
