<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding col-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Viewing User [User: {{ userName }}]</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="lType">User Name :</label>
                      <span>{{ model.userName }}</span>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="vendor">Primary Company :</label>
                      <input
                        readonly
                        type="checkbox"
                        [(ngModel)]="model.vendor"
                        name="vendor"
                        #vendor="ngModel"
                        id="vendor"
                        (change)="checkValue(model.vendor ? 'A' : 'B')"
                        class="ms-5"
                      />&nbsp; Vendor
                      <select
                        readonly
                        class="form-control custom-dropdown"
                        [(ngModel)]="model.companyId"
                        name="companyId"
                        #companyId="ngModel"
                      >
                        <option
                          [ngValue]="company.companyId"
                          *ngFor="let company of allCompanies"
                          [selected]="isUserCompany === true"
                        >
                          {{ company.name }}
                        </option>
                        <option
                          [ngValue]="vendor.companyId"
                          *ngFor="let vendor of allVendors"
                          [selected]="isVendor === true"
                        >
                          {{ vendor.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="fname">First Name :</label>
                      <span>{{ model.firstName }}</span>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="lName">Last Name :</label>
                      <span>{{ model.lastName }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="job">Job Title :</label>
                      <span>{{ model.jobTitle }}</span>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="dept">Department :</label>
                      <span>{{ model.department }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="email">E-mail :</label>
                      <span>{{ model.email }}</span>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="phone">Phone :</label>
                      <span>{{ model.phone }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="fax">Fax :</label>
                      <span>{{ model.fax }}</span>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="mobile">Mobile :</label>
                      <span>{{ model.mobilePhone }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="req" class="btn-right">
                        Receive RFQ Notification :
                      </label>
                      <input
                        type="checkbox"
                        [(ngModel)]="model.sendReceiveRFQ"
                        name="req"
                        #req="ngModel"
                        id="req"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="location">User's Top Location</label>
                      <app-dropdown-treeview-select
                        readonly
                        class="form-control"
                        [items]="locationItems"
                        [(value)]="model.topLocationId"
                      >
                      </app-dropdown-treeview-select>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="pLocation">User's Preferred Location</label>
                      <app-dropdown-treeview-select
                        readonly
                        class="form-control"
                        [items]="locationItems"
                        [(value)]="model.preferredLocationId"
                      >
                      </app-dropdown-treeview-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-12 text-center">
                      <button
                        data-bs-placement="bottom"
                        data-bs-toggle="tooltip"
                        title="Back to User management"
                        (click)="cancelUser()"
                        class="btn btn-primary btn-radius"
                      >
                        Back
                      </button>
                    </div>
                  </div>

                  <div>
                    <h6 class="user-attributes-heading">User Attributes:</h6>
                    <br />
                  </div>

                  <div class="row">
                    <div
                      class="form-group col-sm-6"
                      *ngFor="let eachAttr of typeAttributes; let i = index"
                    >
                      <label>{{ eachAttr.name }} :</label>
                      <span readonly>{{ eachAttr.value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>
