<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <ng-container *ngIf="!isExpandAdvancedSearch">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            (click)="isExpandAdvancedSearch = !isExpandAdvancedSearch"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click here to Show/Change the Search Fields"
          >
            Show/Change Search Fields Criteria
          </button>
        </ng-container>
        <div class="card-body" *ngIf="isExpandAdvancedSearch">
          <p class="card-text">Advanced Item Search Replacement</p>
          <tabset>
            <tab heading="Item">
              <div class="card-body mobile-padding">
                <button
                  type="button"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Search"
                  class="btn btn-primary"
                  (click)="searchItems()"
                  style="margin-left: 90%"
                >
                  Search
                </button>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="itemId">Item Type</label>

                    <app-dropdown-treeview-select
                      [items]="itemTypeItems"
                      [(value)]="itemValue"
                      (valueChange)="onItemValueChange($event)"
                    >
                    </app-dropdown-treeview-select>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="tag">Tag #</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.tag"
                      name="tag"
                      id="tag"
                      placeholder="Enter Tag"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.name"
                      name="name"
                      id="name"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="status">Status</label>
                    <select
                      class="form-control"
                      [(ngModel)]="itemModel.status"
                      name="status"
                      #status="ngModel"
                      id="status"
                    >
                      <option value="" selected="true">Choose Status</option>
                      <option
                        [ngValue]="stat.statusid"
                        *ngFor="let stat of statuses"
                      >
                        {{ stat.status }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="locName">Location Name Includes</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.location"
                      name="locName"
                      id="locName"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="loc">Location</label>

                    <app-dropdown-treeview-select
                      [items]="items"
                      [(value)]="itemModel.locationId"
                      id="loc"
                    >
                    </app-dropdown-treeview-select>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="form-group col-sm-6"
                    *ngFor="
                      let eachAttr of itemModel.attributevalues;
                      let i = index
                    "
                  >
                    <div>
                      <label>{{ eachAttr.name }}</label>
                      <div>
                        <input
                          *ngIf="eachAttr.attributetype.attributetypeid == 1"
                          type="number"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="number{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributetype.attributetypeid == 2"
                          type="text"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="text{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributetype.attributetypeid == 6"
                          type="text"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="multiValue{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributetype.attributetypeid == 3"
                          type="date"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="radio{{ i }}"
                          #state="ngModel"
                        />
                        <select
                          *ngIf="eachAttr.attributetype.attributetypeid == 4"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="select{{ i }}"
                          #type="ngModel"
                        >
                          <option value="">Choose..</option>
                          <option
                            [ngValue]="list.listitem"
                            *ngFor="
                              let list of eachAttr.attributelistitemResource
                            "
                          >
                            {{ list.listitem }}
                          </option>
                        </select>
                        <div
                          class="form-check"
                          *ngIf="eachAttr.attributetype.attributetypeid == 5"
                        >
                          <label
                            class="form-check-label margin-right"
                            for="radio1"
                          >
                            &nbsp;
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              id="radio1"
                              value="Y"
                              checked
                            />Y &nbsp; &nbsp; &nbsp;
                          </label>
                          <label
                            class="form-check-label margin-right"
                            for="radio2"
                          >
                            &nbsp;
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              id="radio2"
                              value="N"
                            />N &nbsp; &nbsp; &nbsp;
                          </label>
                          <label class="form-check-label" for="radio3">
                            &nbsp;
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              id="radio3"
                              value="N/A"
                            />N/A
                          </label>
                        </div>
                        <textarea
                          *ngIf="eachAttr.attributetype.attributetypeid == 7"
                          name="textarea{{ i }}"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          placeholder="Enter Value"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-right"
                      (click)="searchItems()"
                    >
                      Search
                    </button>
                    <button
                      type="button"
                      (click)="clearItem()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Clear"
                      class="btn btn-primary btn-right"
                    >
                      Clear
                    </button>
                    <button
                      type="button"
                      (click)="back()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Back to View Item"
                      class="btn btn-primary"
                    >
                      Back To Item
                    </button>
                  </div>
                </div>
              </div>
            </tab>

            <tab heading="Repair/Note/Quote">
              <div class="card-body mobile-padding">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="itemrepairnotesrfqModel">Notes:</label> &nbsp;
                    <input
                      type="checkbox"
                      [(ngModel)]="itemrepairnotesrfqModel.isitemnote"
                      id="isitemnote"
                    />&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="itemrepairnotesrfqModel">Repair Logs:</label
                    >&nbsp;
                    <input
                      type="checkbox"
                      [(ngModel)]="itemrepairnotesrfqModel.isitemrepair"
                      id="isitemrepair"
                    />&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="exactTag">Exact Tag#</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairnotesrfqModel.exactTag"
                      name="exactTag"
                      id="exactTag"
                      placeholder="Enter Tag"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="rfq">RFQ</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairnotesrfqModel.rfq"
                      name="rfq"
                      id="rfq"
                      placeholder="Enter RFQ"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="po">PO</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairnotesrfqModel.po"
                      name="po"
                      id="po"
                      placeholder="Enter PO"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="job">JOB #</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairnotesrfqModel.job"
                      name="po"
                      id="job"
                      placeholder="Enter job"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="vendor">Vendor</label>
                    <select
                      class="form-control"
                      [(ngModel)]="repairModel.vendorId"
                      name="vendor"
                      #vendor="ngModel"
                      id="vendor"
                    >
                      <option value="" selected="true">Choose Vendor</option>
                      <option
                        [value]="vendor.companyid"
                        *ngFor="let vendor of vendors"
                      >
                        {{ vendor.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-right"
                      (click)="searchItemRepairNotesRfqModel()"
                    >
                      Search
                    </button>
                    <button
                      type="button"
                      (click)="clearRepairNoteQuote()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Clear"
                      class="btn btn btn-outline-danger btn-sm btn-right"
                    >
                      Clear
                    </button>
                    <button
                      type="button"
                      (click)="back()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="back button"
                      class="btn btn btn-outline-danger btn-sm"
                    >
                      Back
                    </button>
                  </div>

                  <div
                    class="table-responsive"
                    *ngIf="searchresults.rfqFlag == true"
                  >
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>RFQs</th>
                          <th>Exact Tag #</th>
                          <th>RFQ Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rfqssearch of RFQsList">
                          <td></td>
                          <td>{{ rfqssearch.entityid }}</td>
                          <td>{{ rfqssearch.entitytypeid }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div
                    class="table-responsive"
                    *ngIf="searchresults.repairFlag == true"
                  >
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Repair Logs</th>
                          <th>Exact Tag #</th>
                          <th>RFQ Number</th>
                          <th>Job Number</th>
                          <th>PO Number</th>
                          <th
                            [class.active]="order === 'enteredby'"
                            (click)="setOrder('enteredby')"
                          >
                            Repair Vendor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let repairsearch of repairlogList">
                          <td>
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="View"
                              (click)="
                                goToItemRepair(
                                  repairsearch.itemId,
                                  repairsearch.repairLogId,
                                  repairsearch.rank,
                                  repairsearch.tag,
                                  repairsearch.typeName
                                )
                              "
                            >
                              View
                            </button>
                          </td>
                          <td>{{ repairsearch.tag }}</td>
                          <td>{{ repairsearch.rfqNumber }}</td>
                          <td>{{ repairsearch.jobNumber }}</td>
                          <td>{{ repairsearch.poNumber }}</td>
                          <td>{{ repairsearch.repairVendorName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div
                    class="table-responsive"
                    *ngIf="searchresults.noteFlag == true"
                  >
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Notes</th>
                          <th>Date</th>
                          <th>Entry</th>
                          <th>Job #</th>
                          <th>PO #</th>
                          <th>By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let itemnotessearch of itemNotesList">
                          <td>
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="View "
                              (click)="
                                goToNote(
                                  itemnotessearch.itemId,
                                  itemnotessearch.journalId,
                                  itemnotessearch.rank,
                                  itemnotessearch.tag,
                                  itemnotessearch.typeName
                                )
                              "
                            >
                              View
                            </button>
                          </td>
                          <td>
                            {{
                              itemnotessearch.enteredOn
                                | date : "MM/dd/yyyy h:mm:ss a "
                            }}
                          </td>
                          <td>{{ itemnotessearch.entry }}</td>
                          <td>{{ itemnotessearch.jobNumber }}</td>
                          <td>{{ itemnotessearch.poNumber }}</td>
                          <td>{{ itemnotessearch.enteredBy }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
      <div [style.display]="showSearchResults ? 'block' : 'none'">
        <app-advanced-search-results></app-advanced-search-results>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>


