<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <ng-container *ngIf="!isExpandAdvancedSearch">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            (click)="isExpandAdvancedSearch = !isExpandAdvancedSearch"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click here to Show/Change the Search Fields"
          >
            Show/Change Search Fields Criteria
          </button>
        </ng-container>

        <div class="card-body" *ngIf="isExpandAdvancedSearch">
          <p class="card-text">Advanced Item Search Replacement</p>
          <tabset>
            <tab heading="Item">
              <div class="card-body mobile-padding">
                <button
                  type="button"
                  data-bs-placement="bottom"
                  data-bs-toggle="tooltip"
                  title="Search"
                  class="btn btn-primary btn-group"
                  (click)="searchItems()"
                  style="margin-left: 90%"
                >
                  Search
                </button>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="itemId">Item Type</label>
                    <div class="custom-dropdown-wrapper">
                    <app-dropdown-treeview-select
                      [items]="itemTypeItems"
                      [(value)]="itemValue"
                      (valueChange)="onItemValueChange($event)"
                    >
                    </app-dropdown-treeview-select>
                    <span class="custom-dropdown-arrow"></span>
                    </div>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="tag">Tag #</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.tag"
                      name="tag"
                      id="tag"
                      placeholder="Enter Tag"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.name"
                      name="name"
                      id="name"
                      placeholder="Enter Name"
                    />
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="status">Status</label>
                    <select
                      class="form-control custom-dropdown"
                      [(ngModel)]="itemModel.status"
                      name="status"
                      id="status"
                    >
                      <option value="" selected>Choose Status</option>
                      <option *ngFor="let stat of statuses" [ngValue]="stat.statusId">
                        {{ stat.status }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="locName">Location Name Includes</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemModel.location"
                      name="locName"
                      id="locName"
                    />
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="loc">Location</label>
                    <div class="custom-dropdown-wrapper">
                    <app-dropdown-treeview-select
                      [items]="items"
                      [(value)]="itemModel.locationId"
                      id="loc"
                    >
                    </app-dropdown-treeview-select>
                    <span class="custom-dropdown-arrow"></span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="form-group col-sm-6"
                    *ngFor="let eachAttr of itemModel.attributeValues; let i = index"
                  >
                    <div>
                      <label>{{ eachAttr.name }}</label>
                      <div>
                        <input
                          *ngIf="eachAttr.attributeType.attributeTypeId === 1"
                          type="number"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="number{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributeType.attributeTypeId === 2"
                          type="text"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="text{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributeType.attributeTypeId === 6"
                          type="text"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="multiValue{{ i }}"
                        />
                        <input
                          *ngIf="eachAttr.attributeType.attributeTypeId === 3"
                          type="date"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          name="radio{{ i }}"
                        />
                        <select
                          *ngIf="eachAttr.attributeType.attributeTypeId === 4"
                          class="form-control custom-dropdown"
                          [(ngModel)]="eachAttr.value"
                          name="select{{ i }}"
                        >
                          <option value="">Choose..</option>
                          <option
                            *ngFor="let list of eachAttr.attributeListItemResource"
                            [ngValue]="list.listItem"
                          >
                            {{ list.listItem }}
                          </option>
                        </select>
                        <div
                          class="form-check"
                          *ngIf="eachAttr.attributeType.attributeTypeId === 5"
                        >
                          <label class="form-check-label margin-right">
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              value="Y"
                              checked
                            />Y
                          </label>
                          <label class="form-check-label margin-right">
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              value="N"
                            />N
                          </label>
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}"
                              value="N/A"
                            />N/A
                          </label>
                        </div>
                        <textarea
                          *ngIf="eachAttr.attributeType.attributeTypeId === 7"
                          name="textarea{{ i }}"
                          rows="2"
                          cols="4"
                          class="form-control"
                          [(ngModel)]="eachAttr.value"
                          placeholder="Enter Value"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-12 text-center">
                    <button type="button" class="btn btn-primary btn-right btn-group" (click)="searchItems()">
                      Search
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-right btn-group"
                      (click)="clearItem()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Clear"
                    >
                      Clear
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-group"
                      (click)="back()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Back to View Item"
                    >
                      Back To Item
                    </button>
                  </div>
                </div>
              </div>
            </tab>

            <tab heading="Repair/Note/Quote">
              <div class="card-body mobile-padding">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label>Notes:</label>
                    <input type="checkbox" [(ngModel)]="itemrepairNotesrfqModel.isitemnote" />&nbsp;&nbsp;
                    <label>Repair Logs:</label>
                    <input type="checkbox" [(ngModel)]="itemrepairNotesrfqModel.isitemrepair" />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="exactTag">Exact Tag#</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairNotesrfqModel.exactTag"
                      name="exactTag"
                      id="exactTag"
                      placeholder="Enter Tag"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="rfq">RFQ</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairNotesrfqModel.rfq"
                      name="rfq"
                      id="rfq"
                      placeholder="Enter RFQ"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="po">PO</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairNotesrfqModel.po"
                      name="po"
                      id="po"
                      placeholder="Enter PO"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="job">JOB #</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="itemrepairNotesrfqModel.job"
                      name="job"
                      id="job"
                      placeholder="Enter job"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="vendor">Vendor</label>
                    <select
                      class="form-control custom-dropdown"
                      [(ngModel)]="repairModel.vendorId"
                      name="vendor"
                      id="vendor"
                    >
                      <option value="" selected>Choose Vendor</option>
                      <option *ngFor="let vendor of vendors" [value]="vendor.companyId">
                        {{ vendor.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-12 text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-right btn-group"
                      (click)="searchItemRepairNotesRfqModel()"
                    >
                      Search
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-right btn-group"
                      (click)="clearRepairNoteQuote()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Clear"
                    >
                      Clear
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-group"
                      (click)="back()"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="back button"
                    >
                      Back
                    </button>
                  </div>

                  <div class="table-responsive" *ngIf="searchresults.rfqFlag">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>RFQs</th>
                          <th>Exact Tag #</th>
                          <th>RFQ Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rfqssearch of RFQsList">
                          <td></td>
                          <td>{{ rfqssearch.entityId }}</td>
                          <td>{{ rfqssearch.entitytypeId }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive" *ngIf="searchresults.repairFlag">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Repair Logs</th>
                          <th>Exact Tag #</th>
                          <th>RFQ Number</th>
                          <th>Job Number</th>
                          <th>PO Number</th>
                          <th
                            [class.active]="order === 'enteredBy'"
                            (click)="setOrder('enteredBy')"
                          >
                            Repair Vendor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let repairsearch of repairlogList">
                          <td>
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm btn-group"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="View"
                              (click)="goToItemRepair(repairsearch.itemId, repairsearch.repairLogId, repairsearch.rank, repairsearch.tag, repairsearch.typeName)"
                            >
                              View
                            </button>
                          </td>
                          <td>{{ repairsearch.tag }}</td>
                          <td>{{ repairsearch.rfqNumber }}</td>
                          <td>{{ repairsearch.jobNumber }}</td>
                          <td>{{ repairsearch.poNumber }}</td>
                          <td>{{ repairsearch.repairVendorName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive" *ngIf="searchresults.noteFlag">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Notes</th>
                          <th>Date</th>
                          <th>Entry</th>
                          <th>Job #</th>
                          <th>PO #</th>
                          <th>By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let itemnotessearch of itemNotesList">
                          <td>
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm btn-group"
                              data-bs-placement="bottom"
                              data-bs-toggle="tooltip"
                              title="View"
                              (click)="goToNote(itemnotessearch.itemId, itemnotessearch.journalId, itemnotessearch.rank, itemnotessearch.tag, itemnotessearch.typeName)"
                            >
                              View
                            </button>
                          </td>
                          <td>{{ itemnotessearch.enteredOn | date : 'MM/dd/yyyy h:mm:ss a' }}</td>
                          <td>{{ itemnotessearch.entry }}</td>
                          <td>{{ itemnotessearch.jobNumber }}</td>
                          <td>{{ itemnotessearch.poNumber }}</td>
                          <td>{{ itemnotessearch.enteredBy }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>

      <div *ngIf="showSearchResults">
          <div class="card-body">
          <p class="card-text">Advanced Item Replacement Search Results</p>
          <div>
            <alert type="danger" *ngIf="flag==1" [dismissible]="dismissible">
              No Results Found <br />
            </alert>
          </div>
        

            <div *ngFor="let itemType of searchResultKeys ;let t=index" style="margin-bottom: 0.3rem">
              <div class="card">
                <div class="type-header">
                  <strong>{{itemType}}</strong>
                </div>
              </div>
              <div *ngIf="this.searchResultKeys.length == 1" class="float-left">
                <span>Show
                  
                  <select [(ngModel)]="dynLst[t].itemsForPagination" (change)="onPageSizeChange(t, itemType)">
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    
                  </select> entries
                </span>
              </div>
             
              <div class="table-responsive">
                <table *ngIf="(searchResults[itemType]?.length || 0) > 0" class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>Tag #</th>
                      <th>Location</th>
                      <th>Status</th>
                      <ng-container *ngIf="searchResults[itemType]?.[0]?.attributeNameList">
                        <th *ngFor="let attr of searchResults[itemType][0]?.attributeNameList || []; let count = index; first as isFirst">
                          <ng-container *ngIf="!attributesSearchDisplay[itemType] || count < attributesSearchDisplay[itemType]">
                            {{attr?.name}}
                          </ng-container>
                        </th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of searchResults[itemType] | paginate: { itemsPerPage: dynLst[t]?.itemsForPagination || itemsForPagination, currentPage: dynLst[t]?.p || 1, totalItems: totalItemsByType[itemType] || itemsLength, id: 'page' + t }">

                      <td><a href="javascript:void(0)"
                          (click)="goToView(result.itemId,result.rank,result.tag,result.typeName)">{{result.tag}}</a>
                      </td>
                      <td title={{result.locationPath}}>{{result.locationPath}}</td>
                      <td>{{result.status}}</td>
                      <ng-container *ngIf="result?.attributeNameList">
                        <td *ngFor="let attr of result.attributeNameList || []; let count = index">
                          <ng-container *ngIf="!attributesSearchDisplay[itemType] || count < attributesSearchDisplay[itemType]">
                            {{attr?.value}}
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
               <div class="d-flex justify-content-end mt-2">

<pagination-controls
  class="my-pagination"
  [id]="'page' + t"


  [maxSize]="7"
  [directionLinks]="true"
  [autoHide]="false"

  previousLabel="Previous"
  nextLabel="Next"

  (pageChange)="(dynLst[t].p = $event) && onTypePageChange($event, t, itemType)">
>
</pagination-controls>

</div>


                
              </div>

            </div>
        </div>
        <div *ngIf="this.searchResultKeys.length >1" class="float-left">
          <span>Showing {{itemsLength || 0}} Results
           
          </span>
        </div>
        <div *ngIf="this.searchResultKeys.length == 1 && dynLst[0].p == 1" class="float-left">
          <span>Showing results 1 to {{dynLst[0].itemsForPagination}} of {{itemsLength || 0}}

          </span>
        </div>
        <div *ngIf="this.searchResultKeys.length == 1 && dynLst[0].p > 1" class="float-left">
          <span>Showing results {{((dynLst[0].p-1)*dynLst[0].itemsForPagination)+1}} to
            {{dynLst[0].itemsForPagination*dynLst[0].p}} of {{itemsLength || 0}}
           
          </span>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="form-group col-sm-12 text-center">
            <button type="button" (click)="back()" tooltip="Back" class="btn btn-primary">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>

<style>
  .loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  .loader {
    position: absolute;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-bottom {
    position: relative;
    animation: animatebottom 1s;
  }
  @keyframes animatebottom {
    from { bottom: -100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
  }
  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }
  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
