.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

.card-body {
  padding: 20px;
}

.form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 8px;
}

.form-control {
  background-color: #fff;
}

.btn-right {
  margin-right: 5px;
}

.card,
button {
  border-radius: 0;
}
