.my-pagination ::v-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}
.my-pagination ::v-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}
.my-pagination ::v-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}
thead th {
  cursor: pointer;
  span {
    visibility: hidden;
  }
  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
.float-right {
  float: right;
}
.div-search {
  margin-bottom: 1%;
  margin-top: 1%;
}

.table .thead-light th {
  color: #5c6873;
  background-color: #e4e7ea;
  border-color: #c8ced3;
}
.chart-wrapper canvas {
  width: 70% !important;
  height: 390px !important;
}
