<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button type="button" (click)="print()" tooltip="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-group mt-1">
            Print
          </button>
          <button type="button" (click)="help()" tooltip=" Instructions"
            class="btn btn-outline-danger btn-sm btn-group mt-1 ms-1">
            Help
          </button>

          <div style="text-align: left; border: 1px solid; width: fit-content; background-color: whitesmoke;"
            *ngIf="helpFlag == true">
            Note: Mandatory Fields are required.<br />
            * To create a new user:<br />
            1.Click the 'Add User' button.<br />
            2.Enter the Information to add new user.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing user:<br />
            1.Click the 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Update' button.<br />
            * To delete an existing user:<br />
            1.Click the 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            User updated successfully.
          </alert>
          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter Required fields
          </alert>

          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Editing User [User:{{ userName }}]</strong>
                </div>

                <form name="form" (ngSubmit)="editUser()" #f="ngForm" novalidate>
                  <div class="card-body">

                    <!-- BASIC USER FIELDS -->
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>User Name</label><strong class="text-danger">*</strong>
                        <input type="text" class="form-control" [(ngModel)]="model.userName"
                          (change)="checkUserName($event)" name="lType" placeholder="Enter User Name" />
                      </div>

                      <div class="form-group col-sm-6" *ngIf="isNameCheckVisible">
                        <label>User Name Check:</label><br />
                        <span class="form-control" style="color: red" *ngIf="!isMinLength">
                          User Name cannot be empty or minimum lengh should be 4
                        </span>
                        <span class="form-control" style="color: red" *ngIf="isDuplicateTag">
                          User Name already exists
                        </span>
                        <span class="form-control" style="color: blue"
                          *ngIf="!isDuplicateTag && isMinLength">
                          User Name Available
                        </span>
                      </div>

                      <div class="form-group col-sm-6">
                        <label>Select Company</label><strong class="text-danger">*</strong>
                        <select class="form-control custom-dropdown" [(ngModel)]="model.companyId" name="commpanyid">
                          <option *ngFor="let company of allCompanies" [ngValue]="company.companyId">
                            {{ company.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>First Name</label><strong class="text-danger">*</strong>
                        <input type="text" class="form-control" [(ngModel)]="model.firstName" name="fname" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Last Name</label><strong class="text-danger">*</strong>
                        <input type="text" class="form-control" [(ngModel)]="model.lastName" name="lName" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>Job Title</label>
                        <input type="text" class="form-control" [(ngModel)]="model.jobTitle" name="job" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Department</label>
                        <input type="text" class="form-control" [(ngModel)]="model.department" name="dept" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>E-mail</label><strong class="text-danger">*</strong>
                        <input type="text" class="form-control" [(ngModel)]="model.email" (change)="checkEmail($event)"
                          name="email" />
                      </div>

                      <div class="form-group col-sm-6" *ngIf="isEmailCheckVisible">
                        <label>Email Check:</label><br />
                        <span class="form-control" style="color: red"
                          *ngIf="isDuplicate && model.email">
                          Email already exists
                        </span>
                        <span class="form-control" style="color: blue"
                          *ngIf="!isDuplicate && model.email">
                          Email Available
                        </span>
                      </div>

                      <div class="form-group col-sm-6">
                        <label>Phone</label>
                        <input type="number" class="form-control" [(ngModel)]="model.phone" name="phone" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>Fax</label>
                        <input type="text" class="form-control" [(ngModel)]="model.fax" name="fax" />
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Mobile</label>
                        <input type="number" class="form-control" [(ngModel)]="model.mobilePhone" name="mobile" />
                      </div>
                    </div>

                    <!-- LOCATION -->
                    <div *ngIf="model.isVendor != true" class="row">
                      <div class="form-group col-sm-6">
                        <label>User's Top Location</label>
                        <app-dropdown-treeview-select [items]="locationItems" [(value)]="model.topLocationId">
                        </app-dropdown-treeview-select>
                      </div>

                      <div class="form-group col-sm-6">
                        <label>User's Preferred Location</label>
                        <app-dropdown-treeview-select [items]="locationItems"
                          [(value)]="model.preferredLocationId">
                        </app-dropdown-treeview-select>
                      </div>
                    </div>

                    <!-- VENDOR -->
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>Vendor</label>
                        <input type="checkbox" [(ngModel)]="model.isVendor" name="isVendor" />
                      </div>

                      <div *ngIf="model.isVendor" class="form-group col-sm-6">
                        <label>Select Vendor<strong class="text-danger">*</strong></label>
                        <app-dropdown-treeview-select [items]="vendorItems"
                          [(value)]="model.vendorResource.vendorId" (valueChange)="onVendorChange($event)">
                        </app-dropdown-treeview-select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label>Receive RFQ Notification</label>
                        <input type="checkbox" [(ngModel)]="model.sendReceiverFq" name="req" />
                      </div>
                    </div>

                    <!-- ✅ DYNAMIC ATTRIBUTE SECTION -->
                    <div class="row mt-3">
                      <div class="form-group col-sm-6 mb-3" *ngFor="let eachAttr of typeAttributes; let i = index">
                        <label>{{ eachAttr.name }}<span *ngIf="eachAttr.isRequired" class="text-danger">*</span></label>

                        <input *ngIf="eachAttr.attributeType.attributeTypeId == 1" type="number" class="form-control"
                          [(ngModel)]="eachAttr.value" name="number{{ i }}" />

                        <input *ngIf="eachAttr.attributeType.attributeTypeId == 2" type="text" class="form-control"
                          [(ngModel)]="eachAttr.value" name="text{{ i }}" />

                        <input *ngIf="eachAttr.attributeType.attributeTypeId == 6" type="text" class="form-control"
                          [(ngModel)]="eachAttr.value" name="multiValue{{ i }}" />

                        <input *ngIf="eachAttr.attributeType.attributeTypeId == 3" type="date" class="form-control"
                          [(ngModel)]="eachAttr.value" name="date{{ i }}" />

                        <select *ngIf="eachAttr.attributeType.attributeTypeId == 4" class="form-control"
                          [(ngModel)]="eachAttr.value" name="select{{ i }}">
                          <option value="">Choose..</option>
                          <option *ngFor="let list of eachAttr.attributeListItemResource"
                            [ngValue]="list.listItem">{{ list.listItem }}</option>
                        </select>

                        <div *ngIf="eachAttr.attributeType.attributeTypeId == 5" class="form-check mt-2">
                          <label><input type="radio" class="form-check-input" [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}" value="Y" /> Y</label>
                          &nbsp;&nbsp;
                          <label><input type="radio" class="form-check-input" [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}" value="N" /> N</label>
                          &nbsp;&nbsp;
                          <label><input type="radio" class="form-check-input" [(ngModel)]="eachAttr.value"
                              name="radios{{ i }}" value="N/A" /> N/A</label>
                        </div>

                        <textarea *ngIf="eachAttr.attributeType.attributeTypeId == 7" class="form-control"
                          rows="2" [(ngModel)]="eachAttr.value" name="textarea{{ i }}"></textarea>
                      </div>
                    </div>

                    <!-- ✅ BUTTONS (NOW **INSIDE** FORM) -->
                    <div class="row">
                      <div class="form-group col-sm-12 text-center mt-3">
                        <button tooltip="Update this User" class="btn btn-primary btn-group">
                          Update
                        </button>
                        <button type="button" tooltip="Cancel" (click)="cancelUser()"
                          class="btn btn-primary ms-1 btn-group">
                          Cancel
                        </button>
                      </div>
                    </div>

                  </div>
                </form> <!-- ✅ FINAL CORRECT FORM CLOSING -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
