
.help-box {
  text-align: left;
  border: 1px solid;
  width: fit-content;
  background-color: whitesmoke;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.update-btn,
.cancel-btn {
  border-radius: 6px;
}
