.type-header {
  padding: 0.3rem;
  background-color: lightgrey;
}

.card {
  margin-bottom: 0rem;
}

.card,
button {
  border-radius: 0 !important;
}

.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #333333;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #e02725;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: black;
}

.row {
  margin: 0 -15px;
}

.col-padding {
  padding: 0 15px;
}

.btn-right {
  margin-right: 5px;
}

.form-control {
  background-color: #fff;
}

label {
  margin-bottom: 8px;
}

.card-body {
  padding: 20px;
}

.form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

thead th,
tbody td {
  padding: 12px !important;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

tbody td a {
  color: #e02725;
  text-decoration: none;
  background-color: transparent;
}

tbody td a:hover {
  color: #a21817;
  text-decoration: underline;
}

.modal-content {
  border-radius: 0;
}

mat-radio-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 325px;
  height: 40px;
}

::ng-deep
  mat-radio-group
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__background {
  width: 14px;
  height: 14px;
}

::ng-deep
  mat-radio-group
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__background
  .mdc-radio__inner-circle {
  border-width: 7px;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: #0d6efd !important;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: #0d6efd !important;
}
