<ng-template
  #itemTemplate
  let-item="item"
  let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange"
>
  <div class="form-inline row-item">
    <i
      *ngIf="item?.children?.length"
      (click)="onCollapseExpand()"
      class="fa"
      [class.fa-caret-right]="item?.collapsed"
      [class.fa-caret-down]="!item?.collapsed"
      aria-hidden="true"
    ></i>
    <label class="form-check-label" (click)="select(item)">
      {{ item?.text }}
    </label>
  </div>
</ng-template>

<ng-template
  #headerTemplate
  let-config="config"
  let-item="item"
  let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange"
  let-onFilterTextChange="onFilterTextChange"
>
  <!-- Filter -->
  <div *ngIf="config?.hasFilter" class="row row-filter">
    <div class="col-12">
      <input
        class="form-control"
        type="text"
        [placeholder]="i18n.getFilterPlaceholder()"
        [(ngModel)]="filterText"
        (ngModelChange)="onFilterChange($event, onFilterTextChange)"
      />
    </div>
  </div>

  <!-- All checkbox + collapse/expand -->
  <div *ngIf="config?.hasAllCheckBox || config?.hasCollapseExpand" class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <label *ngIf="config?.hasAllCheckBox" (click)="select(item)">
        <strong>{{ i18n.getAllCheckboxText() }}</strong>
      </label>
      <button
        *ngIf="config?.hasCollapseExpand"
        type="button"
        class="btn btn-link p-0 float-end"
        (click)="onCollapseExpand()"
      >
        <i
          [title]="i18n.getTooltipCollapseExpandText(item?.collapsed)"
          class="fa"
          [class.fa-expand]="item?.collapsed"
          [class.fa-compress]="!item?.collapsed"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>

  <!-- Divider -->
  <div *ngIf="config?.hasDivider" class="dropdown-divider"></div>
</ng-template>

<div #myfckvi></div>

<ngx-dropdown-treeview
  [config]="config"
  [headerTemplate]="headerTemplate"
  [items]="items"
  [itemTemplate]="itemTemplate"
></ngx-dropdown-treeview>
