<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            *ngIf="helpFlag"
            style="text-align: left; border: 1px solid; width: fit-content; background-color: whitesmoke;"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.<br />
            *To edit an attachment:<br />
            1.Click the 'Edit' button.<br />
            2.Make neccesary changes.<br />
            3.Click on 'Update' button.<br />
            *To delete an attachment:<br />
            1.Click the 'Delete' button.
          </div>
        </div>
        <div class="card-body">
          <div><strong>Note: "{{ entityName }}"</strong></div>
          <p class="card-text">
            Manage Item Note Attachments
            <button
              type="button"
              [disabled]="itemRank < 3"
              class="btn btn-primary float-end"
              (click)="addItemDocument()"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title="Add New Note Attachment."
            >
              Add Document
            </button>
          </p>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              Show
              <select [(ngModel)]="itemsForPagination" class="form-select d-inline w-auto">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select>
              entries
            </div>
            <div>
              Search:
              <input [(ngModel)]="documentFilter" class="form-control d-inline w-auto" />
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th [class.active]="order === 'description'" (click)="setOrder('description')">
                    Description<span [hidden]="reverse == ''">▼</span><span [hidden]="reverse != ''">▲</span>
                  </th>
                  <th [class.active]="order === 'dateAdded'" (click)="setOrder('dateAdded')">
                    Added<span [hidden]="reverse == ''">▼</span><span [hidden]="reverse != ''">▲</span>
                  </th>
                  <th [class.active]="order === 'addedBy'" (click)="setOrder('addedBy')">
                    By<span [hidden]="reverse == ''">▼</span><span [hidden]="reverse != ''">▲</span>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let document of documents | orderBy: reverse + order | filterBy: ['description','dateAddedOn','addedBy']:documentFilter | paginate: { itemsPerPage: itemsForPagination, currentPage: p }"
                >
                  <td>{{ document.description }}</td>
                  <td>{{ document.dateAdded | date: 'MM/dd/yyyy' }}</td>
                  <td>{{ document.addedBy }}</td>
                  <td>
                    <button
                      type="button"
                      [disabled]="itemRank < 3"
                      class="btn btn-outline-danger btn-sm me-1"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="View Note Attachments"
                      (click)="download(document)"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      [disabled]="itemRank < 4"
                      class="btn btn-outline-danger btn-sm me-1"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Edit Note Attachment"
                      (click)="editItemDocument(document)"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      [disabled]="itemRank < 4 || highestRank == 9"
                      class="btn btn-outline-danger btn-sm"
                      data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="Delete Note Attachment"
                      (click)="openModal(confirmtemplate, document.attachmentId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <button
        type="button"
        (click)="back()"
        data-bs-placement="bottom"
        data-bs-toggle="tooltip"
        title="Back"
        class="btn btn-primary"
      >
        Back
      </button>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click (Yes) to permanently delete this Item Note Attachment or Click (No) to discard this action.
    </p>
    <button type="button" class="btn btn-primary me-1" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<div
  *ngIf="loader"
  style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.5); z-index: 2;"
>
  <div class="loader"></div>
</div>

<style>
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
