.my-pagination ::ng-deep .ngx-pagination {
  margin-bottom: 1rem;
  margin-top: 25px;
  width: fit-content;
  border: solid 1px #a4b7c1;
  padding-left: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  color: white;
  background-color: red;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: red;
  background-color: white;
}

::ng-deep .row .alert-danger {
  padding: 12px 20px;
  color: #813838;
  background-color: #fee2e1;
  border-color: #fdd6d6;
  border-radius: 0;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

::ng-deep .alert-dismissible .btn-close {
  opacity: 0;
}
