<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Password updated successfully.
          </alert>

          <alert type="danger" *ngIf="index == -1" [dismissible]="dismissible">
            Please Enter required fields.
          </alert>
          <alert type="danger" *ngIf="index == -2" [dismissible]="dismissible">
            New Password and Confirm password do not match.
          </alert>
          <alert type="danger" *ngIf="index == -3" [dismissible]="dismissible">
            New Password and Confirm password should be between 8 to 15
            characters which contain at least one lowercase letter, one
            uppercase letter, one numeric digit, and one special character
          </alert>
          <alert type="danger" *ngIf="index == -4" [dismissible]="dismissible">
            The Entered Current Password is wrong
          </alert>

          <div class="modal-body p-0">
            <div class="col-sm-12 p-0">
              <div class="card">
                <div class="card-header">
                  <strong>Change Password</strong>
                </div>
                <form
                  name="form"
                  (ngSubmit)="changePassword()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-sm-12">
                        <label for="currentPassword">Current Password</label
                        ><strong class="text-danger">*</strong>
                        <input
                          type="password"
                          class="form-control"
                          [(ngModel)]="model.currentPassword"
                          name="currentPassword"
                          placeholder="Enter Current Password"
                          ngxShowHidePassword
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-sm-12">
                        <label for="newPassword">New Password</label
                        ><strong class="text-danger">*</strong>
                        <input
                          type="password"
                          class="form-control"
                          [(ngModel)]="model.newPassword"
                          name="newPassword"
                          placeholder="Enter New Password"
                          #newPassword="ngModel"
                          id="newPassword"
                          required
                          pattern=" /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/"
                          ngModel
                          passwordToggle
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-sm-12">
                        <label for="confirmPassword">Confirm Password</label
                        ><strong class="text-danger">*</strong>
                        <input
                          type="password"
                          class="form-control"
                          [(ngModel)]="model.confirmPassword"
                          name="confirmPassword"
                          placeholder="ReEnter New Password"
                          #confirmPassword="ngModel"
                          id="confirmPassword"
                          ngModel
                          passwordToggle
                          required
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title=" Save"
                          class="btn btn-primary btn-right"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          [routerLink]="['../myProfile']"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title=" Cancel"
                          class="btn btn btn-outline-danger btn-sm"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-1%, -1%);
  "
>
  <div _ngcontent-c0="" class="loader"></div>
</div>
<style>
  .loader {
    position: fixed;
    left: 60%;
    top: 60%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-link[routerLink="/forgot-password"] {
    color: red;
  }

  .cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
