.form-control[disabled] {
  background-color: #cccccc;
  opacity: 1;
  cursor: not-allowed;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.card-body {
  padding: 20px;
}

.modal-body {
  padding: 16px;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.card-header {
  padding: 12px 20px;
}

.row {
  margin: 0 -15px;
}

.col-padding,
.add-padding {
  padding: 0 15px;
}

.form-group {
  padding: 0 15px;
  margin-bottom: 16px;
}

.add-padding .form-group {
  padding: 0;
}

.checkbox-large {
  width: 35px;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: #fff;
  margin-left: 50%;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.card,
.card-header,
button {
  border-radius: 0;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-outline-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

.form-color {
  background-color: #fff;
}

::ng-deep .alert-dismissible {
  border-radius: 0;
}

::ng-deep .alert-dismissible button {
  visibility: hidden;
}
.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  padding-right: 30px; /* space for arrow */
}

.dropdown-wrapper app-dropdown-treeview-select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: transparent;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #555;
}
