<div class="animated fadeIn" *ngIf="highestRankNum > 5">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="form-group col-12 text-end">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm btn-right btn-top btn-group"
            title="Click to Print this Page"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            (click)="print()"
          >
            Print
          </button>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm btn-top btn-group me-2"
            title="Instructions"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            (click)="help()"
          >
            Help
          </button>
          <div
            *ngIf="helpFlag"
            class="mt-2 p-2 border"
            style="background-color: whitesmoke; width: fit-content; text-align: left;"
          >
            * To create a new type:<br />
            1.Enter the information for the new type.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing type:<br />
            1.Click the 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Save' button.
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            Manage {{ companyName }} Item types
            <button
              type="button"
              *ngIf="highestRankNum > 3"
              class="btn btn-primary float-end btn-group"
              [routerLink]="['../addItemType']"
              title="Add a new Item."
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              Add Item Type
            </button>
          </p>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              Show
              <select [(ngModel)]="itemsForPagination" (change)="onChange($event.target)">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select>
              entries
            </div>
            <div>
              Search:
              <input [(ngModel)]="typeFilter" style="width: auto;" />
            </div>
          </div>

          <table class="table table-responsive-sm table-hover table-outline mb-0 mt-2">
            <thead class="thead-light">
              <tr>
                <th [class.active]="order==='name'" (click)="setOrder('name')">
                  Item Type Name
                  <span [hidden]="reverse==''">▼</span><span [hidden]="reverse!=''">▲</span>
                </th>
                <th [class.active]="order==='hostingFee'" (click)="setOrder('hostingFee')">
                  Hosting Fee
                  <span [hidden]="reverse==''">▼</span><span [hidden]="reverse!=''">▲</span>
                </th>
                <th [class.active]="order==='description'" (click)="setOrder('description')">
                  Description
                  <span [hidden]="reverse==''">▼</span><span [hidden]="reverse!=''">▲</span>
                </th>
                <th>Attributes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let type of locationsTypes
                  | orderBy: reverse + order
                  | filterBy: ['name','hostingFee','description']: typeFilter
                  | paginate: { itemsPerPage: itemsForPagination, currentPage: p }"
              >
                <td [innerHTML]="type.name"></td>
                <td [innerHTML]="type.hostingFee"></td>
                <td [innerHTML]="type.description"></td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    title="Click here to Manage Item Attributes"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    [routerLink]="['../attributes', type.typeId, companyId]"
                  >
                    Manage Attributes
                  </button>
                </td>
                <td>
                  <button
                    *ngIf="highestRankNum > 3"
                    type="button"
                    class="btn btn-outline-danger btn-sm mb-1 btn-right"
                    title="Edit this Type"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    [routerLink]="['../editItemType', type.typeId, companyId]"
                  >
                    Edit
                  </button>
                  <button
                    *ngIf="highestRankNum > 3"
                    type="button"
                    class="btn btn-outline-danger btn-sm mb-1"
                    title="Delete this Type"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    (click)="openModal(confirmtemplate, type.typeId)"
                    [disabled]="highestRankNum == 9"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-controls class="my-pagination" (pageChange)="p=$event" [autoHide]="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title">Second modal</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    This is nested modal.
    <br />
    <button *ngIf="modalRef" type="button" class="btn btn-danger" (click)="closeFirstModal()">
      Close first modal
    </button>
  </div>
</ng-template>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-primary btn-right btn-group" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary btn-group" (click)="decline()">No</button>
  </div>
</ng-template>

<div
  *ngIf="loader"
  class="position-fixed w-100 h-100 top-0 start-0"
  style="background-color: rgba(0,0,0,0.5); z-index: 2; cursor: pointer;"
>
  <div class="loader"></div>
</div>

<style>
  .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    animation: spin 2s linear infinite;
    z-index: 1050;
  }
  @keyframes spin {0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
</style>
