
@import "bootstrap-variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "core-variables";
@import "core/core";
@import "custom";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.custom-dropdown {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="grey"/></svg>')
    no-repeat right 10px center; 
  background-size: 10px; 
  padding-right: 30px; 
}

.custom-dropdown:focus {
  outline: none; 
  border-color: #000000; 
}
