<div class="animated fadeIn" *ngIf="highestRank > 4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <button
            type="button"
            (click)="print()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title="Click to Print this Page"
            class="btn btn-outline-danger btn-sm btn-right btn-top"
          >
            Print
          </button>
          <button
            type="button"
            (click)="help()"
            data-bs-placement="bottom"
            data-bs-toggle="tooltip"
            title=" Instructions"
            class="btn btn-outline-danger btn-sm btn-top"
          >
            Help
          </button>
          <div
            style="
              text-align: left;
              border: 1px solid;
              width: fit-content;
              background-color: whitesmoke;
            "
            *ngIf="helpFlag == true"
          >
            * To create a new type:<br />
            1.Enter the information for the new type.<br />
            2.Click the 'Save' button.<br />
            * To edit an existing type:<br />
            1.Click the 'Edit' button.<br />
            2.Make necessary changes.<br />
            3.Click the 'Update' button.<br />
            * To delete an existing type:<br />
            1.Click the 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            Manage {{ companyName }} Locations types
            <button
              type="button"
              [disabled]="highestRank < 6"
              class="btn btn-primary float-right"
              [routerLink]="['../addLocationType']"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title="Add a new LocationType."
              placement="top"
            >
              Add Location Type
            </button>
          </p>
          <div class="select-pagination-option">
            <div class="float-left">
              <span
                >Show
                <select [(ngModel)]="itemsForPagination">
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select>
                entries
              </span>
            </div>
          </div>
          <div class="float-right div-search">
            <span>Search : </span>
            <input [(ngModel)]="locationTypeFilter" />
          </div>

          <table
            class="table table-responsive-sm table-hover table-outline mb-0 mt-2"
          >
            <thead class="thead-light">
              <tr>
                <th
                  [class.active]="order === 'name'"
                  (click)="setOrder('name')"
                >
                  Location Type Name<span [hidden]="reverse == ''">▼</span
                  ><span [hidden]="reverse != ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'hostingfee'"
                  (click)="setOrder('hostingfee')"
                >
                  Hosting Fee<span [hidden]="reverse == ''">▼</span
                  ><span [hidden]="reverse != ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'parentid'"
                  (click)="setOrder('parentid')"
                >
                  Parent Type<span [hidden]="reverse == ''">▼</span
                  ><span [hidden]="reverse != ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'description'"
                  (click)="setOrder('description')"
                >
                  Description<span [hidden]="reverse == ''">▼</span
                  ><span [hidden]="reverse != ''">▲</span>
                </th>
                <th>Attributes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let type of locationsTypes
                    | orderBy : reverse + order
                    | filterBy
                      : ['name', 'hostingfee', 'parentid', 'description']
                      : locationTypeFilter
                    | paginate
                      : { itemsPerPage: itemsForPagination, currentPage: p }
                "
              >
                <!--| orderBy: reverse+order | filterBy : ['name','phone','state']: locationTypeFilter | paginate: { itemsPerPage: itemsForPagination, currentPage: p }-->
                <td>{{ type.name }}</td>
                <td>{{ type.hostingfee }}</td>
                <td>{{ type.parentid }}</td>
                <td>{{ type.description }}</td>
                <td>
                  <button
                    type="button"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Click here to Manage Location Attributes"
                    [disabled]="highestRank < 5"
                    class="btn btn-outline-success btn-sm"
                    [routerLink]="['../attributes', type.typeid, companyId]"
                  >
                    Manage Attributes
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    [disabled]="highestRank < 6"
                    class="btn btn-outline-danger btn-sm mb-1 btn-right"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Update this Type"
                    [routerLink]="[
                      '../editLocationType',
                      type.typeid,
                      companyId
                    ]"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    [disabled]="highestRank < 6 || highestRank == 9"
                    class="btn btn-outline-danger btn-sm mb-1"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Delete this Type"
                    (click)="openModal(confirmtemplate, type.typeid)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Second modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is nested modal.
    <br />
    <button
      *ngIf="modalRef"
      type="button"
      class="btn btn-danger"
      (click)="closeFirstModal()"
    >
      Close first modal
    </button>
  </div>
</ng-template>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click(Yes) to permanently delete this type or Click(No) to discard This
      action.
    </p>
    <button type="button" class="btn btn-primary" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
