<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-padding">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Manage {{ companyName }} Notes
            <button
              type="button"
              class="btn btn-primary float-end"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Add Notes."
              (click)="addNotes()"
            >
              Add Notes
            </button>
          </p>

        <div>
            <div class="float-start">
              <span>
                Show
                <select
                  [(ngModel)]="itemsForPagination"
                  (change)="onChange($event.target)"
                >
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select>
                entries
              </span>
            </div>
          </div>

          <div class="float-end div-search">
            <span>Search : </span>
            <input [(ngModel)]="companyNotesFilter" class="form-control d-inline-block w-auto" />
          </div>

          <table
            class="table table-responsive-sm table-hover table-outline mb-0"
          >
            <thead class="thead-light">
              <tr>
                <th
                  [class.active]="order === 'enteredOn'"
                  (click)="setOrder('enteredOn')"
                >
                  Date
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'entityName'"
                  (click)="setOrder('entityName')"
                >
                  Title
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'jobNumber'"
                  (click)="setOrder('jobNumber')"
                >
                  Job
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'poNumber'"
                  (click)="setOrder('poNumber')"
                >
                  PO
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th
                  [class.active]="order === 'enteredBy'"
                  (click)="setOrder('enteredBy')"
                >
                  By
                  <span [hidden]="reverse === ''">▼</span>
                  <span [hidden]="reverse !== ''">▲</span>
                </th>
                <th>Attachments</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let note of notes
                    | orderBy: reverse + order
                    | filterBy:
                        [
                          'enteredOn',
                          'entityName',
                          'jobNumber',
                          'poNumber',
                          'enteredBy'
                        ]: companyNotesFilter
                    | paginate: { itemsPerPage: itemsForPagination, currentPage: p }
                "
              >
                <td>{{ note.effectiveOn | date: 'MM/dd/yyyy' }}</td>
                <td>{{ note.entityName }}</td>
                <td>{{ note.jobNumber }}</td>
                <td>{{ note.poNumber }}</td>
                <td>{{ note.enteredBy }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Company Attachments"
                    (click)="companyNoteAttachments(note)"
                  >
                    Attachments
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm margin-bottom-mobile"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="View Company Note"
                    (click)="viewCompanyNotes(note)"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm margin-bottom-mobile"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Edit Company Note"
                    (click)="editCompanyNotes(note)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    data-bs-placement="bottom"
                    data-bs-toggle="tooltip"
                    title="Delete Company Note"
                    class="btn btn-outline-danger btn-sm"
                    (click)="openModal(confirmtemplate, note.journalId)"
                    disabled="highestRank == 9"
                    >
                  Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmtemplate>
  <div class="modal-body text-center">
    <p>
      Click (Ok) to permanently delete this Note or Click (Cancel) to discard
      this action.
    </p>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      (click)="confirm()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div *ngIf="loader" class="loader-overlay">
  <div class="loader"></div>
</div>
