.margin-right {
  margin-right: 10%;
}

.text-right {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.btn-right {
  margin-right: 5px;
}

.btn-top {
  margin-top: 5px;
}
