<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="form-group col-sm-12 text-right">
          <div class="style">
            <button
              type="button"
              (click)="print()"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title="Click to Print this Page"
              class="btn btn-outline-danger btn-sm btn-right btn-top"
            >
              Print
            </button>
            <button
              type="button"
              (click)="help()"
              data-bs-placement="bottom"
              data-bs-toggle="tooltip"
              title="Instructions"
              class="btn btn-outline-danger btn-sm btn-top"
            >
              Help
            </button>
          </div>

          <div
            *ngIf="helpFlag === true"
            class="help-box"
          >
            *To add an attachment:<br />
            1.Click the 'Choose File' button to locate the desired file.<br />
            2.Enter a description for the file.<br />
            3.Click the 'Save' button.<br />
            *To edit an attachment:<br />
            1.Click the 'Edit' button.<br />
            2.Make neccesary changes.<br />
            3.Click on 'Update' button.<br />
            *To delete an attachment:<br />
            1.Click the 'Delete' button.
          </div>
        </div>

        <div class="card-body">
          <alert *ngIf="index > 0" type="success" [dismissible]="dismissible">
            Added attachments to Note successfully.
          </alert>

          <alert *ngIf="index === -1" type="danger" [dismissible]="dismissible">
            please upload file
          </alert>

          <div>
            <strong>Note: "{{ noteAttachmentTitle }}" </strong>
          </div>

          <div class="modal-body mobile-padding">
            <div class="col-sm-12 mobile-padding">
              <div class="card">
                <div class="card-header">
                  <strong>Add Item Note Attachments</strong>
                </div>

                <form #f="ngForm" (ngSubmit)="saveItemDocument()" novalidate>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <input type="hidden" [(ngModel)]="model.added" name="added" />
                        <input type="hidden" [(ngModel)]="model.by" name="by" />
                        <input type="hidden" [(ngModel)]="model._id" name="_id" />
                        <input type="hidden" [(ngModel)]="model.companyId" name="companyId" />
                      </div>
                    </div>

                    <div style="overflow:auto">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>File</th>
                            <th>Description</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of addedfiles; let i = index">
                            <td>
                              <input
                                type="file"
                                class="form-control bg-white"
                                (change)="fileChangeListener($event, i)"
                                [attr.id]="'file' + i"
                              />
                            </td>
                            <td>
                              <textarea
                                rows="2"
                                cols="4"
                                class="form-control bg-white"
                                [(ngModel)]="item.description"
                                [name]="'description' + i"
                                placeholder="Enter Description"
                              ></textarea>
                            </td>
                            <td>
                              <button
                                *ngIf="i > 0"
                                type="button"
                                (click)="remove(i)"
                                data-bs-placement="bottom"
                                data-bs-toggle="tooltip"
                                title="Click here to remove File"
                                [disabled]="highestRank == 9"
                              >
                                Remove
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="button"
                          (click)="addNewAttachment()"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Click here to Add File"
                        >
                          Add File
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-12 text-center">
                        <button
                          type="submit"
                          class="btn btn-primary btn-right btn-top mt-2"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Save Note Attachment"
                          style="border-radius: 6px;"
                        >
                          Save
                        </button>
                        <button
                          type="button"
                          (click)="cancelItemDocument()"
                          class="btn btn-primary btn-top mt-2"
                          data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="Cancel"
                          style="border-radius: 6px;"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loader" class="overlay-loader">
  <div class="loader"></div>
</div>

<style>
  .help-box {
    text-align: left;
    border: 1px solid;
    width: fit-content;
    margin-left: 20px;
    padding: 10px;
    background-color: whitesmoke;
  }

  .overlay-loader {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .btn-link {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd;
    cursor: pointer;
  }
</style>
